flows/BK Buttons.json
[
  {
    "id": "bc06885f.8d8148",
    "type": "tab",
    "label": "BK Buttons",
    "disabled": false,
    "info": ""
  },
  {
    "id": "c639fd69.8ad89",
    "type": "ui_button",
    "z": "bc06885f.8d8148",
    "name": "",
    "group": "9d59abb0.326b08",
    "order": 8,
    "width": "2",
    "height": "1",
    "passthru": false,
    "label": "PID",
    "tooltip": "",
    "color": "",
    "bgcolor": "{{colour}}",
    "icon": "",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 290,
    "y": 80,
    "wires": [
      [
        "5ebb22ba.77a06c"
      ]
    ]
  },
  {
    "id": "f481b3eb.0e596",
    "type": "ui_button",
    "z": "bc06885f.8d8148",
    "name": "",
    "group": "9d59abb0.326b08",
    "order": 9,
    "width": "2",
    "height": "1",
    "passthru": false,
    "label": "Manual",
    "tooltip": "",
    "color": "",
    "bgcolor": "{{colour}}",
    "icon": "",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 300,
    "y": 120,
    "wires": [
      [
        "a1d6ac13.d6f75"
      ]
    ]
  },
  {
    "id": "f6d1bd88.dd031",
    "type": "ui_button",
    "z": "bc06885f.8d8148",
    "name": "",
    "group": "9d59abb0.326b08",
    "order": 10,
    "width": "2",
    "height": "1",
    "passthru": false,
    "label": "Off",
    "tooltip": "",
    "color": "",
    "bgcolor": "{{colour}}",
    "icon": "",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 290,
    "y": 160,
    "wires": [
      [
        "47be6372.5f661c"
      ]
    ]
  },
  {
    "id": "5ebb22ba.77a06c",
    "type": "link out",
    "z": "bc06885f.8d8148",
    "name": "BK PID Button State",
    "links": [
      "60bfcb5c.025064",
      "bd9694b8.3ebb48",
      "2cd8654b.39c13a",
      "6c67cf55.ef55e"
    ],
    "x": 435,
    "y": 80,
    "wires": []
  },
  {
    "id": "a1d6ac13.d6f75",
    "type": "link out",
    "z": "bc06885f.8d8148",
    "name": "BK Manual Button State",
    "links": [
      "dbde6681.3eb628",
      "e75b51c9.c7ea5",
      "bd9694b8.3ebb48",
      "2cd8654b.39c13a",
      "6c67cf55.ef55e"
    ],
    "x": 435,
    "y": 120,
    "wires": []
  },
  {
    "id": "47be6372.5f661c",
    "type": "link out",
    "z": "bc06885f.8d8148",
    "name": "BK Off Button State",
    "links": [
      "2cd8654b.39c13a",
      "436a459d.45dfec",
      "6c67cf55.ef55e",
      "6d273bd8.04c514",
      "b875aa94.3560b8",
      "bd9694b8.3ebb48"
    ],
    "x": 435,
    "y": 160,
    "wires": []
  },
  {
    "id": "bd9694b8.3ebb48",
    "type": "link in",
    "z": "bc06885f.8d8148",
    "name": "BK PID Button State",
    "links": [
      "47be6372.5f661c",
      "5ebb22ba.77a06c",
      "a1d6ac13.d6f75"
    ],
    "x": 195,
    "y": 340,
    "wires": [
      [
        "d086a627.07a418"
      ]
    ]
  },
  {
    "id": "d086a627.07a418",
    "type": "delay",
    "z": "bc06885f.8d8148",
    "name": "PID Delay",
    "pauseType": "delay",
    "timeout": "0.2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 300,
    "y": 340,
    "wires": [
      [
        "57361001.0237f"
      ]
    ]
  },
  {
    "id": "57361001.0237f",
    "type": "switch",
    "z": "bc06885f.8d8148",
    "name": "",
    "property": "bk_on",
    "propertyType": "global",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "false"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 350,
    "y": 380,
    "wires": [
      [
        "27ee6f41.9546e"
      ],
      [
        "9aa447b6.8527d8"
      ]
    ]
  },
  {
    "id": "27ee6f41.9546e",
    "type": "switch",
    "z": "bc06885f.8d8148",
    "name": "",
    "property": "bk_pid",
    "propertyType": "global",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "false"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 510,
    "y": 360,
    "wires": [
      [
        "6645ee2d.d50c2"
      ],
      [
        "9aa447b6.8527d8"
      ]
    ]
  },
  {
    "id": "6645ee2d.d50c2",
    "type": "change",
    "z": "bc06885f.8d8148",
    "name": "BK PID on colour",
    "rules": [
      {
        "t": "set",
        "p": "colour",
        "pt": "msg",
        "to": "#424242",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 690,
    "y": 340,
    "wires": [
      [
        "4211a37e.9ed7bc"
      ]
    ]
  },
  {
    "id": "9aa447b6.8527d8",
    "type": "change",
    "z": "bc06885f.8d8148",
    "name": "BK PID off colour",
    "rules": [
      {
        "t": "set",
        "p": "colour",
        "pt": "msg",
        "to": "grey",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 690,
    "y": 380,
    "wires": [
      [
        "4211a37e.9ed7bc"
      ]
    ]
  },
  {
    "id": "4211a37e.9ed7bc",
    "type": "link out",
    "z": "bc06885f.8d8148",
    "name": "BK PID button colour",
    "links": [
      "cbface26.d2927"
    ],
    "x": 835,
    "y": 360,
    "wires": []
  },
  {
    "id": "cbface26.d2927",
    "type": "link in",
    "z": "bc06885f.8d8148",
    "name": "BK PID button colour",
    "links": [
      "4211a37e.9ed7bc"
    ],
    "x": 195,
    "y": 80,
    "wires": [
      [
        "c639fd69.8ad89"
      ]
    ]
  },
  {
    "id": "2cd8654b.39c13a",
    "type": "link in",
    "z": "bc06885f.8d8148",
    "name": "BK Manual Button State",
    "links": [
      "47be6372.5f661c",
      "5ebb22ba.77a06c",
      "a1d6ac13.d6f75"
    ],
    "x": 195,
    "y": 460,
    "wires": [
      [
        "2432e386.fc43fc"
      ]
    ]
  },
  {
    "id": "2432e386.fc43fc",
    "type": "delay",
    "z": "bc06885f.8d8148",
    "name": "Manual Delay",
    "pauseType": "delay",
    "timeout": "0.2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 330,
    "y": 460,
    "wires": [
      [
        "ba948565.417b18"
      ]
    ]
  },
  {
    "id": "ba948565.417b18",
    "type": "switch",
    "z": "bc06885f.8d8148",
    "name": "",
    "property": "bk_on",
    "propertyType": "global",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "false"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 350,
    "y": 500,
    "wires": [
      [
        "b8d7624d.29c04"
      ],
      [
        "13a55cce.3771f3"
      ]
    ]
  },
  {
    "id": "b8d7624d.29c04",
    "type": "switch",
    "z": "bc06885f.8d8148",
    "name": "",
    "property": "bk_pid",
    "propertyType": "global",
    "rules": [
      {
        "t": "false"
      },
      {
        "t": "true"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 510,
    "y": 480,
    "wires": [
      [
        "cdd78f9f.5afbe"
      ],
      [
        "13a55cce.3771f3"
      ]
    ]
  },
  {
    "id": "cdd78f9f.5afbe",
    "type": "change",
    "z": "bc06885f.8d8148",
    "name": "BK manual on colour",
    "rules": [
      {
        "t": "set",
        "p": "colour",
        "pt": "msg",
        "to": "#424242",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 700,
    "y": 460,
    "wires": [
      [
        "d56f2e16.65b5c"
      ]
    ]
  },
  {
    "id": "13a55cce.3771f3",
    "type": "change",
    "z": "bc06885f.8d8148",
    "name": "BK manual off colour",
    "rules": [
      {
        "t": "set",
        "p": "colour",
        "pt": "msg",
        "to": "grey",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 700,
    "y": 500,
    "wires": [
      [
        "d56f2e16.65b5c"
      ]
    ]
  },
  {
    "id": "d56f2e16.65b5c",
    "type": "link out",
    "z": "bc06885f.8d8148",
    "name": "BK Manual button colour",
    "links": [
      "83bda46a.a3a978"
    ],
    "x": 855,
    "y": 480,
    "wires": []
  },
  {
    "id": "6c67cf55.ef55e",
    "type": "link in",
    "z": "bc06885f.8d8148",
    "name": "BK Off Button State",
    "links": [
      "47be6372.5f661c",
      "5ebb22ba.77a06c",
      "a1d6ac13.d6f75"
    ],
    "x": 195,
    "y": 560,
    "wires": [
      [
        "7575ff99.850e8"
      ]
    ]
  },
  {
    "id": "7575ff99.850e8",
    "type": "delay",
    "z": "bc06885f.8d8148",
    "name": "Off Delay",
    "pauseType": "delay",
    "timeout": "0.2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 310,
    "y": 560,
    "wires": [
      [
        "bd730949.04f718"
      ]
    ]
  },
  {
    "id": "bd730949.04f718",
    "type": "switch",
    "z": "bc06885f.8d8148",
    "name": "",
    "property": "bk_on",
    "propertyType": "global",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "false"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 370,
    "y": 600,
    "wires": [
      [
        "dc8fb8c.8f09e48"
      ],
      [
        "ca8f4ef4.9f398"
      ]
    ]
  },
  {
    "id": "dc8fb8c.8f09e48",
    "type": "change",
    "z": "bc06885f.8d8148",
    "name": "bk Off on colour",
    "rules": [
      {
        "t": "set",
        "p": "colour",
        "pt": "msg",
        "to": "grey",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 540,
    "y": 580,
    "wires": [
      [
        "7f88982.76c6468"
      ]
    ]
  },
  {
    "id": "ca8f4ef4.9f398",
    "type": "change",
    "z": "bc06885f.8d8148",
    "name": "bk Off off colour",
    "rules": [
      {
        "t": "set",
        "p": "colour",
        "pt": "msg",
        "to": "#424242",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 540,
    "y": 620,
    "wires": [
      [
        "7f88982.76c6468"
      ]
    ]
  },
  {
    "id": "7f88982.76c6468",
    "type": "link out",
    "z": "bc06885f.8d8148",
    "name": "BK Off button colour",
    "links": [
      "da182aa8.9c2348"
    ],
    "x": 675,
    "y": 600,
    "wires": []
  },
  {
    "id": "d6e37837.52d078",
    "type": "ui_ui_control",
    "z": "bc06885f.8d8148",
    "name": "Dashboard connection",
    "events": "all",
    "x": 290,
    "y": 240,
    "wires": [
      [
        "5afbb318.65587c"
      ]
    ]
  },
  {
    "id": "5afbb318.65587c",
    "type": "link out",
    "z": "bc06885f.8d8148",
    "name": "Off button - initialization",
    "links": [
      "92a7063d.ec6ef8",
      "bb3098e7.1d62e8",
      "d9ed449.051e0b8"
    ],
    "x": 445,
    "y": 240,
    "wires": []
  },
  {
    "id": "92a7063d.ec6ef8",
    "type": "link in",
    "z": "bc06885f.8d8148",
    "name": "BK PID Button initialization",
    "links": [
      "5afbb318.65587c"
    ],
    "x": 195,
    "y": 380,
    "wires": [
      [
        "57361001.0237f"
      ]
    ]
  },
  {
    "id": "bb3098e7.1d62e8",
    "type": "link in",
    "z": "bc06885f.8d8148",
    "name": "BK Manual Button initialization",
    "links": [
      "5afbb318.65587c"
    ],
    "x": 195,
    "y": 500,
    "wires": [
      [
        "ba948565.417b18"
      ]
    ]
  },
  {
    "id": "d9ed449.051e0b8",
    "type": "link in",
    "z": "bc06885f.8d8148",
    "name": "BK Off Button initialization",
    "links": [
      "5afbb318.65587c"
    ],
    "x": 195,
    "y": 600,
    "wires": [
      [
        "bd730949.04f718"
      ]
    ]
  },
  {
    "id": "83bda46a.a3a978",
    "type": "link in",
    "z": "bc06885f.8d8148",
    "name": "BK Manual button colour",
    "links": [
      "d56f2e16.65b5c"
    ],
    "x": 195,
    "y": 120,
    "wires": [
      [
        "f481b3eb.0e596"
      ]
    ]
  },
  {
    "id": "da182aa8.9c2348",
    "type": "link in",
    "z": "bc06885f.8d8148",
    "name": "BK Off button colour",
    "links": [
      "7f88982.76c6468"
    ],
    "x": 195,
    "y": 160,
    "wires": [
      [
        "f6d1bd88.dd031"
      ]
    ]
  }
]