flows/Brewfather.json
[
  {
    "id": "fc0846e9.930178",
    "type": "tab",
    "label": "Brewfather",
    "disabled": false,
    "info": ""
  },
  {
    "id": "97e7c3bf.9f87f",
    "type": "ui_button",
    "z": "fc0846e9.930178",
    "name": "",
    "group": "e010af88.2414c",
    "order": 2,
    "width": 4,
    "height": 1,
    "passthru": false,
    "label": "Load It!",
    "tooltip": "",
    "color": "#757575",
    "bgcolor": "#e0e0e0",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "x": 120,
    "y": 120,
    "wires": [
      [
        "15a3b477.b1cf9c"
      ]
    ]
  },
  {
    "id": "15a3b477.b1cf9c",
    "type": "brewfather-api-request",
    "z": "fc0846e9.930178",
    "name": "Get Batch",
    "property": "selected_batch_id",
    "propertyType": "flow",
    "endpoint": "getbatch",
    "include": [],
    "complete": false,
    "inventoryexist": false,
    "inventoryadjust": "",
    "inventory": "",
    "status": "Planning",
    "offset": 0,
    "limit": 10,
    "x": 290,
    "y": 120,
    "wires": [
      [
        "964215ad.705758",
        "767615c5.d60ebc"
      ]
    ]
  },
  {
    "id": "964215ad.705758",
    "type": "function",
    "z": "fc0846e9.930178",
    "name": "take first batch",
    "func": "//msg.payload = msg.payload[0];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 470,
    "y": 120,
    "wires": [
      [
        "fdccda04.4999b8",
        "26174779.03ee78",
        "148ed230.9efb7e",
        "87f9208b.a6c65"
      ]
    ]
  },
  {
    "id": "767615c5.d60ebc",
    "type": "debug",
    "z": "fc0846e9.930178",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 460,
    "y": 160,
    "wires": []
  },
  {
    "id": "fdccda04.4999b8",
    "type": "function",
    "z": "fc0846e9.930178",
    "name": "num of mash steps",
    "func": "var count = msg.payload.mashStepsCount + 1\nmsg.payload = count;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 710,
    "y": 20,
    "wires": [
      []
    ]
  },
  {
    "id": "26174779.03ee78",
    "type": "function",
    "z": "fc0846e9.930178",
    "name": "step times",
    "func": "var batch = msg.payload;\nvar numOfSteps = batch.mashStepsCount;\nvar times = [{payload: 0}, null, null, null]\n\nfor (var i = 1; i <= numOfSteps; i++) {\n    times[i] = { payload: batch.recipe.mash.steps[i-1].stepTime }\n}\n\nreturn times;",
    "outputs": 4,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 700,
    "y": 80,
    "wires": [
      [],
      [],
      [],
      []
    ]
  },
  {
    "id": "148ed230.9efb7e",
    "type": "function",
    "z": "fc0846e9.930178",
    "name": "step temps",
    "func": "var batch = msg.payload;\nvar temps = batch.recipe.mash.steps.map(function(step) {\n    return { payload: step.stepTemp }\n});\nreturn temps;",
    "outputs": 4,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 690,
    "y": 160,
    "wires": [
      [],
      [],
      [],
      []
    ]
  },
  {
    "id": "87f9208b.a6c65",
    "type": "function",
    "z": "fc0846e9.930178",
    "name": "recipe info",
    "func": "var batch = msg.payload;\nmsg.batchName = batch.name;\nmsg.batchNumber = batch.batchNo;\nmsg.recipeName = batch.recipe.name;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 690,
    "y": 240,
    "wires": [
      [
        "48a178a1.570778"
      ]
    ]
  },
  {
    "id": "48a178a1.570778",
    "type": "ui_template",
    "z": "fc0846e9.930178",
    "group": "e010af88.2414c",
    "name": "",
    "order": 5,
    "width": 6,
    "height": 2,
    "format": "<div style=\"text-align: center; font-size: 20px\">\n    <div style=\"width: 100%\">\n        <span>{{msg.batchName || '&lt;recipe info not loaded&gt;'}}</span>\n        <span>{{msg.batchNumber}}</span>\n    </div>\n    <span>{{msg.recipeName}}</span>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "templateScope": "local",
    "x": 880,
    "y": 240,
    "wires": [
      []
    ]
  },
  {
    "id": "b7b1316e.bf4a8",
    "type": "inject",
    "z": "fc0846e9.930178",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{}",
    "payloadType": "json",
    "x": 700,
    "y": 300,
    "wires": [
      [
        "48a178a1.570778"
      ]
    ]
  },
  {
    "id": "3599db9.31bc724",
    "type": "ui_button",
    "z": "fc0846e9.930178",
    "name": "",
    "group": "e010af88.2414c",
    "order": 1,
    "width": 4,
    "height": 1,
    "passthru": false,
    "label": "Refresh from BF!",
    "tooltip": "",
    "color": "#757575",
    "bgcolor": "#e0e0e0",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "x": 130,
    "y": 380,
    "wires": [
      [
        "29d50e51.cceb82"
      ]
    ]
  },
  {
    "id": "a67e4262.c5c3c",
    "type": "inject",
    "z": "fc0846e9.930178",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 170,
    "y": 440,
    "wires": [
      [
        "29d50e51.cceb82"
      ]
    ]
  },
  {
    "id": "29d50e51.cceb82",
    "type": "brewfather-api-request",
    "z": "fc0846e9.930178",
    "name": "Get Batches",
    "property": "payload",
    "propertyType": "msg",
    "endpoint": "getbatches",
    "include": [],
    "complete": true,
    "inventoryexist": false,
    "inventoryadjust": "",
    "inventory": "",
    "status": "Planning",
    "offset": 0,
    "limit": 10,
    "x": 350,
    "y": 410,
    "wires": [
      [
        "9a90dc8.b1fc72",
        "7f0d654a.e9098c"
      ]
    ]
  },
  {
    "id": "9a90dc8.b1fc72",
    "type": "debug",
    "z": "fc0846e9.930178",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 430,
    "y": 340,
    "wires": []
  },
  {
    "id": "7f0d654a.e9098c",
    "type": "sort",
    "z": "fc0846e9.930178",
    "name": "",
    "order": "descending",
    "as_num": true,
    "target": "payload",
    "targetType": "msg",
    "msgKey": "payload.batchNo",
    "msgKeyType": "jsonata",
    "seqKey": "payload",
    "seqKeyType": "msg",
    "x": 440,
    "y": 460,
    "wires": [
      [
        "2268d43a.aa6dcc"
      ]
    ]
  },
  {
    "id": "2268d43a.aa6dcc",
    "type": "function",
    "z": "fc0846e9.930178",
    "name": "transform options",
    "func": "var options = msg.payload.map(function(batch) {\n    var label = batch.name + \" #\" + batch.batchNo + \" - \" + batch.recipe.name;\n    var option = {};\n    option[label] = batch._id;\n    return option;\n});\nmsg.options = options;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 550,
    "y": 500,
    "wires": [
      [
        "898514c6.9a46a8"
      ]
    ]
  },
  {
    "id": "898514c6.9a46a8",
    "type": "ui_dropdown",
    "z": "fc0846e9.930178",
    "name": "",
    "label": "",
    "tooltip": "",
    "place": "Select batch",
    "group": "e010af88.2414c",
    "order": 3,
    "width": 8,
    "height": 1,
    "passthru": true,
    "options": [
      {
        "label": "",
        "value": "",
        "type": "str"
      }
    ],
    "payload": "",
    "topic": "",
    "x": 660,
    "y": 540,
    "wires": [
      [
        "50af8008.a9bb6"
      ]
    ]
  },
  {
    "id": "50af8008.a9bb6",
    "type": "change",
    "z": "fc0846e9.930178",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "selected_batch_id",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 840,
    "y": 600,
    "wires": [
      []
    ]
  }
]