flows/Brewfather.json
[
  {
    "id": "fc0846e9.930178",
    "type": "tab",
    "label": "Brewfather",
    "disabled": true,
    "info": ""
  },
  {
    "id": "97e7c3bf.9f87f",
    "type": "ui_button",
    "z": "fc0846e9.930178",
    "name": "",
    "group": "e010af88.2414c",
    "order": 2,
    "width": 4,
    "height": 1,
    "passthru": false,
    "label": "Load It!",
    "tooltip": "",
    "color": "#757575",
    "bgcolor": "#e0e0e0",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "x": 180,
    "y": 160,
    "wires": [
      [
        "15a3b477.b1cf9c"
      ]
    ]
  },
  {
    "id": "15a3b477.b1cf9c",
    "type": "brewfather-api-request",
    "z": "fc0846e9.930178",
    "d": true,
    "name": "Get Batch",
    "property": "selected_batch_id",
    "propertyType": "flow",
    "endpoint": "getbatch",
    "include": [],
    "complete": false,
    "inventoryexist": false,
    "inventoryadjust": "",
    "inventory": "",
    "status": "Planning",
    "offset": 0,
    "limit": 10,
    "x": 350,
    "y": 160,
    "wires": [
      [
        "964215ad.705758",
        "767615c5.d60ebc"
      ]
    ]
  },
  {
    "id": "964215ad.705758",
    "type": "function",
    "z": "fc0846e9.930178",
    "name": "take first batch",
    "func": "//msg.payload = msg.payload[0];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 530,
    "y": 160,
    "wires": [
      [
        "fdccda04.4999b8",
        "26174779.03ee78",
        "148ed230.9efb7e",
        "87f9208b.a6c65"
      ]
    ]
  },
  {
    "id": "767615c5.d60ebc",
    "type": "debug",
    "z": "fc0846e9.930178",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 520,
    "y": 200,
    "wires": []
  },
  {
    "id": "fdccda04.4999b8",
    "type": "function",
    "z": "fc0846e9.930178",
    "name": "num of mash steps",
    "func": "var count = msg.payload.mashStepsCount + 1\nmsg.payload = count;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 770,
    "y": 60,
    "wires": [
      []
    ]
  },
  {
    "id": "26174779.03ee78",
    "type": "function",
    "z": "fc0846e9.930178",
    "name": "step times",
    "func": "var batch = msg.payload;\nvar numOfSteps = batch.mashStepsCount;\nvar times = [{payload: 0}, null, null, null]\n\nfor (var i = 1; i <= numOfSteps; i++) {\n    times[i] = { payload: batch.recipe.mash.steps[i-1].stepTime }\n}\n\nreturn times;",
    "outputs": 4,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 760,
    "y": 120,
    "wires": [
      [],
      [],
      [],
      []
    ]
  },
  {
    "id": "148ed230.9efb7e",
    "type": "function",
    "z": "fc0846e9.930178",
    "name": "step temps",
    "func": "var batch = msg.payload;\nvar temps = batch.recipe.mash.steps.map(function(step) {\n    return { payload: step.stepTemp }\n});\nreturn temps;",
    "outputs": 4,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 750,
    "y": 200,
    "wires": [
      [],
      [],
      [],
      []
    ]
  },
  {
    "id": "87f9208b.a6c65",
    "type": "function",
    "z": "fc0846e9.930178",
    "name": "recipe info",
    "func": "var batch = msg.payload;\nmsg.batchName = batch.name;\nmsg.batchNumber = batch.batchNo;\nmsg.recipeName = batch.recipe.name;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 750,
    "y": 280,
    "wires": [
      [
        "48a178a1.570778"
      ]
    ]
  },
  {
    "id": "48a178a1.570778",
    "type": "ui_template",
    "z": "fc0846e9.930178",
    "group": "e010af88.2414c",
    "name": "",
    "order": 5,
    "width": 6,
    "height": 2,
    "format": "<div style=\"text-align: center; font-size: 20px\">\n    <div style=\"width: 100%\">\n        <span>{{msg.batchName || '&lt;recipe info not loaded&gt;'}}</span>\n        <span>{{msg.batchNumber}}</span>\n    </div>\n    <span>{{msg.recipeName}}</span>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 940,
    "y": 280,
    "wires": [
      []
    ]
  },
  {
    "id": "b7b1316e.bf4a8",
    "type": "inject",
    "z": "fc0846e9.930178",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{}",
    "payloadType": "json",
    "x": 760,
    "y": 340,
    "wires": [
      [
        "48a178a1.570778"
      ]
    ]
  }
]