flows/Calibration.json
[
  {
    "id": "10a92214.f225ae",
    "type": "tab",
    "label": "Calibration",
    "disabled": false,
    "info": ""
  },
  {
    "id": "3fbb4083.48588",
    "type": "link in",
    "z": "10a92214.f225ae",
    "name": "HLT raw temperature input",
    "links": [
      "78391837.520088"
    ],
    "x": 135,
    "y": 300,
    "wires": [
      [
        "e129d311.79166"
      ]
    ]
  },
  {
    "id": "e129d311.79166",
    "type": "ui_text",
    "z": "10a92214.f225ae",
    "group": "9f19d793.eac5f8",
    "order": 2,
    "width": 0,
    "height": 0,
    "name": "HLT Raw temperature",
    "label": "Raw",
    "format": "{{msg.payload | number:1}}°C",
    "layout": "row-spread",
    "x": 300,
    "y": 300,
    "wires": []
  },
  {
    "id": "f1a9f9c.d385308",
    "type": "inject",
    "z": "10a92214.f225ae",
    "name": "get global.HLT-raw-high",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "#:(storeInFile)::HLT-raw-high",
    "payloadType": "global",
    "x": 590,
    "y": 300,
    "wires": [
      [
        "7c0d3b95.ce9424",
        "9565d32f.51933"
      ]
    ]
  },
  {
    "id": "7c0d3b95.ce9424",
    "type": "ui_numeric",
    "z": "10a92214.f225ae",
    "name": "HLT Raw High",
    "label": "Raw high",
    "tooltip": "",
    "group": "9f19d793.eac5f8",
    "order": 4,
    "width": 0,
    "height": 0,
    "wrap": false,
    "passthru": true,
    "topic": "",
    "format": "{{value}}c",
    "min": 0,
    "max": "100",
    "step": "0.05",
    "x": 820,
    "y": 260,
    "wires": [
      [
        "9565d32f.51933"
      ]
    ]
  },
  {
    "id": "9565d32f.51933",
    "type": "change",
    "z": "10a92214.f225ae",
    "name": "set global.HLT-raw-high",
    "rules": [
      {
        "t": "set",
        "p": "#:(storeInFile)::HLT-raw-high",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1050,
    "y": 300,
    "wires": [
      []
    ]
  },
  {
    "id": "5f536ef1.7045a",
    "type": "inject",
    "z": "10a92214.f225ae",
    "name": "get global.HLT-raw-low",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "#:(storeInFile)::HLT-raw-low",
    "payloadType": "global",
    "x": 590,
    "y": 380,
    "wires": [
      [
        "90aa0055.ee035",
        "792a85e7.08e24c"
      ]
    ]
  },
  {
    "id": "90aa0055.ee035",
    "type": "ui_numeric",
    "z": "10a92214.f225ae",
    "name": "HLT Raw Low",
    "label": "Raw low",
    "tooltip": "",
    "group": "9f19d793.eac5f8",
    "order": 5,
    "width": 0,
    "height": 0,
    "wrap": false,
    "passthru": true,
    "topic": "",
    "format": "{{value}}c",
    "min": 0,
    "max": "100",
    "step": "0.05",
    "x": 820,
    "y": 340,
    "wires": [
      [
        "792a85e7.08e24c"
      ]
    ]
  },
  {
    "id": "792a85e7.08e24c",
    "type": "change",
    "z": "10a92214.f225ae",
    "name": "set global.HLT-raw-low",
    "rules": [
      {
        "t": "set",
        "p": "#:(storeInFile)::HLT-raw-low",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1040,
    "y": 380,
    "wires": [
      []
    ]
  },
  {
    "id": "aba40de5.32352",
    "type": "link in",
    "z": "10a92214.f225ae",
    "name": "HLT calibrated temperature input",
    "links": [],
    "x": 135,
    "y": 380,
    "wires": [
      [
        "c399d0f3.8a1d2"
      ]
    ]
  },
  {
    "id": "c399d0f3.8a1d2",
    "type": "ui_text",
    "z": "10a92214.f225ae",
    "group": "9f19d793.eac5f8",
    "order": 3,
    "width": 0,
    "height": 0,
    "name": "HLT Calibrated temperature",
    "label": "Calibrated",
    "format": "{{msg.payload | number:1}}°C",
    "layout": "row-spread",
    "x": 320,
    "y": 380,
    "wires": []
  },
  {
    "id": "1b18956d.818bdb",
    "type": "link in",
    "z": "10a92214.f225ae",
    "name": "MLT Raw temp calibration",
    "links": [
      "958b2b91.c4c778"
    ],
    "x": 135,
    "y": 460,
    "wires": [
      [
        "e386fc7f.604b1"
      ]
    ]
  },
  {
    "id": "e386fc7f.604b1",
    "type": "ui_text",
    "z": "10a92214.f225ae",
    "group": "f52ce78c.180578",
    "order": 2,
    "width": 0,
    "height": 0,
    "name": "MLT Raw temperature",
    "label": "Raw",
    "format": "{{msg.payload | number:1}}°C",
    "layout": "row-spread",
    "x": 300,
    "y": 460,
    "wires": []
  },
  {
    "id": "934868d8.19b2f8",
    "type": "inject",
    "z": "10a92214.f225ae",
    "name": "get global.MLT-raw-high",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "#:(storeInFile)::MLT-raw-high",
    "payloadType": "global",
    "x": 590,
    "y": 460,
    "wires": [
      [
        "bafacf94.adcc2",
        "e8c29982.f791c8"
      ]
    ]
  },
  {
    "id": "bafacf94.adcc2",
    "type": "ui_numeric",
    "z": "10a92214.f225ae",
    "name": "MLT Raw High",
    "label": "Raw high",
    "tooltip": "",
    "group": "f52ce78c.180578",
    "order": 4,
    "width": 0,
    "height": 0,
    "wrap": false,
    "passthru": true,
    "topic": "",
    "format": "{{value}}c",
    "min": 0,
    "max": "100",
    "step": "0.05",
    "x": 820,
    "y": 420,
    "wires": [
      [
        "e8c29982.f791c8"
      ]
    ]
  },
  {
    "id": "e8c29982.f791c8",
    "type": "change",
    "z": "10a92214.f225ae",
    "name": "set global.MLT-raw-high",
    "rules": [
      {
        "t": "set",
        "p": "#:(storeInFile)::MLT-raw-high",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1050,
    "y": 460,
    "wires": [
      []
    ]
  },
  {
    "id": "e6406969.09ec48",
    "type": "inject",
    "z": "10a92214.f225ae",
    "name": "get global.MLT-raw-low",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "#:(storeInFile)::MLT-raw-low",
    "payloadType": "global",
    "x": 590,
    "y": 540,
    "wires": [
      [
        "395f2270.824cce",
        "b9f9e2ce.1392b"
      ]
    ]
  },
  {
    "id": "395f2270.824cce",
    "type": "ui_numeric",
    "z": "10a92214.f225ae",
    "name": "MLT Raw Low",
    "label": "Raw low",
    "tooltip": "",
    "group": "f52ce78c.180578",
    "order": 5,
    "width": 0,
    "height": 0,
    "wrap": false,
    "passthru": true,
    "topic": "",
    "format": "{{value}}c",
    "min": 0,
    "max": "100",
    "step": "0.05",
    "x": 820,
    "y": 500,
    "wires": [
      [
        "b9f9e2ce.1392b"
      ]
    ]
  },
  {
    "id": "b9f9e2ce.1392b",
    "type": "change",
    "z": "10a92214.f225ae",
    "name": "set global.MLT-raw-low",
    "rules": [
      {
        "t": "set",
        "p": "#:(storeInFile)::MLT-raw-low",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1040,
    "y": 540,
    "wires": [
      []
    ]
  },
  {
    "id": "f1d998e3.0c56d8",
    "type": "link in",
    "z": "10a92214.f225ae",
    "name": "MLT calibrated temperature input",
    "links": [
      "99f091b4.fb026"
    ],
    "x": 135,
    "y": 540,
    "wires": [
      [
        "919b73b3.e4bff"
      ]
    ]
  },
  {
    "id": "919b73b3.e4bff",
    "type": "ui_text",
    "z": "10a92214.f225ae",
    "group": "f52ce78c.180578",
    "order": 3,
    "width": 0,
    "height": 0,
    "name": "MLT Calibrated temperature",
    "label": "Calibrated",
    "format": "{{msg.payload | number:1}}°C",
    "layout": "row-spread",
    "x": 320,
    "y": 540,
    "wires": []
  },
  {
    "id": "7247a52b.2ac94c",
    "type": "link in",
    "z": "10a92214.f225ae",
    "name": "BK Raw temp calibration",
    "links": [
      "720cfea9.d2587"
    ],
    "x": 135,
    "y": 600,
    "wires": [
      [
        "1aa9abf6.f3b7a4"
      ]
    ]
  },
  {
    "id": "1aa9abf6.f3b7a4",
    "type": "ui_text",
    "z": "10a92214.f225ae",
    "group": "4db7f25b.b9ea8c",
    "order": 2,
    "width": 0,
    "height": 0,
    "name": "BK Raw temperature",
    "label": "Raw",
    "format": "{{msg.payload | number:1}}°C",
    "layout": "row-spread",
    "x": 300,
    "y": 600,
    "wires": []
  },
  {
    "id": "4db25c4b.6b1b64",
    "type": "inject",
    "z": "10a92214.f225ae",
    "name": "get global.BK-raw-high",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "#:(storeInFile)::BK-raw-high",
    "payloadType": "global",
    "x": 580,
    "y": 600,
    "wires": [
      [
        "e29b096b.1f0f88",
        "1bdeb36a.d3850d"
      ]
    ]
  },
  {
    "id": "e29b096b.1f0f88",
    "type": "ui_numeric",
    "z": "10a92214.f225ae",
    "name": "BK Raw High",
    "label": "Raw high",
    "tooltip": "",
    "group": "4db7f25b.b9ea8c",
    "order": 4,
    "width": 0,
    "height": 0,
    "wrap": false,
    "passthru": true,
    "topic": "",
    "format": "{{value}}c",
    "min": 0,
    "max": "100",
    "step": "0.05",
    "x": 810,
    "y": 560,
    "wires": [
      [
        "1bdeb36a.d3850d"
      ]
    ]
  },
  {
    "id": "1bdeb36a.d3850d",
    "type": "change",
    "z": "10a92214.f225ae",
    "name": "set global.BK-raw-high",
    "rules": [
      {
        "t": "set",
        "p": "#:(storeInFile)::BK-raw-high",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1040,
    "y": 600,
    "wires": [
      []
    ]
  },
  {
    "id": "1542ddd8.f8f412",
    "type": "inject",
    "z": "10a92214.f225ae",
    "name": "get global.BK-raw-low",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "#:(storeInFile)::BK-raw-low",
    "payloadType": "global",
    "x": 580,
    "y": 680,
    "wires": [
      [
        "33bf267b.12dfda",
        "5c0aecf6.91fd54"
      ]
    ]
  },
  {
    "id": "33bf267b.12dfda",
    "type": "ui_numeric",
    "z": "10a92214.f225ae",
    "name": "BK Raw Low",
    "label": "Raw low",
    "tooltip": "",
    "group": "4db7f25b.b9ea8c",
    "order": 5,
    "width": 0,
    "height": 0,
    "wrap": false,
    "passthru": true,
    "topic": "",
    "format": "{{value}}c",
    "min": 0,
    "max": "100",
    "step": "0.05",
    "x": 810,
    "y": 640,
    "wires": [
      [
        "5c0aecf6.91fd54"
      ]
    ]
  },
  {
    "id": "5c0aecf6.91fd54",
    "type": "change",
    "z": "10a92214.f225ae",
    "name": "set global.BK-raw-low",
    "rules": [
      {
        "t": "set",
        "p": "#:(storeInFile)::BK-raw-low",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1040,
    "y": 680,
    "wires": [
      []
    ]
  },
  {
    "id": "99efbbed.1a9d98",
    "type": "link in",
    "z": "10a92214.f225ae",
    "name": "BK calibrated temperature input",
    "links": [
      "c5bb895f.256208"
    ],
    "x": 135,
    "y": 680,
    "wires": [
      [
        "6f2cb356.23e07c"
      ]
    ]
  },
  {
    "id": "6f2cb356.23e07c",
    "type": "ui_text",
    "z": "10a92214.f225ae",
    "group": "4db7f25b.b9ea8c",
    "order": 3,
    "width": 0,
    "height": 0,
    "name": "BK Calibrated temperature",
    "label": "Calibrated",
    "format": "{{msg.payload | number:1}}°C",
    "layout": "row-spread",
    "x": 320,
    "y": 680,
    "wires": []
  },
  {
    "id": "28c9fc5a.1795d4",
    "type": "ui_dropdown",
    "z": "10a92214.f225ae",
    "name": "HLT Sensor",
    "label": "",
    "tooltip": "",
    "place": "Select option",
    "group": "9f19d793.eac5f8",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": false,
    "multiple": false,
    "options": [],
    "payload": "",
    "topic": "",
    "x": 710,
    "y": 60,
    "wires": [
      [
        "ca5ec009.d9636"
      ]
    ]
  },
  {
    "id": "9f3e474e.46fd98",
    "type": "function",
    "z": "10a92214.f225ae",
    "name": "",
    "func": "\nvar listArray = [];\n\nmsg.options = msg.payload;\nmsg.payload = global.get(\"mlt_sensorid\", \"storeInFile\");\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 520,
    "y": 120,
    "wires": [
      [
        "fb4a023.2ed7a"
      ]
    ]
  },
  {
    "id": "146d3e61.b44402",
    "type": "inject",
    "z": "10a92214.f225ae",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "2",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 120,
    "wires": [
      [
        "d784a91.ea22a58"
      ]
    ]
  },
  {
    "id": "5b1d0bb7.0d7354",
    "type": "ui_dropdown",
    "z": "10a92214.f225ae",
    "name": "BK Sensor",
    "label": "",
    "tooltip": "",
    "place": "Select option",
    "group": "4db7f25b.b9ea8c",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": false,
    "multiple": false,
    "options": [],
    "payload": "",
    "topic": "",
    "x": 710,
    "y": 180,
    "wires": [
      [
        "323caca.1595854"
      ]
    ]
  },
  {
    "id": "fb4a023.2ed7a",
    "type": "ui_dropdown",
    "z": "10a92214.f225ae",
    "name": "MLT Sensor",
    "label": "",
    "tooltip": "",
    "place": "Select option",
    "group": "f52ce78c.180578",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": false,
    "multiple": false,
    "options": [],
    "payload": "",
    "topic": "",
    "x": 710,
    "y": 120,
    "wires": [
      [
        "a684e64f.58ff68"
      ]
    ]
  },
  {
    "id": "ca5ec009.d9636",
    "type": "change",
    "z": "10a92214.f225ae",
    "name": "set hlt_sensorid",
    "rules": [
      {
        "t": "set",
        "p": "#:(storeInFile)::hlt_sensorid",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 920,
    "y": 60,
    "wires": [
      []
    ]
  },
  {
    "id": "a684e64f.58ff68",
    "type": "change",
    "z": "10a92214.f225ae",
    "name": "set mlt_sensorid",
    "rules": [
      {
        "t": "set",
        "p": "#:(storeInFile)::mlt_sensorid",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 920,
    "y": 120,
    "wires": [
      []
    ]
  },
  {
    "id": "323caca.1595854",
    "type": "change",
    "z": "10a92214.f225ae",
    "name": "set bk_sensorid",
    "rules": [
      {
        "t": "set",
        "p": "#:(storeInFile)::bk_sensorid",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 920,
    "y": 180,
    "wires": [
      []
    ]
  },
  {
    "id": "1cdf203e.698cd",
    "type": "function",
    "z": "10a92214.f225ae",
    "name": "",
    "func": "\nvar listArray = [];\n\nmsg.options = msg.payload;\nmsg.payload = global.get(\"hlt_sensorid\", \"storeInFile\");\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 520,
    "y": 60,
    "wires": [
      [
        "28c9fc5a.1795d4"
      ]
    ]
  },
  {
    "id": "cff451df.2a7a6",
    "type": "function",
    "z": "10a92214.f225ae",
    "name": "",
    "func": "\nvar listArray = [];\n\nmsg.options = msg.payload;\nmsg.payload = global.get(\"bk_sensorid\", \"storeInFile\");\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 520,
    "y": 180,
    "wires": [
      [
        "5b1d0bb7.0d7354"
      ]
    ]
  },
  {
    "id": "d784a91.ea22a58",
    "type": "http request",
    "z": "10a92214.f225ae",
    "name": "get sensors",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://127.0.0.1:1880/sensors/1wire/",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 310,
    "y": 120,
    "wires": [
      [
        "1cdf203e.698cd",
        "9f3e474e.46fd98",
        "cff451df.2a7a6"
      ]
    ]
  }
]