flows/HLT Controller.json
[
  {
    "id": "921f2684.926868",
    "type": "tab",
    "label": "HLT Controller",
    "disabled": false,
    "info": ""
  },
  {
    "id": "c19146c.e1f96b8",
    "type": "inject",
    "z": "921f2684.926868",
    "name": "Default HLT Target",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "#:(storeInFile)::hlt_target",
    "payloadType": "flow",
    "x": 190,
    "y": 400,
    "wires": [
      [
        "949c5578.12c3c8",
        "a49e6078.923ba",
        "d95e75d2.df5368"
      ]
    ]
  },
  {
    "id": "949c5578.12c3c8",
    "type": "change",
    "z": "921f2684.926868",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "#:(storeInFile)::hlt_target",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 510,
    "y": 380,
    "wires": [
      []
    ]
  },
  {
    "id": "a49e6078.923ba",
    "type": "ui_gauge",
    "z": "921f2684.926868",
    "name": "HLT target temp",
    "group": "a0e00a00.81b428",
    "order": 3,
    "width": 3,
    "height": 2,
    "gtype": "gage",
    "title": "",
    "label": "Target Temp",
    "format": "{{value}}c",
    "min": 0,
    "max": "100",
    "colors": [
      "#00b500",
      "#00b500",
      "#ca3838"
    ],
    "seg1": "50",
    "seg2": "78",
    "x": 500,
    "y": 420,
    "wires": []
  },
  {
    "id": "d95e75d2.df5368",
    "type": "ui_slider",
    "z": "921f2684.926868",
    "name": "HLT target slider",
    "label": "Target",
    "tooltip": "",
    "group": "a0e00a00.81b428",
    "order": 4,
    "width": 0,
    "height": 0,
    "passthru": true,
    "outs": "end",
    "topic": "",
    "min": "20",
    "max": "100",
    "step": 1,
    "x": 220,
    "y": 460,
    "wires": [
      [
        "fc678f03.52e16",
        "a49e6078.923ba",
        "949c5578.12c3c8"
      ]
    ]
  },
  {
    "id": "fc678f03.52e16",
    "type": "ui_text",
    "z": "921f2684.926868",
    "group": "96ccbe54.5ee14",
    "order": 1,
    "width": 3,
    "height": 2,
    "name": "HLT target",
    "label": "Target",
    "format": "{{payload | number:1}}°C",
    "layout": "row-spread",
    "x": 490,
    "y": 460,
    "wires": []
  },
  {
    "id": "aad2f85e.13eed8",
    "type": "inject",
    "z": "921f2684.926868",
    "name": "Default Element Duty",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "#:(storeInFile)::hlt_manual_duty",
    "payloadType": "flow",
    "x": 200,
    "y": 260,
    "wires": [
      [
        "acd0db89.d73f88"
      ]
    ]
  },
  {
    "id": "acd0db89.d73f88",
    "type": "ui_slider",
    "z": "921f2684.926868",
    "name": "Manual duty slider",
    "label": "Manual",
    "tooltip": "",
    "group": "a0e00a00.81b428",
    "order": 5,
    "width": 0,
    "height": 0,
    "passthru": true,
    "outs": "end",
    "topic": "",
    "min": "20",
    "max": "100",
    "step": 1,
    "x": 490,
    "y": 300,
    "wires": [
      [
        "6d936cd7.b504e4"
      ]
    ]
  },
  {
    "id": "6d936cd7.b504e4",
    "type": "change",
    "z": "921f2684.926868",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "#:(storeInFile)::hlt_manual_duty",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 770,
    "y": 300,
    "wires": [
      []
    ]
  },
  {
    "id": "469ea3b5.98e8dc",
    "type": "change",
    "z": "921f2684.926868",
    "name": "hlt_pid, hlt_try = true",
    "rules": [
      {
        "t": "set",
        "p": "hlt_pid",
        "pt": "global",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "hlt_try",
        "pt": "flow",
        "to": "true",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 340,
    "y": 900,
    "wires": [
      [
        "69ce90bd.4c377"
      ]
    ]
  },
  {
    "id": "b7ac22c0.efe65",
    "type": "change",
    "z": "921f2684.926868",
    "name": "hlt_on = hlt_try",
    "rules": [
      {
        "t": "set",
        "p": "hlt_on",
        "pt": "global",
        "to": "hlt_try",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 740,
    "y": 860,
    "wires": [
      [
        "9702d472.b13988"
      ]
    ]
  },
  {
    "id": "9702d472.b13988",
    "type": "switch",
    "z": "921f2684.926868",
    "name": "hlt_on",
    "property": "hlt_on",
    "propertyType": "global",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "false"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 750,
    "y": 960,
    "wires": [
      [
        "5f6782cf.2c1c5c"
      ],
      [
        "7995a7c7.c83288"
      ]
    ]
  },
  {
    "id": "5f6782cf.2c1c5c",
    "type": "change",
    "z": "921f2684.926868",
    "name": "hlt_lock=true",
    "rules": [
      {
        "t": "set",
        "p": "hlt_lock",
        "pt": "global",
        "to": "true",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1070,
    "y": 955,
    "wires": [
      []
    ]
  },
  {
    "id": "7995a7c7.c83288",
    "type": "delay",
    "z": "921f2684.926868",
    "name": "",
    "pauseType": "delay",
    "timeout": "3",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 900,
    "y": 1000,
    "wires": [
      [
        "221b675a.baef28"
      ]
    ]
  },
  {
    "id": "221b675a.baef28",
    "type": "change",
    "z": "921f2684.926868",
    "name": "hlt_lock = false",
    "rules": [
      {
        "t": "set",
        "p": "hlt_lock",
        "pt": "global",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1080,
    "y": 1040,
    "wires": [
      []
    ]
  },
  {
    "id": "69ce90bd.4c377",
    "type": "link out",
    "z": "921f2684.926868",
    "name": "Boil Try Output",
    "links": [
      "888b172b.0250d8"
    ],
    "x": 515,
    "y": 900,
    "wires": []
  },
  {
    "id": "888b172b.0250d8",
    "type": "link in",
    "z": "921f2684.926868",
    "name": "Boil Try Input",
    "links": [
      "69ce90bd.4c377",
      "b178df53.c31b3",
      "1d974b9b.7db294"
    ],
    "x": 615,
    "y": 860,
    "wires": [
      [
        "b7ac22c0.efe65"
      ]
    ]
  },
  {
    "id": "d180f01d.2d113",
    "type": "link in",
    "z": "921f2684.926868",
    "name": "Off button",
    "links": [
      "30978ff7.bcead"
    ],
    "x": 195,
    "y": 821,
    "wires": [
      [
        "efa8d514.61e508"
      ]
    ]
  },
  {
    "id": "efa8d514.61e508",
    "type": "change",
    "z": "921f2684.926868",
    "name": "hlt_pid, hlt_try = false",
    "rules": [
      {
        "t": "set",
        "p": "hlt_pid",
        "pt": "global",
        "to": "false",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "hlt_try",
        "pt": "flow",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 340,
    "y": 821,
    "wires": [
      [
        "b178df53.c31b3"
      ]
    ]
  },
  {
    "id": "b178df53.c31b3",
    "type": "link out",
    "z": "921f2684.926868",
    "name": "Boil Try Output",
    "links": [
      "888b172b.0250d8"
    ],
    "x": 515,
    "y": 821,
    "wires": []
  },
  {
    "id": "32bfe155.8d454e",
    "type": "link in",
    "z": "921f2684.926868",
    "name": "HLT Manual button",
    "links": [
      "c65090bd.743cb"
    ],
    "x": 195,
    "y": 860,
    "wires": [
      [
        "e2656668.513c58"
      ]
    ]
  },
  {
    "id": "e2656668.513c58",
    "type": "change",
    "z": "921f2684.926868",
    "name": "hlt_pid = false, hlt_try = true",
    "rules": [
      {
        "t": "set",
        "p": "hlt_pid",
        "pt": "global",
        "to": "false",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "hlt_try",
        "pt": "flow",
        "to": "true",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 360,
    "y": 860,
    "wires": [
      [
        "1d974b9b.7db294"
      ]
    ]
  },
  {
    "id": "1d974b9b.7db294",
    "type": "link out",
    "z": "921f2684.926868",
    "name": "Boil Try Output",
    "links": [
      "888b172b.0250d8"
    ],
    "x": 515,
    "y": 860,
    "wires": []
  },
  {
    "id": "af164f02.e1e58",
    "type": "link in",
    "z": "921f2684.926868",
    "name": "HLT Manual button",
    "links": [
      "c65090bd.743cb"
    ],
    "x": 195,
    "y": 940,
    "wires": [
      [
        "757ffbcc.e9fd74"
      ]
    ]
  },
  {
    "id": "757ffbcc.e9fd74",
    "type": "change",
    "z": "921f2684.926868",
    "name": "Zero everything",
    "rules": [
      {
        "t": "set",
        "p": "last_error",
        "pt": "msg",
        "to": "0.0",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "integrator",
        "pt": "msg",
        "to": "0.0",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "derivative",
        "pt": "msg",
        "to": "0.0",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "last_error",
        "pt": "flow",
        "to": "last_error",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "integrator",
        "pt": "flow",
        "to": "integrator",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "output",
        "pt": "msg",
        "to": "0.0",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "target",
        "pt": "msg",
        "to": "target",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 320,
    "y": 980,
    "wires": [
      [
        "7d9e136b.92ae5c"
      ]
    ]
  },
  {
    "id": "7d9e136b.92ae5c",
    "type": "link out",
    "z": "921f2684.926868",
    "name": "Boil PID display",
    "links": [
      "297a459b.f41f0a"
    ],
    "x": 485,
    "y": 980,
    "wires": []
  },
  {
    "id": "797a9363.080f6c",
    "type": "link in",
    "z": "921f2684.926868",
    "name": "Off Button",
    "links": [
      "20fd3e5c.d6ddd2",
      "30978ff7.bcead"
    ],
    "x": 195,
    "y": 980,
    "wires": [
      [
        "757ffbcc.e9fd74"
      ]
    ]
  },
  {
    "id": "7df5efe0.bad88",
    "type": "inject",
    "z": "921f2684.926868",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 160,
    "y": 660,
    "wires": [
      [
        "20fd3e5c.d6ddd2"
      ]
    ]
  },
  {
    "id": "20fd3e5c.d6ddd2",
    "type": "link out",
    "z": "921f2684.926868",
    "name": "Off button - initialization",
    "links": [
      "1445bd1b.557c93",
      "68f756c.e890aa8",
      "797a9363.080f6c"
    ],
    "x": 255,
    "y": 660,
    "wires": []
  },
  {
    "id": "68f756c.e890aa8",
    "type": "link in",
    "z": "921f2684.926868",
    "name": "Off button - initialization",
    "links": [
      "20fd3e5c.d6ddd2"
    ],
    "x": 195,
    "y": 780,
    "wires": [
      [
        "e057f271.e13c7"
      ]
    ]
  },
  {
    "id": "e057f271.e13c7",
    "type": "change",
    "z": "921f2684.926868",
    "name": "hlt_lock, hlt_on, hlt_pid, hlt_try = false",
    "rules": [
      {
        "t": "set",
        "p": "hlt_lock",
        "pt": "global",
        "to": "false",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "hlt_on",
        "pt": "global",
        "to": "false",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "hlt_pid",
        "pt": "global",
        "to": "false",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "hlt_try",
        "pt": "global",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 390,
    "y": 780,
    "wires": [
      []
    ]
  },
  {
    "id": "1445bd1b.557c93",
    "type": "link in",
    "z": "921f2684.926868",
    "name": "Off button",
    "links": [
      "20fd3e5c.d6ddd2",
      "30978ff7.bcead"
    ],
    "x": 195,
    "y": 1080,
    "wires": [
      [
        "55f8207a.49c3b"
      ]
    ]
  },
  {
    "id": "55f8207a.49c3b",
    "type": "change",
    "z": "921f2684.926868",
    "name": "payload = 0",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "0",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 320,
    "y": 1080,
    "wires": [
      [
        "4f2c006c.61798"
      ]
    ]
  },
  {
    "id": "4f2c006c.61798",
    "type": "link out",
    "z": "921f2684.926868",
    "name": "Off Duty",
    "links": [
      "65e8903.19f8f7",
      "8433ff20.b87b7"
    ],
    "x": 495,
    "y": 1080,
    "wires": []
  },
  {
    "id": "bfcc57a.4d54ca8",
    "type": "inject",
    "z": "921f2684.926868",
    "name": "Default P",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "43",
    "payloadType": "num",
    "x": 120,
    "y": 520,
    "wires": [
      [
        "182dd5b8.7a207a"
      ]
    ]
  },
  {
    "id": "182dd5b8.7a207a",
    "type": "ui_numeric",
    "z": "921f2684.926868",
    "name": "",
    "label": "K𝗉",
    "tooltip": "",
    "group": "96ccbe54.5ee14",
    "order": 2,
    "width": "4",
    "height": "1",
    "wrap": false,
    "passthru": true,
    "topic": "",
    "format": "{{value | number:1}}",
    "min": 0,
    "max": "99.8",
    "step": "0.2",
    "x": 270,
    "y": 520,
    "wires": [
      [
        "22e3e463.43169c"
      ]
    ]
  },
  {
    "id": "22e3e463.43169c",
    "type": "change",
    "z": "921f2684.926868",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "#:(storeInFile)::p",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 420,
    "y": 520,
    "wires": [
      []
    ]
  },
  {
    "id": "5ecbe4c8.acc4fc",
    "type": "inject",
    "z": "921f2684.926868",
    "name": "Default I",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "0.15",
    "payloadType": "num",
    "x": 120,
    "y": 560,
    "wires": [
      [
        "c40c5d70.84bb5"
      ]
    ]
  },
  {
    "id": "c40c5d70.84bb5",
    "type": "ui_numeric",
    "z": "921f2684.926868",
    "name": "",
    "label": "Ki",
    "tooltip": "",
    "group": "96ccbe54.5ee14",
    "order": 3,
    "width": "4",
    "height": "1",
    "wrap": false,
    "passthru": true,
    "topic": "",
    "format": "{{value | number:1}}",
    "min": 0,
    "max": "99.8",
    "step": "0.2",
    "x": 270,
    "y": 560,
    "wires": [
      [
        "ba342e42.2d812"
      ]
    ]
  },
  {
    "id": "ba342e42.2d812",
    "type": "change",
    "z": "921f2684.926868",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "#:(storeInFile)::i",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 420,
    "y": 560,
    "wires": [
      []
    ]
  },
  {
    "id": "42407079.ae388",
    "type": "inject",
    "z": "921f2684.926868",
    "name": "Default D",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "25",
    "payloadType": "num",
    "x": 120,
    "y": 600,
    "wires": [
      [
        "ecbf8e29.aa98e"
      ]
    ]
  },
  {
    "id": "ecbf8e29.aa98e",
    "type": "ui_numeric",
    "z": "921f2684.926868",
    "name": "",
    "label": "Kd",
    "tooltip": "",
    "group": "96ccbe54.5ee14",
    "order": 4,
    "width": "4",
    "height": "1",
    "wrap": false,
    "passthru": true,
    "topic": "",
    "format": "{{value | number:1}}",
    "min": 0,
    "max": "100",
    "step": "0.2",
    "x": 270,
    "y": 600,
    "wires": [
      [
        "55db0df6.f36eb4"
      ]
    ]
  },
  {
    "id": "55db0df6.f36eb4",
    "type": "change",
    "z": "921f2684.926868",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "#:(storeInFile)::d",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 420,
    "y": 600,
    "wires": [
      []
    ]
  },
  {
    "id": "ae9e02d6.4b8b1",
    "type": "link in",
    "z": "921f2684.926868",
    "name": "MLT PID temperature input",
    "links": [],
    "x": 95,
    "y": 140,
    "wires": [
      [
        "d49bad46.9a18",
        "da134340.53908",
        "f08bd401.59fce8"
      ]
    ]
  },
  {
    "id": "d49bad46.9a18",
    "type": "change",
    "z": "921f2684.926868",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "temp-HLT",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 280,
    "y": 140,
    "wires": [
      []
    ]
  },
  {
    "id": "da134340.53908",
    "type": "switch",
    "z": "921f2684.926868",
    "name": "hlt_on",
    "property": "hlt_on",
    "propertyType": "global",
    "rules": [
      {
        "t": "true"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 200,
    "y": 206,
    "wires": [
      [
        "b97540b.33e39c"
      ]
    ]
  },
  {
    "id": "b97540b.33e39c",
    "type": "switch",
    "z": "921f2684.926868",
    "name": "hlt_pid switch",
    "property": "hlt_pid",
    "propertyType": "global",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "false"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 380,
    "y": 206,
    "wires": [
      [
        "40379b24.2791b4"
      ],
      [
        "cd9f2f9e.a980a"
      ]
    ]
  },
  {
    "id": "40379b24.2791b4",
    "type": "function",
    "z": "921f2684.926868",
    "name": "HLT PID Control",
    "func": "// Note that the algorithm provided below assumes a 1 second iteration time\n// Justin Angevaare\n// May 2018\n\n// Set temperature\nmsg.topic = \"PID-HLT-main-loop\";\nmsg.target =  flow.get('hlt_target', 'storeInFile');\nmsg.temperature =  msg.payload;\n// Well that node doesn't work... do manually\nmsg.interval = 2000\n\n// Calculate error\nmsg.error = flow.get('hlt_target', 'storeInFile') - msg.temperature;\n\n// Set output max\nmsg.max_output = 100\n\n// Calculate proportional action\nvar pTerm = msg.error * flow.get('p', 'storeInFile');\n\n// Calculate intergral action\nvar iTerm = 0;\nif (pTerm < msg.max_output) {\n    // Calculate integrator max\n    msg.integrator_max = msg.max_output/flow.get('i', 'storeInFile');\n    \n    // Update integrator\n    // For purposes of integrator, bound error by [-1, 1]\n    msg.integrator = flow.get('integrator');\n    msg.integrator += (msg.interval/1000) * Math.max(Math.min(msg.error, 1), -1);\n    \n    // Bound total integrator by absolute maximum\n    msg.integrator = Math.max(Math.min(msg.integrator, msg.integrator_max), -msg.integrator_max);\n    \n    // Output updated integrator to flow context\n    flow.set('integrator', msg.integrator);\n    \n    iTerm = msg.integrator * flow.get('i', 'storeInFile');\n}\n\n// Calculate derivative action\nmsg.derivative = (msg.error - flow.get('last_error'))/(msg.interval/1000);\nvar dTerm = msg.derivative * flow.get('d', 'storeInFile');\n\nmsg.output = pTerm + iTerm + dTerm;\nnode.warn(pTerm + ' ' + iTerm + ' ' + dTerm);\n// Bound output by [0, max_output]\nmsg.output = Math.max(Math.min(msg.output, msg.max_output), 0);\n\n// Output updated last_error to flow context\nmsg.last_error = msg.error;\nflow.set('last_error', msg.last_error);\n\n// Set payload to element output\nmsg.payload = msg.output;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 700,
    "y": 186,
    "wires": [
      [
        "caeb268c.03fe38",
        "2e0c7253.c2e51e"
      ]
    ]
  },
  {
    "id": "cd9f2f9e.a980a",
    "type": "change",
    "z": "921f2684.926868",
    "name": "payload = hlt_manual_duty",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "#:(storeInFile)::hlt_manual_duty",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 660,
    "y": 226,
    "wires": [
      [
        "caeb268c.03fe38"
      ]
    ]
  },
  {
    "id": "caeb268c.03fe38",
    "type": "link out",
    "z": "921f2684.926868",
    "name": "PID or Manual Duty",
    "links": [
      "65e8903.19f8f7",
      "8433ff20.b87b7"
    ],
    "x": 855,
    "y": 206,
    "wires": []
  },
  {
    "id": "2e0c7253.c2e51e",
    "type": "link out",
    "z": "921f2684.926868",
    "d": true,
    "name": "HLT PID display",
    "links": [
      "297a459b.f41f0a",
      "96d96784.4bfff8"
    ],
    "x": 855,
    "y": 146,
    "wires": []
  },
  {
    "id": "1bfa54fc.6b555b",
    "type": "link in",
    "z": "921f2684.926868",
    "name": "HLT PID button",
    "links": [
      "e674e86.07bc118"
    ],
    "x": 195,
    "y": 900,
    "wires": [
      [
        "469ea3b5.98e8dc"
      ]
    ]
  },
  {
    "id": "f08bd401.59fce8",
    "type": "function",
    "z": "921f2684.926868",
    "name": "msgs for chart",
    "func": "var targetTempMsg = {};\nvar currentTempMsg = {};\n\n//Code to dynamically control Min setting on chart\nvar targetTemp = flow.get('hlt_target', 'storeInFile')\nvar minHLTChartValue = flow.get(\"minHLTChartValue\")||msg.payload;\nvar valueToCompare = Math.min(msg.payload, targetTemp)\n\nminHLTChartValue = parseInt(Math.min(minHLTChartValue, valueToCompare - 5));\n//node.log(\"min: \" + minHLTChartValue);\nflow.set(\"minHLTChartValue\", minHLTChartValue);\n\n//Code to dynamically control Max setting on chart\nvar maxHLTChartValue = flow.get(\"maxHLTChartValue\")||msg.payload;\n\nvalueToCompare = Math.max(msg.payload, targetTemp)\nmaxHLTChartValue = parseInt(Math.max(maxHLTChartValue, valueToCompare + 5));\n//node.log(\"max: \" + maxHLTChartValue);\nflow.set(\"maxHLTChartValue\", maxHLTChartValue);\n\ntargetTempMsg.ui_control = {\"ymin\":minHLTChartValue, \"ymax\":maxHLTChartValue};\n\ntargetTempMsg.payload = targetTemp;\ntargetTempMsg.topic = 'Target';\n\ncurrentTempMsg.payload = msg.payload;\ncurrentTempMsg.topic = 'Temp';\n\nreturn [[targetTempMsg,currentTempMsg]];",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 240,
    "y": 80,
    "wires": [
      [
        "12339ad5.3aa915"
      ],
      [
        "12339ad5.3aa915"
      ]
    ]
  },
  {
    "id": "12339ad5.3aa915",
    "type": "ui_chart",
    "z": "921f2684.926868",
    "name": "",
    "group": "a0e00a00.81b428",
    "order": 6,
    "width": 0,
    "height": 0,
    "label": "",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 440,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "257dc590.66763a",
    "type": "inject",
    "z": "921f2684.926868",
    "name": "Reset chart max/mins",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 800,
    "y": 100,
    "wires": [
      [
        "8d0c9574.f89668"
      ]
    ]
  },
  {
    "id": "8d0c9574.f89668",
    "type": "function",
    "z": "921f2684.926868",
    "name": "msgs for chart",
    "func": "\nnode.log(\"clearing HLT flow variables\");\n\nflow.set(\"minHLTChartValue\", msg.payload);\nflow.set(\"maxHLTChartValue\", msg.payload);",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1020,
    "y": 100,
    "wires": [
      [],
      []
    ]
  }
]