flows/HLT Controller.json
[
  {
    "id": "921f2684.926868",
    "type": "tab",
    "label": "HLT Controller",
    "disabled": false,
    "info": ""
  },
  {
    "id": "c19146c.e1f96b8",
    "type": "inject",
    "z": "921f2684.926868",
    "name": "Default HLT Target",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "hlt_target",
    "payloadType": "global",
    "x": 290,
    "y": 440,
    "wires": [
      [
        "949c5578.12c3c8",
        "a49e6078.923ba",
        "d95e75d2.df5368"
      ]
    ]
  },
  {
    "id": "949c5578.12c3c8",
    "type": "change",
    "z": "921f2684.926868",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "#:(storeInFile)::hlt_target",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 610,
    "y": 420,
    "wires": [
      []
    ]
  },
  {
    "id": "a49e6078.923ba",
    "type": "ui_gauge",
    "z": "921f2684.926868",
    "name": "HLT target temp",
    "group": "a0e00a00.81b428",
    "order": 3,
    "width": 3,
    "height": 2,
    "gtype": "gage",
    "title": "",
    "label": "Target Temp",
    "format": "{{value}}c",
    "min": 0,
    "max": "100",
    "colors": [
      "#00b500",
      "#00b500",
      "#ca3838"
    ],
    "seg1": "50",
    "seg2": "78",
    "x": 600,
    "y": 460,
    "wires": []
  },
  {
    "id": "d95e75d2.df5368",
    "type": "ui_slider",
    "z": "921f2684.926868",
    "name": "HLT target slider",
    "label": "Target",
    "tooltip": "",
    "group": "a0e00a00.81b428",
    "order": 4,
    "width": 0,
    "height": 0,
    "passthru": true,
    "outs": "end",
    "topic": "",
    "min": "20",
    "max": "100",
    "step": 1,
    "x": 320,
    "y": 500,
    "wires": [
      [
        "fc678f03.52e16",
        "a49e6078.923ba",
        "949c5578.12c3c8"
      ]
    ]
  },
  {
    "id": "fc678f03.52e16",
    "type": "ui_text",
    "z": "921f2684.926868",
    "group": "96ccbe54.5ee14",
    "order": 2,
    "width": "0",
    "height": "0",
    "name": "HLT target",
    "label": "Target",
    "format": "{{payload | number:1}}°C",
    "layout": "row-spread",
    "x": 590,
    "y": 500,
    "wires": []
  },
  {
    "id": "aad2f85e.13eed8",
    "type": "inject",
    "z": "921f2684.926868",
    "name": "Default Element Duty",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "#:(storeInFile)::hlt_manual_duty",
    "payloadType": "flow",
    "x": 300,
    "y": 300,
    "wires": [
      [
        "acd0db89.d73f88"
      ]
    ]
  },
  {
    "id": "acd0db89.d73f88",
    "type": "ui_slider",
    "z": "921f2684.926868",
    "name": "Manual duty slider",
    "label": "Manual",
    "tooltip": "",
    "group": "a0e00a00.81b428",
    "order": 5,
    "width": 0,
    "height": 0,
    "passthru": true,
    "outs": "end",
    "topic": "",
    "min": "20",
    "max": "100",
    "step": 1,
    "x": 590,
    "y": 340,
    "wires": [
      [
        "6d936cd7.b504e4"
      ]
    ]
  },
  {
    "id": "6d936cd7.b504e4",
    "type": "change",
    "z": "921f2684.926868",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "#:(storeInFile)::hlt_manual_duty",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 870,
    "y": 340,
    "wires": [
      []
    ]
  },
  {
    "id": "469ea3b5.98e8dc",
    "type": "change",
    "z": "921f2684.926868",
    "name": "hlt_pid, hlt_try = true",
    "rules": [
      {
        "t": "set",
        "p": "hlt_pid",
        "pt": "global",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "hlt_try",
        "pt": "flow",
        "to": "true",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 440,
    "y": 940,
    "wires": [
      [
        "69ce90bd.4c377"
      ]
    ]
  },
  {
    "id": "b7ac22c0.efe65",
    "type": "change",
    "z": "921f2684.926868",
    "name": "hlt_on = hlt_try",
    "rules": [
      {
        "t": "set",
        "p": "hlt_on",
        "pt": "global",
        "to": "hlt_try",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 840,
    "y": 900,
    "wires": [
      [
        "9702d472.b13988"
      ]
    ]
  },
  {
    "id": "9702d472.b13988",
    "type": "switch",
    "z": "921f2684.926868",
    "name": "hlt_on",
    "property": "hlt_on",
    "propertyType": "global",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "false"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 850,
    "y": 1000,
    "wires": [
      [
        "5f6782cf.2c1c5c"
      ],
      [
        "7995a7c7.c83288"
      ]
    ]
  },
  {
    "id": "5f6782cf.2c1c5c",
    "type": "change",
    "z": "921f2684.926868",
    "name": "hlt_lock=true",
    "rules": [
      {
        "t": "set",
        "p": "hlt_lock",
        "pt": "global",
        "to": "true",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1170,
    "y": 995,
    "wires": [
      []
    ]
  },
  {
    "id": "7995a7c7.c83288",
    "type": "delay",
    "z": "921f2684.926868",
    "name": "",
    "pauseType": "delay",
    "timeout": "3",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 1000,
    "y": 1040,
    "wires": [
      [
        "221b675a.baef28"
      ]
    ]
  },
  {
    "id": "221b675a.baef28",
    "type": "change",
    "z": "921f2684.926868",
    "name": "hlt_lock = false",
    "rules": [
      {
        "t": "set",
        "p": "hlt_lock",
        "pt": "global",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1180,
    "y": 1080,
    "wires": [
      []
    ]
  },
  {
    "id": "69ce90bd.4c377",
    "type": "link out",
    "z": "921f2684.926868",
    "name": "Boil Try Output",
    "links": [
      "888b172b.0250d8"
    ],
    "x": 615,
    "y": 940,
    "wires": []
  },
  {
    "id": "888b172b.0250d8",
    "type": "link in",
    "z": "921f2684.926868",
    "name": "Boil Try Input",
    "links": [
      "69ce90bd.4c377",
      "b178df53.c31b3",
      "1d974b9b.7db294"
    ],
    "x": 715,
    "y": 900,
    "wires": [
      [
        "b7ac22c0.efe65"
      ]
    ]
  },
  {
    "id": "d180f01d.2d113",
    "type": "link in",
    "z": "921f2684.926868",
    "name": "Off button",
    "links": [
      "30978ff7.bcead"
    ],
    "x": 295,
    "y": 861,
    "wires": [
      [
        "efa8d514.61e508"
      ]
    ]
  },
  {
    "id": "efa8d514.61e508",
    "type": "change",
    "z": "921f2684.926868",
    "name": "hlt_pid, hlt_try = false",
    "rules": [
      {
        "t": "set",
        "p": "hlt_pid",
        "pt": "global",
        "to": "false",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "hlt_try",
        "pt": "flow",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 440,
    "y": 861,
    "wires": [
      [
        "b178df53.c31b3"
      ]
    ]
  },
  {
    "id": "b178df53.c31b3",
    "type": "link out",
    "z": "921f2684.926868",
    "name": "Boil Try Output",
    "links": [
      "888b172b.0250d8"
    ],
    "x": 615,
    "y": 861,
    "wires": []
  },
  {
    "id": "32bfe155.8d454e",
    "type": "link in",
    "z": "921f2684.926868",
    "name": "HLT Manual button",
    "links": [
      "c65090bd.743cb"
    ],
    "x": 295,
    "y": 900,
    "wires": [
      [
        "e2656668.513c58"
      ]
    ]
  },
  {
    "id": "e2656668.513c58",
    "type": "change",
    "z": "921f2684.926868",
    "name": "hlt_pid = false, hlt_try = true",
    "rules": [
      {
        "t": "set",
        "p": "hlt_pid",
        "pt": "global",
        "to": "false",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "hlt_try",
        "pt": "flow",
        "to": "true",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 460,
    "y": 900,
    "wires": [
      [
        "1d974b9b.7db294"
      ]
    ]
  },
  {
    "id": "1d974b9b.7db294",
    "type": "link out",
    "z": "921f2684.926868",
    "name": "Boil Try Output",
    "links": [
      "888b172b.0250d8"
    ],
    "x": 615,
    "y": 900,
    "wires": []
  },
  {
    "id": "af164f02.e1e58",
    "type": "link in",
    "z": "921f2684.926868",
    "name": "HLT Manual button",
    "links": [
      "c65090bd.743cb"
    ],
    "x": 295,
    "y": 980,
    "wires": [
      [
        "757ffbcc.e9fd74"
      ]
    ]
  },
  {
    "id": "757ffbcc.e9fd74",
    "type": "change",
    "z": "921f2684.926868",
    "name": "Zero everything",
    "rules": [
      {
        "t": "set",
        "p": "last_error",
        "pt": "msg",
        "to": "0.0",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "integrator",
        "pt": "msg",
        "to": "0.0",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "derivative",
        "pt": "msg",
        "to": "0.0",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "last_error",
        "pt": "flow",
        "to": "last_error",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "integrator",
        "pt": "flow",
        "to": "integrator",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "output",
        "pt": "msg",
        "to": "0.0",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "target",
        "pt": "msg",
        "to": "target",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 420,
    "y": 1020,
    "wires": [
      [
        "7d9e136b.92ae5c"
      ]
    ]
  },
  {
    "id": "7d9e136b.92ae5c",
    "type": "link out",
    "z": "921f2684.926868",
    "name": "Boil PID display",
    "links": [
      "297a459b.f41f0a"
    ],
    "x": 585,
    "y": 1020,
    "wires": []
  },
  {
    "id": "797a9363.080f6c",
    "type": "link in",
    "z": "921f2684.926868",
    "name": "Off Button",
    "links": [
      "20fd3e5c.d6ddd2",
      "30978ff7.bcead"
    ],
    "x": 295,
    "y": 1020,
    "wires": [
      [
        "757ffbcc.e9fd74"
      ]
    ]
  },
  {
    "id": "7df5efe0.bad88",
    "type": "inject",
    "z": "921f2684.926868",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 260,
    "y": 700,
    "wires": [
      [
        "20fd3e5c.d6ddd2"
      ]
    ]
  },
  {
    "id": "20fd3e5c.d6ddd2",
    "type": "link out",
    "z": "921f2684.926868",
    "name": "Off button - initialization",
    "links": [
      "1445bd1b.557c93",
      "68f756c.e890aa8",
      "797a9363.080f6c"
    ],
    "x": 355,
    "y": 700,
    "wires": []
  },
  {
    "id": "68f756c.e890aa8",
    "type": "link in",
    "z": "921f2684.926868",
    "name": "Off button - initialization",
    "links": [
      "20fd3e5c.d6ddd2"
    ],
    "x": 295,
    "y": 820,
    "wires": [
      [
        "e057f271.e13c7"
      ]
    ]
  },
  {
    "id": "e057f271.e13c7",
    "type": "change",
    "z": "921f2684.926868",
    "name": "hlt_lock, hlt_on, hlt_pid, hlt_try = false",
    "rules": [
      {
        "t": "set",
        "p": "hlt_lock",
        "pt": "global",
        "to": "false",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "hlt_on",
        "pt": "global",
        "to": "false",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "hlt_pid",
        "pt": "global",
        "to": "false",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "hlt_try",
        "pt": "global",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 490,
    "y": 820,
    "wires": [
      []
    ]
  },
  {
    "id": "1445bd1b.557c93",
    "type": "link in",
    "z": "921f2684.926868",
    "name": "Off button",
    "links": [
      "20fd3e5c.d6ddd2",
      "30978ff7.bcead"
    ],
    "x": 295,
    "y": 1120,
    "wires": [
      [
        "55f8207a.49c3b"
      ]
    ]
  },
  {
    "id": "55f8207a.49c3b",
    "type": "change",
    "z": "921f2684.926868",
    "name": "payload = 0",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "0",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 420,
    "y": 1120,
    "wires": [
      [
        "4f2c006c.61798"
      ]
    ]
  },
  {
    "id": "4f2c006c.61798",
    "type": "link out",
    "z": "921f2684.926868",
    "name": "Off Duty",
    "links": [
      "65e8903.19f8f7",
      "8433ff20.b87b7"
    ],
    "x": 595,
    "y": 1120,
    "wires": []
  },
  {
    "id": "bfcc57a.4d54ca8",
    "type": "inject",
    "z": "921f2684.926868",
    "name": "Default P",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "43",
    "payloadType": "num",
    "x": 220,
    "y": 560,
    "wires": [
      [
        "182dd5b8.7a207a"
      ]
    ]
  },
  {
    "id": "182dd5b8.7a207a",
    "type": "ui_numeric",
    "z": "921f2684.926868",
    "name": "",
    "label": "K𝗉",
    "tooltip": "",
    "group": "96ccbe54.5ee14",
    "order": 3,
    "width": 4,
    "height": 1,
    "wrap": false,
    "passthru": true,
    "topic": "",
    "format": "{{value | number:1}}",
    "min": 0,
    "max": "99.8",
    "step": "0.2",
    "x": 370,
    "y": 560,
    "wires": [
      [
        "22e3e463.43169c"
      ]
    ]
  },
  {
    "id": "22e3e463.43169c",
    "type": "change",
    "z": "921f2684.926868",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "#:(storeInFile)::p",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 520,
    "y": 560,
    "wires": [
      []
    ]
  },
  {
    "id": "5ecbe4c8.acc4fc",
    "type": "inject",
    "z": "921f2684.926868",
    "name": "Default I",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "0.15",
    "payloadType": "num",
    "x": 220,
    "y": 600,
    "wires": [
      [
        "c40c5d70.84bb5"
      ]
    ]
  },
  {
    "id": "c40c5d70.84bb5",
    "type": "ui_numeric",
    "z": "921f2684.926868",
    "name": "",
    "label": "Ki",
    "tooltip": "",
    "group": "96ccbe54.5ee14",
    "order": 5,
    "width": 4,
    "height": 1,
    "wrap": false,
    "passthru": true,
    "topic": "",
    "format": "{{value | number:1}}",
    "min": 0,
    "max": "99.8",
    "step": "0.2",
    "x": 370,
    "y": 600,
    "wires": [
      [
        "ba342e42.2d812"
      ]
    ]
  },
  {
    "id": "ba342e42.2d812",
    "type": "change",
    "z": "921f2684.926868",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "#:(storeInFile)::i",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 520,
    "y": 600,
    "wires": [
      []
    ]
  },
  {
    "id": "42407079.ae388",
    "type": "inject",
    "z": "921f2684.926868",
    "name": "Default D",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "25",
    "payloadType": "num",
    "x": 220,
    "y": 640,
    "wires": [
      [
        "ecbf8e29.aa98e"
      ]
    ]
  },
  {
    "id": "ecbf8e29.aa98e",
    "type": "ui_numeric",
    "z": "921f2684.926868",
    "name": "",
    "label": "Kd",
    "tooltip": "",
    "group": "96ccbe54.5ee14",
    "order": 7,
    "width": 4,
    "height": 1,
    "wrap": false,
    "passthru": true,
    "topic": "",
    "format": "{{value | number:1}}",
    "min": 0,
    "max": "100",
    "step": "0.2",
    "x": 370,
    "y": 640,
    "wires": [
      [
        "55db0df6.f36eb4"
      ]
    ]
  },
  {
    "id": "55db0df6.f36eb4",
    "type": "change",
    "z": "921f2684.926868",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "#:(storeInFile)::d",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 520,
    "y": 640,
    "wires": [
      []
    ]
  },
  {
    "id": "ae9e02d6.4b8b1",
    "type": "link in",
    "z": "921f2684.926868",
    "name": "HLT PID temperature input",
    "links": [
      "536be9dd.80ff78"
    ],
    "x": 195,
    "y": 180,
    "wires": [
      [
        "d49bad46.9a18",
        "da134340.53908",
        "811c4d1.d4b10b"
      ]
    ]
  },
  {
    "id": "d49bad46.9a18",
    "type": "change",
    "z": "921f2684.926868",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "temp-HLT",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 380,
    "y": 180,
    "wires": [
      []
    ]
  },
  {
    "id": "da134340.53908",
    "type": "switch",
    "z": "921f2684.926868",
    "name": "hlt_on",
    "property": "hlt_on",
    "propertyType": "global",
    "rules": [
      {
        "t": "true"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 300,
    "y": 246,
    "wires": [
      [
        "b97540b.33e39c"
      ]
    ]
  },
  {
    "id": "b97540b.33e39c",
    "type": "switch",
    "z": "921f2684.926868",
    "name": "hlt_pid switch",
    "property": "hlt_pid",
    "propertyType": "global",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "false"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 480,
    "y": 246,
    "wires": [
      [
        "40379b24.2791b4"
      ],
      [
        "cd9f2f9e.a980a"
      ]
    ]
  },
  {
    "id": "40379b24.2791b4",
    "type": "function",
    "z": "921f2684.926868",
    "name": "HLT PID Control",
    "func": "// Note that the algorithm provided below assumes a 1 second iteration time\n// Justin Angevaare\n// May 2018\n\n// Set temperature\nmsg.topic = \"PID-HLT-main-loop\";\nmsg.target =  global.get('hlt_target', 'storeInFile');\nmsg.temperature =  msg.payload;\n// Well that node doesn't work... do manually\nmsg.interval = 2000\n\n// Calculate error\nmsg.error = global.get('hlt_target', 'storeInFile') - msg.temperature;\n\n// Set output max\nmsg.max_output = 100\n\n// Calculate proportional action\nvar pTerm = msg.error * flow.get('p', 'storeInFile');\n\n// Calculate intergral action\nvar iTerm = 0;\nif (pTerm < msg.max_output) {\n    // Calculate integrator max\n    msg.integrator_max = msg.max_output/flow.get('i', 'storeInFile');\n    \n    // Update integrator\n    // For purposes of integrator, bound error by [-1, 1]\n    msg.integrator = flow.get('integrator');\n    msg.integrator += (msg.interval/1000) * Math.max(Math.min(msg.error, 1), -1);\n    \n    // Bound total integrator by absolute maximum\n    msg.integrator = Math.max(Math.min(msg.integrator, msg.integrator_max), -msg.integrator_max);\n    \n    // Output updated integrator to flow context\n    flow.set('integrator', msg.integrator);\n    \n    iTerm = msg.integrator * flow.get('i', 'storeInFile');\n}\n\n// Calculate derivative action\nmsg.derivative = (msg.error - flow.get('last_error'))/(msg.interval/1000);\nvar dTerm = msg.derivative * flow.get('d', 'storeInFile');\n\nmsg.output = pTerm + iTerm + dTerm;\nnode.warn(pTerm + ' ' + iTerm + ' ' + dTerm);\n// Bound output by [0, max_output]\nmsg.output = Math.max(Math.min(msg.output, msg.max_output), 0);\n\n// Output updated last_error to flow context\nmsg.last_error = msg.error;\nflow.set('last_error', msg.last_error);\n\n// Set payload to element output\nmsg.payload = msg.output;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 800,
    "y": 226,
    "wires": [
      [
        "caeb268c.03fe38",
        "2e0c7253.c2e51e"
      ]
    ]
  },
  {
    "id": "cd9f2f9e.a980a",
    "type": "change",
    "z": "921f2684.926868",
    "name": "payload = hlt_manual_duty",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "#:(storeInFile)::hlt_manual_duty",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 760,
    "y": 266,
    "wires": [
      [
        "caeb268c.03fe38"
      ]
    ]
  },
  {
    "id": "caeb268c.03fe38",
    "type": "link out",
    "z": "921f2684.926868",
    "name": "PID or Manual Duty",
    "links": [
      "65e8903.19f8f7",
      "8433ff20.b87b7"
    ],
    "x": 955,
    "y": 246,
    "wires": []
  },
  {
    "id": "2e0c7253.c2e51e",
    "type": "link out",
    "z": "921f2684.926868",
    "d": true,
    "name": "HLT PID display",
    "links": [
      "297a459b.f41f0a",
      "96d96784.4bfff8"
    ],
    "x": 955,
    "y": 186,
    "wires": []
  },
  {
    "id": "1bfa54fc.6b555b",
    "type": "link in",
    "z": "921f2684.926868",
    "name": "HLT PID button",
    "links": [
      "e674e86.07bc118"
    ],
    "x": 295,
    "y": 940,
    "wires": [
      [
        "469ea3b5.98e8dc"
      ]
    ]
  },
  {
    "id": "811c4d1.d4b10b",
    "type": "function",
    "z": "921f2684.926868",
    "name": "Send temp",
    "func": "\nvar entryDate = new Date();\n\nvar temp_msg = {};\ntemp_msg.topic = \"Temp\";\ntemp_msg.payload = {x: entryDate, y: parseFloat(global.get(\"temp-HLT\").toFixed(1))};\n\nvar target_msg = {};\ntarget_msg.topic = \"Target\";\ntarget_msg.payload = {x: entryDate, y: global.get(\"hlt_target\", \"storeInFile\")};\n\nreturn [[target_msg, temp_msg]];",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 350,
    "y": 80,
    "wires": [
      [
        "b516c8eb.800748",
        "eba680ad.57fdf"
      ],
      [
        "b516c8eb.800748",
        "eba680ad.57fdf"
      ]
    ]
  },
  {
    "id": "b516c8eb.800748",
    "type": "ui_template",
    "z": "921f2684.926868",
    "group": "a0e00a00.81b428",
    "name": "HLT chart.js",
    "order": 6,
    "width": "6",
    "height": "4",
    "format": "<!--\nA node-red Dashboard UI template to draw charts using chart.js\nBefore use download the file Chart.bundle.min.js from chartjs.org and \nsave in an appropriate folder (e.g. .node-red/static). \nIn settings.js set httpStatic to the full path of that folder and restart node-red.\nMake sure that the options for 'Pass through messages' and 'Add output messages' \nin this node are cleared.\nFor basic use set the id and size you want in the canvas tag and set chartID to the id\nSetup chartDef as required for your chart (see the chart.js docs)\nIn addition, for each dataset specify in chartDef the message topic that you will use for that channel.\nTo (optionally) provide the chart with a one-off set of data send the node a message with:\nmsg.action = \"load\"\nmsg.payload = [\n{topic: \"mytopic1\", data: [{x: x1,y:y2},{x:x2,y:y2},...]},\n{topic: \"mytopic2\", data: [{x: x1,y:y2},{x:x2,y:y2},...]},\n...]\nWhere mytopic1 and mytopic2 are the the topics specified in the chartDef\n\nTo provide the chart with data incrementally (for a time series for example)\nsend it messages of the form\n{topic: \"mytopic1\", payload: {x:xvalue,y:yvalue}}\nThe chart will be updated as each sample is provided.\nTo limit the growth of the chart set chartMaxPoints and/or chartTimeSpan in the Chart Helper node\nas described at the head of that node.\nIf you find that chart seems to flicker and scroll bars come and go then try \nsetting a size other than auto in the Size specification for this node.\n\nFor Bar charts the x value is the label for the bar and the y value is the bar value\n\nNote that since the chart samples are stored in the browser then the chart will be cleared each\ntime the browser is refreshed (and will be clear on initially opening the view). In order to \nprovided persistency over browser opening and refresh this node may be used in conjunction with\nthe Chart Helper function node.  Details for its use are in the source of that node.\n\nIf your flow includes more that one instance of this script then the line fetching \nChart.bundle.min.js need only be included in one of them\n-->\n<script src=\"/Chart.bundle.min.js\"></script>\n<canvas id=\"HLTChart\" width=\"300\" height=\"200\"></canvas>\n<script>\n(function() {\n    var chartID = \"HLTChart\";           // set this to the id you have specified in the canvas tag above\n    // setup the chart definition as defined in the chart.js documentation, in addition setting up the topic\n    // for each channel\n    var chartDef = {\n        type: 'line',\n        data: {\n            datasets: [{\n                topic: \"Target\",    // used here not by chart.js\n                label: \"Target\",\n                yAxisID: \"1\",\n                fill: false,\n                lineTension: 0,\n                borderColor: \"#0000ff\",\n                pointRadius: 0,\n                pointBorderColor: \"#0000ff\",\n                pointBackgroundColor: \"#0000ff\",\n                backgroundColor:  \"#0000ff\",\n                borderWidth: 1,\n                data: []  // data is written here later\n            }, {\n                topic: \"Temp\",    // used here not by chart.js\n                label: \"Temp\",\n                yAxisID: \"2\",\n                fill: false,\n                lineTension: 0,\n                borderColor: \"#ff0000\",\n                pointRadius: 0,\n                pointBorderColor: \"#ff0000\",\n                pointBackgroundColor: \"#ff0000\",\n                backgroundColor:  \"#ff0000\",\n                borderWidth: 1,\n                data: []  // data is written here later\n            }]\n        },\n        options: {\n            scales: {\n                xAxes: [{\n                    type: 'time',\n                    time: {\n                        unit: 'minute',\n                        unitStepSize: 1,\n                        displayFormats: {\n                            minute: 'HH:mm'\n                        }\n                    },\n                    ticks: {\n                        autoSkip: true,\n                        maxTicksLimit: 3,\n                        maxRotation: 0,\n                        minRotation: 0\n                    }\n                }],\n                yAxes: [{\n                    id: \"1\",\n                    ticks: {\n                        min: 0,\n                        max: 80,\n                        stepSize: 5\n                    }\n                }, {\n                    id: \"2\",\n                    display: false,\n                    ticks: {\n                        min: 0,\n                        max: 80,\n                        stepSize: 5\n                    }\n                }]\n            },\n            animation: {\n                duration: 0\n            }\n        }\n    }\n        \n/***** You shouldn't normally need to change anything below here *****/    \n    var myChart = null;\n    var loaded = false;     // indicates whether we have already had a load action\n    var chartTimeSpan;\n    var chartMaxPoints;\n\n    function doChart(msg, scope) {\n        if (!myChart) {\n            // chart does not exist so load the data and create it\n            var ctx = document.getElementById(chartID);\n            myChart = new Chart(ctx, chartDef);     \n        }\n        // chart already exists, update it\n        var datasets = myChart.data.datasets;\n        // is this a load or preload action?\n        if (msg.action === \"load\" || msg.action === \"preload\") {\n            // yes, do not allow preload if we have already had a load\n            // so do it if this is a load or we have not previously had a load\n            if (msg.action === \"load\" || !loaded) {\n                // pick up chartTimeSpan and chartMaxPoints if they have been provided\n                if (typeof msg.chartTimeSpan != 'undefined') {\n                    chartTimeSpan = msg.chartTimeSpan;\n                }\n                if (typeof msg.chartMaxPoints != 'undefined') {\n                    chartMaxPoints = msg.chartMaxPoints;\n                }\n                    \n                // replace existing data for matching topics\n                for (var j = 0; j < msg.payload.length; j++) {\n                    var topic = msg.payload[j].topic;\n                    // find it in the chart\n                    for (var i = 0; i < datasets.length; i++) {\n                        if (datasets[i].topic == topic) {\n                            // if stripping old samples by time is required then ensure the x value is Date\n                            if (chartTimeSpan > 0 ) {\n                                var data = msg.payload[j].data;\n                                for (var k = 0; k < data.length; k++) {\n                                    if (typeof data[k].x === \"string\") {\n                                        data[k].x = new Date(data[k].x);\n                                    }\n                                }\n                            }\n                            if (chartDef.type !== \"bar\") {\n                                datasets[i].data = msg.payload[j].data;\n                            } else {\n                                // bar chart so x values must go to labels and y values to dataset\n                                datasets[i].data = [];\n                                myChart.data.labels = [];\n                                var data = msg.payload[j].data;\n                                for (var k = 0; k < data.length; k++) {\n                                    datasets[i].data.push(data[k].y);\n                                    myChart.data.labels.push(data[k].x);\n                                }\n                            }\n                            break;\n                        }\n                    }\n                }\n            }\n            if (msg.action === \"load\") loaded = true;\n            myChart.update();\n        } else {\n            // does the topic match one of the datasets?\n            for (var i = 0; i < datasets.length; i++) {\n                if (datasets[i].topic == msg.topic) {\n                    // if stripping old samples by time is required then ensure the x value is Date\n                    if (chartTimeSpan > 0 && typeof msg.payload.x === \"string\") {\n                        msg.payload.x = new Date(msg.payload.x);\n                    }\n                    if (chartDef.type !== \"bar\") {\n                        datasets[i].data.push(msg.payload);\n                    } else {\n                         // bar chart so x value must go to labels and y value to dataset\n                        datasets[i].data.push(msg.payload.y);\n                        myChart.data.labels.push(msg.payload.x);\n                    }\n                    myChart.update();\n                    break;\n                }\n            }\n        }\n        // strip off samples older than now\n        // charTimeSpan == 0 implies don't do it\n        var shifted = false;\n        if (chartTimeSpan > 0) {\n            var now = new Date();\n            var oldestTimeAllowed = now - chartTimeSpan;\n            for (var i = 0; i < datasets.length; i++) {\n                dataset = datasets[i];\n                while(dataset.data[0] && getTime(dataset.data[0].x) < oldestTimeAllowed) {\n                    dataset.data.shift();\n                    shifted = true;\n                }\n            }\n        }\n        // strip samples off the front if there are now too many\n        // charTimeSpan == 0 implies don't do it\n        if (chartMaxPoints > 0) {\n            for (var i = 0; i < datasets.length; i++) {\n                dataset = datasets[i];\n                while(dataset.data.length > chartMaxPoints) {\n                    dataset.data.shift();\n                    shifted = true;\n                }\n            }\n        }\n        if (shifted) {\n            myChart.update();\n        }\n        \n        var maxValue = getMax(myChart);\n        myChart.options.scales.yAxes[0].ticks.max = maxValue + 10;\n        myChart.options.scales.yAxes[1].ticks.max = maxValue + 10;\n        \n        var minValue = getMin(myChart);\n        myChart.options.scales.yAxes[0].ticks.min = minValue - 10;\n        myChart.options.scales.yAxes[1].ticks.min = minValue - 10;\n    };\n\n    var getMax = function(chart) {\n        datasets = chart.data.datasets;\n        var maxValue = 0;\n        for(var i=0; i<datasets.length; i++) {\n            dataset=datasets[i]\n            if(chart.data.datasets[i].hidden) {\n                continue;\n            }\n            dataset.data.forEach(function(d) {\n                if(typeof(d.y)==\"number\" && d.y > maxValue) {\n                    maxValue = d.y\n                }\n            })\n        }\n        return parseInt(maxValue);\n    }\n\n    var getMin = function(chart) {\n        datasets = chart.data.datasets;\n        var minValue = 1000;\n        for(var i=0; i<datasets.length; i++) {\n            dataset=datasets[i]\n            if(chart.data.datasets[i].hidden) {\n                continue;\n            }\n            dataset.data.forEach(function(d) {\n                if(typeof(d.y)==\"number\" && d.y < minValue) {\n                    minValue = d.y\n                }\n            })\n        }\n        return parseInt(minValue);\n    }\n\n    // gets the time of an x value, works for strings or Date types\n    function getTime(x) {\n        if (typeof x === \"string\") x = new Date(x);\n        return x.getTime();\n    }\n    \n    // builds the preload message for sending back to the chart helper\n    function preloadMsg() {\n        var preMsg = {action: \"preload\", payload: \"preload\"};\n        // build array of topics in chart\n        var topics = [];\n        for (var i=0; i<chartDef.data.datasets.length; i++) {\n            topics.push(chartDef.data.datasets[i].topic);\n        }\n        preMsg.topics = topics;\n        // has the chart already been created\n        if (myChart) {\n            preMsg.lastXValue = 1;\n        } else {\n            preMsg.lastXValue = 0;\n        }\n        return preMsg;\n    }\n\n    (function(scope) {\n        // this code gets run when the a view is opened on the node in the browser\n        // send a preload message back to node red to ask it send\n        // us a complete set of data. Pass down max points and time span to the helper node for it to use\n        // plus an array of the topics of interest\n        scope.send( preloadMsg() );\n        \n        scope.$watch('msg', function(msg) {\n            if (msg) {\n                doChart(msg, scope);\n            }\n        });\n    })(scope);\n})();\n</script>\n",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 590,
    "y": 40,
    "wires": [
      [
        "eba680ad.57fdf"
      ]
    ]
  },
  {
    "id": "eba680ad.57fdf",
    "type": "function",
    "z": "921f2684.926868",
    "name": "HLTChart Helper",
    "func": "// A helper for the node-red chart.js template node\n// see the template node for the majority of the user defined data\n// here all that is needed is to setup values to limit the length of the chart\n// Firstly chartMaxPoints may be set non-zero and (for each channel) when the number\n// of points exceeds this value then the oldest samples will be discarded.\n// Alternatively (or in addition) if the x axis is time based then chartTimeSpan (milliseconds)\n// may be set and then old samples will be discarded to limit the chart to this time span.\n\nvar chartMaxPoints = 0;             //max no points in a chart before they drop off the left. Set to zero to disable\nvar chartTimeSpan = 60*60*1000;     //chart time span 4 mins. Set to zero to disable\n\n// ----------------------------------------------------------\n// You should not need to change anything below here\n\n// with inputs connected to the same nodes as a chart.js node this maintains a chart history\n// for preloading into the chart when it is opened in the browser\n\nvar topicsOfinterest = context.get('topicsOfInterest');    // can't use null here\nif (typeof topicsOfInterest == 'undefined') topicsOfInterest = null;\n\nvar msg2 = null;\nvar datasets = context.get('datasets') || [];\n// each dataset maps to a channel on the chart and consists of a hash with fields\n// topic: the topic name of the channel\n// data: an array of data points {x: x_value, y: y_value}\n// If msg.action == \"preload\" then the topic and payload are ignored and a message is passed\n// on containing the current chart data and msg.action still set to preload\n\nif (msg.action === \"preload\") {\n    // we should have been passed the topics of interest\n    topicsOfInterest = msg.topics;      // null if not provided\n    context.set('topicsOfInterest', topicsOfInterest);\n    // send a message containing the current chart data time range values, leave rest of msg as is\n    msg.payload = datasets;\n    msg.chartMaxPoints = chartMaxPoints;\n    msg.chartTimeSpan = chartTimeSpan;\n} else if (msg.action === \"restore\") {\n    // restoring from persistent memory\n    // step through the given datasets, if any\n    if (Array.isArray(msg.payload)) {\n        for (var i = 0; i < msg.payload.length; i++) {\n            topic = msg.payload[i].topic;\n            // find the matching topic\n            var found = false;\n            for (var k = 0; k < datasets.length; k++) {\n                if (datasets[k].topic == topic) {\n                    // insert the data in front of any that has been acquired since startup\n                    datasets[k].data = msg.payload[i].data.concat(datasets[k].data);\n                    found = true;\n                    break;\n                }\n            }\n            if (!found) {\n                // new topic so make a new dataset and fill it\n                datasets.push({topic: topic, data: msg.payload[i].data});\n            }\n        }\n    }\n    // remember that we have restored in order to enable future writes to persistent store\n    context.set(\"restored\", true);\n    // send a preload action to the chart\n    msg.action = \"preload\";\n    msg.payload = datasets;\n} else if (msg.action === \"load\") {\n    // replace existing data for matching topics\n    for (var j = 0; j < msg.payload.length; j++) {\n        var topic = msg.payload[j].topic;\n        // find it in the chart\n        found = false;\n        for (i = 0; i < datasets.length; i++) {\n            if (datasets[i].topic == topic) {\n                datasets[i].data = msg.payload[j].data;\n                found = true;\n                break;\n            }\n        }\n        if (!found) {\n            // new topic so make a new dataset and fill it\n            datasets.push({topic: topic, data: msg.payload[j].data});\n        }\n    }\n    msg = null;         // don't send anything on\n} else {\n    // check whether the topic is one we are interested in\n    if (topicsOfInterest === null  || topicsOfInterest.indexOf(msg.topic) >= 0) {\n        found = false;\n        // find the right dataset if it already exists\n        for (i = 0; i < datasets.length; i++) {\n            dataset = datasets[i];\n            if (dataset.topic == msg.topic) {\n                found = true;\n                dataset.data.push(msg.payload);\n                break;\n            }\n        }\n        if (!found) {\n            // new topic so make a new dataset\n            datasets.push({topic: msg.topic, data: [msg.payload]});\n        }\n    } else {\n        // ignore topics that are not of interest\n    }\n    // do not pass on a message to o/p 1, send the datasets to o/p 2 for persistent\n    // storage if required and we have been given data on startup\n    // this is to prevent the persistent store being overwritten before it has been read\n    msg = null;\n    if (context.get(\"restored\")) {\n        msg2 = {payload: datasets};\n    }\n}\n    \n// remove any points that are too old\nif (chartTimeSpan > 0) {\n    var now = new Date();\n    var oldestTimeAllowed = new Date();\n    oldestTimeAllowed.setTime(now.getTime() - (chartTimeSpan));\n    for (i = 0; i < datasets.length; i++) {\n        var data = datasets[i].data;\n        while (data.length > 0 ) {\n            // convert the x value (in place) to a Date if it is a string\n            if (typeof data[0].x === \"string\") {\n                data[0].x = new Date(data[0].x);\n            }            \n            if (data[0].x < oldestTimeAllowed) {\n                data.shift();\n            } else {\n                break;\n            }\n        }\n    }\n}\n// strip samples off the front if there are now too many\n// charTimeSpan == 0 implies don't do it\nif (chartMaxPoints > 0) {\n    var shifted = false;\n    for (i = 0; i < datasets.length; i++) {\n        data = datasets[i].data;\n        while(data.length > chartMaxPoints) {\n            data.shift();\n        }\n    }\n}\ncontext.set('datasets', datasets);\nreturn [msg,msg2];\n\n",
    "outputs": "2",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 610,
    "y": 120,
    "wires": [
      [
        "b516c8eb.800748"
      ],
      []
    ]
  }
]