flows/HLT Buttons.json
[
  {
    "id": "64dbccc4.045ad4",
    "type": "tab",
    "label": "HLT Buttons",
    "disabled": false,
    "info": ""
  },
  {
    "id": "1c02ec34.9cf394",
    "type": "ui_button",
    "z": "64dbccc4.045ad4",
    "name": "",
    "group": "a0e00a00.81b428",
    "order": 7,
    "width": "2",
    "height": "1",
    "passthru": false,
    "label": "PID",
    "tooltip": "",
    "color": "",
    "bgcolor": "{{colour}}",
    "icon": "",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 190,
    "y": 100,
    "wires": [
      [
        "e674e86.07bc118"
      ]
    ]
  },
  {
    "id": "c86d1b.084d52e8",
    "type": "ui_button",
    "z": "64dbccc4.045ad4",
    "name": "",
    "group": "a0e00a00.81b428",
    "order": 8,
    "width": "2",
    "height": "1",
    "passthru": false,
    "label": "Manual",
    "tooltip": "",
    "color": "",
    "bgcolor": "{{colour}}",
    "icon": "",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 200,
    "y": 140,
    "wires": [
      [
        "c65090bd.743cb"
      ]
    ]
  },
  {
    "id": "d4fad3a8.34dd7",
    "type": "ui_button",
    "z": "64dbccc4.045ad4",
    "name": "",
    "group": "a0e00a00.81b428",
    "order": 9,
    "width": "2",
    "height": "1",
    "passthru": false,
    "label": "Off",
    "tooltip": "",
    "color": "",
    "bgcolor": "{{colour}}",
    "icon": "",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 190,
    "y": 180,
    "wires": [
      [
        "30978ff7.bcead"
      ]
    ]
  },
  {
    "id": "e674e86.07bc118",
    "type": "link out",
    "z": "64dbccc4.045ad4",
    "name": "HLT PID Button State",
    "links": [
      "8dd830cc.8676b",
      "8f26628d.11d82",
      "f9c33fbf.60e96",
      "1bfa54fc.6b555b"
    ],
    "x": 335,
    "y": 100,
    "wires": []
  },
  {
    "id": "c65090bd.743cb",
    "type": "link out",
    "z": "64dbccc4.045ad4",
    "name": "HLT Manual Button State",
    "links": [
      "32bfe155.8d454e",
      "8dd830cc.8676b",
      "8f26628d.11d82",
      "af164f02.e1e58",
      "f9c33fbf.60e96"
    ],
    "x": 335,
    "y": 140,
    "wires": []
  },
  {
    "id": "30978ff7.bcead",
    "type": "link out",
    "z": "64dbccc4.045ad4",
    "name": "HLT Off Button State",
    "links": [
      "8dd830cc.8676b",
      "8f26628d.11d82",
      "f9c33fbf.60e96",
      "d180f01d.2d113",
      "797a9363.080f6c",
      "1445bd1b.557c93"
    ],
    "x": 335,
    "y": 180,
    "wires": []
  },
  {
    "id": "8dd830cc.8676b",
    "type": "link in",
    "z": "64dbccc4.045ad4",
    "name": "HLT PID Button State",
    "links": [
      "30978ff7.bcead",
      "c65090bd.743cb",
      "e674e86.07bc118"
    ],
    "x": 95,
    "y": 360,
    "wires": [
      [
        "69c2cae1.3d8754"
      ]
    ]
  },
  {
    "id": "69c2cae1.3d8754",
    "type": "delay",
    "z": "64dbccc4.045ad4",
    "name": "PID Delay",
    "pauseType": "delay",
    "timeout": "0.2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 200,
    "y": 360,
    "wires": [
      [
        "f4896af9.843f38"
      ]
    ]
  },
  {
    "id": "f4896af9.843f38",
    "type": "switch",
    "z": "64dbccc4.045ad4",
    "name": "",
    "property": "hlt_on",
    "propertyType": "global",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "false"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 250,
    "y": 400,
    "wires": [
      [
        "4f9b6cd8.515aa4"
      ],
      [
        "b130bd7.fdc984"
      ]
    ]
  },
  {
    "id": "4f9b6cd8.515aa4",
    "type": "switch",
    "z": "64dbccc4.045ad4",
    "name": "",
    "property": "hlt_pid",
    "propertyType": "global",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "false"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 410,
    "y": 380,
    "wires": [
      [
        "f5472eca.b35b9"
      ],
      [
        "b130bd7.fdc984"
      ]
    ]
  },
  {
    "id": "f5472eca.b35b9",
    "type": "change",
    "z": "64dbccc4.045ad4",
    "name": "hlt PID on colour",
    "rules": [
      {
        "t": "set",
        "p": "colour",
        "pt": "msg",
        "to": "#424242",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 590,
    "y": 360,
    "wires": [
      [
        "cbb8aa98.3dbcc8"
      ]
    ]
  },
  {
    "id": "b130bd7.fdc984",
    "type": "change",
    "z": "64dbccc4.045ad4",
    "name": "hlt PID off colour",
    "rules": [
      {
        "t": "set",
        "p": "colour",
        "pt": "msg",
        "to": "grey",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 580,
    "y": 400,
    "wires": [
      [
        "cbb8aa98.3dbcc8"
      ]
    ]
  },
  {
    "id": "cbb8aa98.3dbcc8",
    "type": "link out",
    "z": "64dbccc4.045ad4",
    "name": "HLT PID button colour",
    "links": [
      "e9257400.877928"
    ],
    "x": 735,
    "y": 380,
    "wires": []
  },
  {
    "id": "e9257400.877928",
    "type": "link in",
    "z": "64dbccc4.045ad4",
    "name": "HLT PID button colour",
    "links": [
      "cbb8aa98.3dbcc8"
    ],
    "x": 95,
    "y": 100,
    "wires": [
      [
        "1c02ec34.9cf394"
      ]
    ]
  },
  {
    "id": "8f26628d.11d82",
    "type": "link in",
    "z": "64dbccc4.045ad4",
    "name": "HLT Manual Button State",
    "links": [
      "30978ff7.bcead",
      "c65090bd.743cb",
      "e674e86.07bc118"
    ],
    "x": 95,
    "y": 480,
    "wires": [
      [
        "cf257d54.c260f"
      ]
    ]
  },
  {
    "id": "cf257d54.c260f",
    "type": "delay",
    "z": "64dbccc4.045ad4",
    "name": "Manual Delay",
    "pauseType": "delay",
    "timeout": "0.2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 230,
    "y": 480,
    "wires": [
      [
        "110d16a3.0b4579"
      ]
    ]
  },
  {
    "id": "110d16a3.0b4579",
    "type": "switch",
    "z": "64dbccc4.045ad4",
    "name": "",
    "property": "hlt_on",
    "propertyType": "global",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "false"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 250,
    "y": 520,
    "wires": [
      [
        "258b75f8.2156aa"
      ],
      [
        "676360d6.92545"
      ]
    ]
  },
  {
    "id": "258b75f8.2156aa",
    "type": "switch",
    "z": "64dbccc4.045ad4",
    "name": "",
    "property": "hlt_pid",
    "propertyType": "global",
    "rules": [
      {
        "t": "false"
      },
      {
        "t": "true"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 410,
    "y": 500,
    "wires": [
      [
        "2814c839.fd4d78"
      ],
      [
        "676360d6.92545"
      ]
    ]
  },
  {
    "id": "2814c839.fd4d78",
    "type": "change",
    "z": "64dbccc4.045ad4",
    "name": "hlt manual on colour",
    "rules": [
      {
        "t": "set",
        "p": "colour",
        "pt": "msg",
        "to": "#424242",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 600,
    "y": 480,
    "wires": [
      [
        "410d1a1d.b41d84"
      ]
    ]
  },
  {
    "id": "676360d6.92545",
    "type": "change",
    "z": "64dbccc4.045ad4",
    "name": "hlt manual off colour",
    "rules": [
      {
        "t": "set",
        "p": "colour",
        "pt": "msg",
        "to": "grey",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 600,
    "y": 520,
    "wires": [
      [
        "410d1a1d.b41d84"
      ]
    ]
  },
  {
    "id": "410d1a1d.b41d84",
    "type": "link out",
    "z": "64dbccc4.045ad4",
    "name": "HLT Manual button colour",
    "links": [
      "68f79625.3741c8"
    ],
    "x": 755,
    "y": 500,
    "wires": []
  },
  {
    "id": "f9c33fbf.60e96",
    "type": "link in",
    "z": "64dbccc4.045ad4",
    "name": "HLT Off Button State",
    "links": [
      "30978ff7.bcead",
      "c65090bd.743cb",
      "e674e86.07bc118"
    ],
    "x": 95,
    "y": 580,
    "wires": [
      [
        "63b723b7.8efd6c"
      ]
    ]
  },
  {
    "id": "63b723b7.8efd6c",
    "type": "delay",
    "z": "64dbccc4.045ad4",
    "name": "Off Delay",
    "pauseType": "delay",
    "timeout": "0.2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 210,
    "y": 580,
    "wires": [
      [
        "579d339c.7b282c"
      ]
    ]
  },
  {
    "id": "579d339c.7b282c",
    "type": "switch",
    "z": "64dbccc4.045ad4",
    "name": "",
    "property": "hlt_on",
    "propertyType": "global",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "false"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 270,
    "y": 620,
    "wires": [
      [
        "51cdd20.c64b53"
      ],
      [
        "885d28a0.c2af78"
      ]
    ]
  },
  {
    "id": "51cdd20.c64b53",
    "type": "change",
    "z": "64dbccc4.045ad4",
    "name": "hlt Off on colour",
    "rules": [
      {
        "t": "set",
        "p": "colour",
        "pt": "msg",
        "to": "grey",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 440,
    "y": 600,
    "wires": [
      [
        "16866b38.7929a5"
      ]
    ]
  },
  {
    "id": "885d28a0.c2af78",
    "type": "change",
    "z": "64dbccc4.045ad4",
    "name": "hlt Off off colour",
    "rules": [
      {
        "t": "set",
        "p": "colour",
        "pt": "msg",
        "to": "#424242",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 440,
    "y": 640,
    "wires": [
      [
        "16866b38.7929a5"
      ]
    ]
  },
  {
    "id": "16866b38.7929a5",
    "type": "link out",
    "z": "64dbccc4.045ad4",
    "name": "HLT Off button colour",
    "links": [
      "6b3b7e44.d1916"
    ],
    "x": 575,
    "y": 620,
    "wires": []
  },
  {
    "id": "2c519ef7.bb03d2",
    "type": "ui_ui_control",
    "z": "64dbccc4.045ad4",
    "name": "Dashboard connection",
    "events": "all",
    "x": 190,
    "y": 260,
    "wires": [
      [
        "d7800f4e.2001"
      ]
    ]
  },
  {
    "id": "d7800f4e.2001",
    "type": "link out",
    "z": "64dbccc4.045ad4",
    "name": "Off button - initialization",
    "links": [
      "d29c0b0e.466368",
      "d9485d35.5b4ab",
      "eaceda0e.52bf88"
    ],
    "x": 345,
    "y": 260,
    "wires": []
  },
  {
    "id": "eaceda0e.52bf88",
    "type": "link in",
    "z": "64dbccc4.045ad4",
    "name": "HLT PID Button initialization",
    "links": [
      "d7800f4e.2001"
    ],
    "x": 95,
    "y": 400,
    "wires": [
      [
        "f4896af9.843f38"
      ]
    ]
  },
  {
    "id": "d29c0b0e.466368",
    "type": "link in",
    "z": "64dbccc4.045ad4",
    "name": "HLT Manual Button initialization",
    "links": [
      "d7800f4e.2001"
    ],
    "x": 95,
    "y": 520,
    "wires": [
      [
        "110d16a3.0b4579"
      ]
    ]
  },
  {
    "id": "d9485d35.5b4ab",
    "type": "link in",
    "z": "64dbccc4.045ad4",
    "name": "HLT Off Button initialization",
    "links": [
      "d7800f4e.2001"
    ],
    "x": 95,
    "y": 620,
    "wires": [
      [
        "579d339c.7b282c"
      ]
    ]
  },
  {
    "id": "68f79625.3741c8",
    "type": "link in",
    "z": "64dbccc4.045ad4",
    "name": "HLT Manual button colour",
    "links": [
      "410d1a1d.b41d84"
    ],
    "x": 95,
    "y": 140,
    "wires": [
      [
        "c86d1b.084d52e8"
      ]
    ]
  },
  {
    "id": "6b3b7e44.d1916",
    "type": "link in",
    "z": "64dbccc4.045ad4",
    "name": "HLT Off button colour",
    "links": [
      "16866b38.7929a5"
    ],
    "x": 95,
    "y": 180,
    "wires": [
      [
        "d4fad3a8.34dd7"
      ]
    ]
  }
]