flows/Logging.json
[
  {
    "id": "3c9f1c99.157ee4",
    "type": "tab",
    "label": "Logging",
    "disabled": false,
    "info": ""
  },
  {
    "id": "cee6dc3b.8cf98",
    "type": "inject",
    "z": "3c9f1c99.157ee4",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "#:(storeInFile)::brew-label",
    "payloadType": "global",
    "x": 150,
    "y": 34,
    "wires": [
      [
        "116ffc8b.9cf4a3"
      ]
    ]
  },
  {
    "id": "116ffc8b.9cf4a3",
    "type": "ui_text_input",
    "z": "3c9f1c99.157ee4",
    "name": "",
    "label": "Brew label",
    "tooltip": "",
    "group": "6078a96a.d1d938",
    "order": 0,
    "width": 0,
    "height": 0,
    "passthru": true,
    "mode": "text",
    "delay": 300,
    "topic": "",
    "x": 367,
    "y": 34,
    "wires": [
      [
        "497e62e6.1e876c"
      ]
    ]
  },
  {
    "id": "497e62e6.1e876c",
    "type": "change",
    "z": "3c9f1c99.157ee4",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "#:(storeInFile)::brew-label",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 577,
    "y": 34,
    "wires": [
      []
    ]
  },
  {
    "id": "230baba6.187c14",
    "type": "inject",
    "z": "3c9f1c99.157ee4",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "#:(storeInFile)::temp_log",
    "payloadType": "global",
    "x": 140,
    "y": 77,
    "wires": [
      [
        "192c4e98.41aa61"
      ]
    ]
  },
  {
    "id": "192c4e98.41aa61",
    "type": "ui_switch",
    "z": "3c9f1c99.157ee4",
    "name": "",
    "label": "Temperature",
    "tooltip": "",
    "group": "6078a96a.d1d938",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "x": 367,
    "y": 77,
    "wires": [
      [
        "f2ec0101.67957"
      ]
    ]
  },
  {
    "id": "f2ec0101.67957",
    "type": "change",
    "z": "3c9f1c99.157ee4",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "#:(storeInFile)::temp_log",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 567,
    "y": 77,
    "wires": [
      []
    ]
  },
  {
    "id": "2200bd17.79eb22",
    "type": "inject",
    "z": "3c9f1c99.157ee4",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "#:(storeInFile)::temp_log_delta",
    "payloadType": "global",
    "x": 160,
    "y": 120,
    "wires": [
      [
        "3d1c791.a341b86"
      ]
    ]
  },
  {
    "id": "3d1c791.a341b86",
    "type": "ui_numeric",
    "z": "3c9f1c99.157ee4",
    "name": "",
    "label": "Threshold",
    "tooltip": "",
    "group": "6078a96a.d1d938",
    "order": 2,
    "width": 0,
    "height": 0,
    "wrap": false,
    "passthru": true,
    "topic": "",
    "format": "{{value}}°C",
    "min": 0,
    "max": "2",
    "step": "0.05",
    "x": 367,
    "y": 120,
    "wires": [
      [
        "6f1e374e.7a6f98"
      ]
    ]
  },
  {
    "id": "6f1e374e.7a6f98",
    "type": "change",
    "z": "3c9f1c99.157ee4",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "#:(storeInFile)::temp_log_delta",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 587,
    "y": 120,
    "wires": [
      []
    ]
  },
  {
    "id": "6ea4bca2.60e914",
    "type": "inject",
    "z": "3c9f1c99.157ee4",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "#:(storeInFile)::output_log",
    "payloadType": "global",
    "x": 150,
    "y": 163,
    "wires": [
      [
        "2143029c.a83f2e"
      ]
    ]
  },
  {
    "id": "2143029c.a83f2e",
    "type": "ui_switch",
    "z": "3c9f1c99.157ee4",
    "name": "",
    "label": "GPIO Output",
    "tooltip": "",
    "group": "6078a96a.d1d938",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "x": 367,
    "y": 163,
    "wires": [
      [
        "6f1d240c.8de85c"
      ]
    ]
  },
  {
    "id": "6f1d240c.8de85c",
    "type": "change",
    "z": "3c9f1c99.157ee4",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "#:(storeInFile)::output_log",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 577,
    "y": 163,
    "wires": [
      []
    ]
  },
  {
    "id": "bf27eb31.4fdf38",
    "type": "inject",
    "z": "3c9f1c99.157ee4",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "#:(storeInFile)::pid_log",
    "payloadType": "global",
    "x": 140,
    "y": 204,
    "wires": [
      [
        "b92b0a30.40bbe8"
      ]
    ]
  },
  {
    "id": "b92b0a30.40bbe8",
    "type": "ui_switch",
    "z": "3c9f1c99.157ee4",
    "name": "",
    "label": "PID calculation",
    "tooltip": "",
    "group": "6078a96a.d1d938",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "x": 377,
    "y": 204,
    "wires": [
      [
        "1060fe2d.c7d732"
      ]
    ]
  },
  {
    "id": "1060fe2d.c7d732",
    "type": "change",
    "z": "3c9f1c99.157ee4",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "#:(storeInFile)::pid_log",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 567,
    "y": 204,
    "wires": [
      []
    ]
  },
  {
    "id": "510e4f99.d1ac9",
    "type": "inject",
    "z": "3c9f1c99.157ee4",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "#:(storeInFile)::volume_log",
    "payloadType": "global",
    "x": 150,
    "y": 250,
    "wires": [
      [
        "2d29c6cb.3aba6a"
      ]
    ]
  },
  {
    "id": "2d29c6cb.3aba6a",
    "type": "ui_switch",
    "z": "3c9f1c99.157ee4",
    "name": "",
    "label": "Volume",
    "tooltip": "",
    "group": "6078a96a.d1d938",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "x": 357,
    "y": 250,
    "wires": [
      [
        "7b37320e.a5d34c"
      ]
    ]
  },
  {
    "id": "7b37320e.a5d34c",
    "type": "change",
    "z": "3c9f1c99.157ee4",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "#:(storeInFile)::volume_log",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 577,
    "y": 250,
    "wires": [
      []
    ]
  },
  {
    "id": "3d56730.b05758e",
    "type": "link in",
    "z": "3c9f1c99.157ee4",
    "name": "",
    "links": [
      "99f091b4.fb026",
      "c5bb895f.256208"
    ],
    "x": 155,
    "y": 297,
    "wires": [
      [
        "663a9cd3.43a914"
      ]
    ]
  },
  {
    "id": "663a9cd3.43a914",
    "type": "switch",
    "z": "3c9f1c99.157ee4",
    "name": "Temp logging on?",
    "property": "#:(storeInFile)::temp_log",
    "propertyType": "global",
    "rules": [
      {
        "t": "true"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 310,
    "y": 297,
    "wires": [
      [
        "ca870d52.a3591"
      ]
    ]
  },
  {
    "id": "ca870d52.a3591",
    "type": "function",
    "z": "3c9f1c99.157ee4",
    "name": "Construct query to influxdb",
    "func": "msg.query = `SELECT last(value) FROM \"${msg.topic}\"`\nreturn msg",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 540,
    "y": 297,
    "wires": [
      [
        "be157e66.d65dd"
      ]
    ]
  },
  {
    "id": "be157e66.d65dd",
    "type": "influxdb in",
    "z": "3c9f1c99.157ee4",
    "influxdb": "b921988f.6da898",
    "name": "Find last logged temp in influxdb",
    "query": "",
    "rawOutput": false,
    "precision": "",
    "retentionPolicy": "",
    "x": 810,
    "y": 297,
    "wires": [
      [
        "21c6d04b.5bae5"
      ]
    ]
  },
  {
    "id": "21c6d04b.5bae5",
    "type": "function",
    "z": "3c9f1c99.157ee4",
    "name": "Construct log entry",
    "func": "if(msg.payload.length === 0 || Math.abs(msg.payload[0].last - global.get(msg.topic)) >= global.get(\"temp_log_delta\")){\nmsg.payload = [\n    {\n        measurement: msg.topic,\n        fields: {\n            temperature: global.get(msg.topic),\n            brew: global.get(\"brew-label\", \"storeInFile\")\n        },\n        timestamp: new Date()\n    }\n];\nreturn msg}else {\n    return null\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 330,
    "y": 357,
    "wires": [
      [
        "135756b2.0d2a29"
      ]
    ]
  },
  {
    "id": "135756b2.0d2a29",
    "type": "delay",
    "z": "3c9f1c99.157ee4",
    "name": "",
    "pauseType": "timed",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "10",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "x": 560,
    "y": 357,
    "wires": [
      [
        "55034497.03a3ac"
      ]
    ]
  },
  {
    "id": "55034497.03a3ac",
    "type": "influxdb batch",
    "z": "3c9f1c99.157ee4",
    "influxdb": "b921988f.6da898",
    "precision": "",
    "retentionPolicy": "",
    "name": "",
    "x": 820,
    "y": 357,
    "wires": []
  },
  {
    "id": "297a459b.f41f0a",
    "type": "link in",
    "z": "3c9f1c99.157ee4",
    "name": "PID values logger",
    "links": [
      "229a3cf1.42d594",
      "2e0c7253.c2e51e",
      "35799339.5e169c",
      "7d9e136b.92ae5c",
      "bac69bc7.32fe18",
      "ef9de62d.c08a78"
    ],
    "x": 195,
    "y": 440,
    "wires": [
      [
        "b7c5c70.5d33a38"
      ]
    ]
  },
  {
    "id": "b7c5c70.5d33a38",
    "type": "switch",
    "z": "3c9f1c99.157ee4",
    "name": "PID logging on?",
    "property": "#:(storeInFile)::pid_log",
    "propertyType": "global",
    "rules": [
      {
        "t": "true"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 340,
    "y": 440,
    "wires": [
      [
        "fb47ee6a.8f121"
      ]
    ]
  },
  {
    "id": "fb47ee6a.8f121",
    "type": "delay",
    "z": "3c9f1c99.157ee4",
    "name": "",
    "pauseType": "delay",
    "timeout": "250",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 540,
    "y": 440,
    "wires": [
      [
        "8e96470d.888088"
      ]
    ]
  },
  {
    "id": "8e96470d.888088",
    "type": "delay",
    "z": "3c9f1c99.157ee4",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "5",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 750,
    "y": 440,
    "wires": [
      [
        "6f2f6e79.152d4"
      ]
    ]
  },
  {
    "id": "6f2f6e79.152d4",
    "type": "function",
    "z": "3c9f1c99.157ee4",
    "name": "Format output for influxdb",
    "func": "msg.payload = [\n    {\n        measurement: msg.topic,\n        fields: {\n            target: msg.target,\n            output: msg.output,\n            error: msg.last_error,\n            integrator: msg.integrator,\n            derivative: msg.derivative,\n            //active: global.get(\"bk_pid\"),\n            brew: global.get(\"brew-label\", 'storeInFile')\n        },\n        timestamp: new Date()\n    }\n];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1000,
    "y": 440,
    "wires": [
      [
        "fed600c4.28a44"
      ]
    ]
  },
  {
    "id": "8433ff20.b87b7",
    "type": "link in",
    "z": "3c9f1c99.157ee4",
    "name": "GPIO logger enabled?",
    "links": [
      "25238ad5.78f756",
      "4f2c006c.61798",
      "b851b80d.5ee1f8",
      "ca49e1a9.0c693",
      "caeb268c.03fe38",
      "db6261df.6f1e"
    ],
    "x": 195,
    "y": 500,
    "wires": [
      [
        "c538d02b.3deff"
      ]
    ]
  },
  {
    "id": "c538d02b.3deff",
    "type": "switch",
    "z": "3c9f1c99.157ee4",
    "name": "Output logging on?",
    "property": "#:(storeInFile)::output_log",
    "propertyType": "global",
    "rules": [
      {
        "t": "true"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 350,
    "y": 500,
    "wires": [
      [
        "8f5a399d.131208"
      ]
    ]
  },
  {
    "id": "8f5a399d.131208",
    "type": "delay",
    "z": "3c9f1c99.157ee4",
    "name": "",
    "pauseType": "delay",
    "timeout": "250",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 540,
    "y": 500,
    "wires": [
      [
        "1dd0098.7dbb5f7"
      ]
    ]
  },
  {
    "id": "1dd0098.7dbb5f7",
    "type": "delay",
    "z": "3c9f1c99.157ee4",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "5",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 750,
    "y": 500,
    "wires": [
      [
        "a9d5764e.fa3a88"
      ]
    ]
  },
  {
    "id": "a9d5764e.fa3a88",
    "type": "function",
    "z": "3c9f1c99.157ee4",
    "name": "Format output for influxdb",
    "func": "msg.payload = [\n    {\n        measurement: msg.topic,\n        fields: {\n            duty: msg.payload,\n            brew: global.get(\"brew-label\", 'storeInFile')\n        },\n        timestamp: new Date()\n    }\n];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1000,
    "y": 500,
    "wires": [
      [
        "fed600c4.28a44"
      ]
    ]
  },
  {
    "id": "fed600c4.28a44",
    "type": "influxdb batch",
    "z": "3c9f1c99.157ee4",
    "influxdb": "b921988f.6da898",
    "precision": "",
    "retentionPolicy": "",
    "name": "",
    "x": 1290,
    "y": 480,
    "wires": []
  },
  {
    "id": "cb97011d.fdeeb",
    "type": "function",
    "z": "3c9f1c99.157ee4",
    "name": "Global logging",
    "func": "\nnode.log(\"BrewMode: \" + global.get(\"BrewMode\", \"storeInFile\"));\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 320,
    "y": 600,
    "wires": [
      []
    ]
  },
  {
    "id": "5cf941cc.449bb",
    "type": "inject",
    "z": "3c9f1c99.157ee4",
    "d": true,
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "1",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 600,
    "wires": [
      [
        "cb97011d.fdeeb"
      ]
    ]
  }
]