flows/Mash Schedule.json
[
  {
    "id": "3da984a3.27885c",
    "type": "tab",
    "label": "Mash Schedule",
    "disabled": false,
    "info": ""
  },
  {
    "id": "26e72d4b.10b7e2",
    "type": "inject",
    "z": "3da984a3.27885c",
    "name": "get rest1_length",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "#:(storeInFile)::rest1_length",
    "payloadType": "flow",
    "x": 120,
    "y": 480,
    "wires": [
      [
        "32da8e96.218f82"
      ]
    ]
  },
  {
    "id": "32da8e96.218f82",
    "type": "ui_numeric",
    "z": "3da984a3.27885c",
    "name": "",
    "label": "Rest1",
    "tooltip": "",
    "group": "4871467d.3f6578",
    "order": 2,
    "width": 4,
    "height": 1,
    "wrap": false,
    "passthru": true,
    "topic": "",
    "format": "{{value}}m",
    "min": 0,
    "max": "90",
    "step": 1,
    "x": 310,
    "y": 500,
    "wires": [
      [
        "407a7735.9996d8"
      ]
    ]
  },
  {
    "id": "9d174681.47c718",
    "type": "link in",
    "z": "3da984a3.27885c",
    "name": "brewfather Rest1 link in",
    "links": [],
    "x": 175,
    "y": 520,
    "wires": [
      [
        "32da8e96.218f82"
      ]
    ]
  },
  {
    "id": "407a7735.9996d8",
    "type": "change",
    "z": "3da984a3.27885c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "#:(storeInFile)::rest1_length",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 500,
    "y": 500,
    "wires": [
      [
        "5f513d25.cff454"
      ]
    ]
  },
  {
    "id": "7e85a505.02910c",
    "type": "inject",
    "z": "3da984a3.27885c",
    "name": "get rest2_length",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "#:(storeInFile)::rest2_length",
    "payloadType": "flow",
    "x": 120,
    "y": 580,
    "wires": [
      [
        "8e765246.634ae"
      ]
    ]
  },
  {
    "id": "8e765246.634ae",
    "type": "ui_numeric",
    "z": "3da984a3.27885c",
    "name": "",
    "label": "Rest2",
    "tooltip": "",
    "group": "4871467d.3f6578",
    "order": 4,
    "width": 4,
    "height": 1,
    "wrap": false,
    "passthru": true,
    "topic": "",
    "format": "{{value}}m",
    "min": 0,
    "max": "90",
    "step": 1,
    "x": 310,
    "y": 600,
    "wires": [
      [
        "5c1d381a.2d3778"
      ]
    ]
  },
  {
    "id": "deafe85c.da1e98",
    "type": "link in",
    "z": "3da984a3.27885c",
    "name": "brewfather Rest2 link in",
    "links": [],
    "x": 175,
    "y": 620,
    "wires": [
      [
        "8e765246.634ae"
      ]
    ]
  },
  {
    "id": "5c1d381a.2d3778",
    "type": "change",
    "z": "3da984a3.27885c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "#:(storeInFile)::rest2_length",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 500,
    "y": 600,
    "wires": [
      [
        "af97cb5a.275ed8"
      ]
    ]
  },
  {
    "id": "674779cc.848a08",
    "type": "inject",
    "z": "3da984a3.27885c",
    "name": "get rest3_length",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "#:(storeInFile)::rest3_length",
    "payloadType": "flow",
    "x": 120,
    "y": 660,
    "wires": [
      [
        "a9ce864.82cb178"
      ]
    ]
  },
  {
    "id": "a9ce864.82cb178",
    "type": "ui_numeric",
    "z": "3da984a3.27885c",
    "name": "",
    "label": "Rest3",
    "tooltip": "",
    "group": "4871467d.3f6578",
    "order": 6,
    "width": 4,
    "height": 1,
    "wrap": false,
    "passthru": true,
    "topic": "",
    "format": "{{value}}m",
    "min": 0,
    "max": "90",
    "step": 1,
    "x": 310,
    "y": 680,
    "wires": [
      [
        "dbedc433.600658"
      ]
    ]
  },
  {
    "id": "c8ecb74a.a53358",
    "type": "link in",
    "z": "3da984a3.27885c",
    "name": "brewfather Rest3 link in",
    "links": [],
    "x": 175,
    "y": 700,
    "wires": [
      [
        "a9ce864.82cb178"
      ]
    ]
  },
  {
    "id": "dbedc433.600658",
    "type": "change",
    "z": "3da984a3.27885c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "#:(storeInFile)::rest3_length",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 500,
    "y": 680,
    "wires": [
      [
        "826d046a.3a0268"
      ]
    ]
  },
  {
    "id": "db031b90.29bf98",
    "type": "inject",
    "z": "3da984a3.27885c",
    "name": "get rest4_length",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "#:(storeInFile)::rest4_length",
    "payloadType": "flow",
    "x": 120,
    "y": 740,
    "wires": [
      [
        "bd535f7b.bdadd"
      ]
    ]
  },
  {
    "id": "bd535f7b.bdadd",
    "type": "ui_numeric",
    "z": "3da984a3.27885c",
    "name": "",
    "label": "Rest4",
    "tooltip": "",
    "group": "4871467d.3f6578",
    "order": 8,
    "width": 4,
    "height": 1,
    "wrap": false,
    "passthru": true,
    "topic": "",
    "format": "{{value}}m",
    "min": 0,
    "max": "90",
    "step": 1,
    "x": 310,
    "y": 760,
    "wires": [
      [
        "a7c29838.90f638"
      ]
    ]
  },
  {
    "id": "68dc6c2.b4d4894",
    "type": "link in",
    "z": "3da984a3.27885c",
    "name": "brewfather Rest4 link in",
    "links": [],
    "x": 175,
    "y": 780,
    "wires": [
      [
        "bd535f7b.bdadd"
      ]
    ]
  },
  {
    "id": "a7c29838.90f638",
    "type": "change",
    "z": "3da984a3.27885c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "#:(storeInFile)::rest4_length",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 500,
    "y": 760,
    "wires": [
      [
        "2de4df6e.2c85c"
      ]
    ]
  },
  {
    "id": "eae95b00.013438",
    "type": "inject",
    "z": "3da984a3.27885c",
    "name": "get rest1_temp",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "#:(storeInFile)::rest1_temp",
    "payloadType": "flow",
    "x": 800,
    "y": 500,
    "wires": [
      [
        "921427f8.566638"
      ]
    ]
  },
  {
    "id": "921427f8.566638",
    "type": "ui_numeric",
    "z": "3da984a3.27885c",
    "name": "",
    "label": "@",
    "tooltip": "",
    "group": "4871467d.3f6578",
    "order": 1,
    "width": 4,
    "height": 1,
    "wrap": false,
    "passthru": true,
    "topic": "",
    "format": "{{value}}°C",
    "min": "20",
    "max": "80",
    "step": 1,
    "x": 990,
    "y": 520,
    "wires": [
      [
        "d0bbc2af.6b4c6"
      ]
    ]
  },
  {
    "id": "1531a2dc.84956d",
    "type": "link in",
    "z": "3da984a3.27885c",
    "name": "brewfather Rest1 link in",
    "links": [],
    "x": 875,
    "y": 540,
    "wires": [
      [
        "921427f8.566638"
      ]
    ]
  },
  {
    "id": "d0bbc2af.6b4c6",
    "type": "change",
    "z": "3da984a3.27885c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "#:(storeInFile)::rest1_temp",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1170,
    "y": 520,
    "wires": [
      [
        "57c59879.e51308"
      ]
    ]
  },
  {
    "id": "d25e3c2f.d61f1",
    "type": "inject",
    "z": "3da984a3.27885c",
    "name": "get rest2_temp",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "#:(storeInFile)::rest2_temp",
    "payloadType": "flow",
    "x": 800,
    "y": 600,
    "wires": [
      [
        "8d075d34.c5f75"
      ]
    ]
  },
  {
    "id": "f4a1e90b.071b58",
    "type": "link in",
    "z": "3da984a3.27885c",
    "name": "brewfather Temp2 link in",
    "links": [],
    "x": 855,
    "y": 640,
    "wires": [
      [
        "8d075d34.c5f75"
      ]
    ]
  },
  {
    "id": "bbc1e7da.086a88",
    "type": "change",
    "z": "3da984a3.27885c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "#:(storeInFile)::rest2_temp",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1170,
    "y": 620,
    "wires": [
      [
        "1e8943b.6960cbc"
      ]
    ]
  },
  {
    "id": "615bce5d.16725",
    "type": "inject",
    "z": "3da984a3.27885c",
    "name": "get rest3_temp",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "#:(storeInFile)::rest3_temp",
    "payloadType": "flow",
    "x": 800,
    "y": 680,
    "wires": [
      [
        "6071ddb.458aa24"
      ]
    ]
  },
  {
    "id": "9d80444a.fb5c38",
    "type": "link in",
    "z": "3da984a3.27885c",
    "name": "brewfather Temp3 link in",
    "links": [],
    "x": 855,
    "y": 720,
    "wires": [
      [
        "6071ddb.458aa24"
      ]
    ]
  },
  {
    "id": "7a149c7c.8c6f94",
    "type": "change",
    "z": "3da984a3.27885c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "#:(storeInFile)::rest3_temp",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1170,
    "y": 700,
    "wires": [
      [
        "7842a85d.66db68"
      ]
    ]
  },
  {
    "id": "b6e52ca3.2c295",
    "type": "inject",
    "z": "3da984a3.27885c",
    "name": "get rest4_temp",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "#:(storeInFile)::rest4_temp",
    "payloadType": "flow",
    "x": 800,
    "y": 760,
    "wires": [
      [
        "cd5f4a8c.f14078"
      ]
    ]
  },
  {
    "id": "e6aa6b97.e9dfc8",
    "type": "link in",
    "z": "3da984a3.27885c",
    "name": "brewfather Temp4 link in",
    "links": [],
    "x": 855,
    "y": 800,
    "wires": [
      [
        "cd5f4a8c.f14078"
      ]
    ]
  },
  {
    "id": "551c6a50.cd3b34",
    "type": "change",
    "z": "3da984a3.27885c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "#:(storeInFile)::rest4_temp",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1170,
    "y": 780,
    "wires": [
      [
        "c0301573.73fb98"
      ]
    ]
  },
  {
    "id": "8d075d34.c5f75",
    "type": "ui_numeric",
    "z": "3da984a3.27885c",
    "name": "",
    "label": "@",
    "tooltip": "",
    "group": "4871467d.3f6578",
    "order": 3,
    "width": 4,
    "height": 1,
    "wrap": false,
    "passthru": true,
    "topic": "",
    "format": "{{value}}°C",
    "min": "20",
    "max": "80",
    "step": 1,
    "x": 990,
    "y": 620,
    "wires": [
      [
        "bbc1e7da.086a88"
      ]
    ]
  },
  {
    "id": "6071ddb.458aa24",
    "type": "ui_numeric",
    "z": "3da984a3.27885c",
    "name": "",
    "label": "@",
    "tooltip": "",
    "group": "4871467d.3f6578",
    "order": 5,
    "width": 4,
    "height": 1,
    "wrap": false,
    "passthru": true,
    "topic": "",
    "format": "{{value}}°C",
    "min": "20",
    "max": "80",
    "step": 1,
    "x": 990,
    "y": 700,
    "wires": [
      [
        "7a149c7c.8c6f94"
      ]
    ]
  },
  {
    "id": "cd5f4a8c.f14078",
    "type": "ui_numeric",
    "z": "3da984a3.27885c",
    "name": "",
    "label": "@",
    "tooltip": "",
    "group": "4871467d.3f6578",
    "order": 7,
    "width": 4,
    "height": 1,
    "wrap": false,
    "passthru": true,
    "topic": "",
    "format": "{{value}}°C",
    "min": "20",
    "max": "80",
    "step": 1,
    "x": 990,
    "y": 780,
    "wires": [
      [
        "551c6a50.cd3b34"
      ]
    ]
  },
  {
    "id": "53eae67a.071798",
    "type": "inject",
    "z": "3da984a3.27885c",
    "name": "mash_start",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "#:(storeInFile)::mash_start",
    "payloadType": "flow",
    "x": 130,
    "y": 420,
    "wires": [
      [
        "e487c85a.28a338"
      ]
    ]
  },
  {
    "id": "e487c85a.28a338",
    "type": "ui_dropdown",
    "z": "3da984a3.27885c",
    "name": "Start time",
    "label": "",
    "tooltip": "",
    "place": "",
    "group": "e010af88.2414c",
    "order": 10,
    "width": 8,
    "height": 1,
    "passthru": true,
    "options": [
      {
        "label": "Start now",
        "value": "now",
        "type": "str"
      },
      {
        "label": "Delay start by..",
        "value": "delay",
        "type": "str"
      },
      {
        "label": "Resume at",
        "value": "resume",
        "type": "str"
      }
    ],
    "payload": "",
    "topic": "",
    "x": 300,
    "y": 420,
    "wires": [
      [
        "bca241cd.464b2"
      ]
    ]
  },
  {
    "id": "bca241cd.464b2",
    "type": "change",
    "z": "3da984a3.27885c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "#:(storeInFile)::mash_start",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 490,
    "y": 420,
    "wires": [
      [
        "394ebead.b33262"
      ]
    ]
  },
  {
    "id": "394ebead.b33262",
    "type": "function",
    "z": "3da984a3.27885c",
    "name": "Show/Hide scheduler",
    "func": "if(flow.get('mash_start', 'storeInFile') == \"now\"){\n    msg.payload = {group:{hide:[\"Mash_Schedule_Control2\"]}}\n}\nelse\n{\n        msg.payload = {group:{show:[\"Mash_Schedule_Control2\"]}}\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 720,
    "y": 420,
    "wires": [
      [
        "5dd68a77.961094"
      ]
    ]
  },
  {
    "id": "5dd68a77.961094",
    "type": "link out",
    "z": "3da984a3.27885c",
    "name": "Scheduler visibility",
    "links": [
      "d9f805ba.f62428"
    ],
    "x": 885,
    "y": 420,
    "wires": []
  },
  {
    "id": "332320ac.facee",
    "type": "ui_ui_control",
    "z": "3da984a3.27885c",
    "name": "Dashboard connection",
    "events": "all",
    "x": 260,
    "y": 40,
    "wires": [
      [
        "749aec45.ab7f34"
      ]
    ]
  },
  {
    "id": "d9f805ba.f62428",
    "type": "link in",
    "z": "3da984a3.27885c",
    "name": "",
    "links": [
      "5dd68a77.961094",
      "df1f38a3.76ecb8",
      "18197756.aa0f39",
      "be3f1a7a.188088"
    ],
    "x": 95,
    "y": 40,
    "wires": [
      [
        "332320ac.facee"
      ]
    ]
  },
  {
    "id": "906a0832.614d68",
    "type": "link in",
    "z": "3da984a3.27885c",
    "name": "Initialization",
    "links": [
      "749aec45.ab7f34"
    ],
    "x": 555,
    "y": 380,
    "wires": [
      [
        "394ebead.b33262"
      ]
    ]
  },
  {
    "id": "749aec45.ab7f34",
    "type": "link out",
    "z": "3da984a3.27885c",
    "name": "Connection established",
    "links": [
      "906a0832.614d68"
    ],
    "x": 415,
    "y": 40,
    "wires": []
  },
  {
    "id": "f5040bb6.50aa28",
    "type": "inject",
    "z": "3da984a3.27885c",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "#:(storeInFile)::strike_adjustment",
    "payloadType": "flow",
    "x": 160,
    "y": 140,
    "wires": [
      [
        "ed72f93.aa2ef08"
      ]
    ]
  },
  {
    "id": "ed72f93.aa2ef08",
    "type": "ui_numeric",
    "z": "3da984a3.27885c",
    "name": "",
    "label": "Strike adjustment",
    "tooltip": "",
    "group": "e010af88.2414c",
    "order": 8,
    "width": 0,
    "height": 0,
    "wrap": false,
    "passthru": true,
    "topic": "",
    "format": "{{value}}°C",
    "min": "-10",
    "max": "10",
    "step": "0.1",
    "x": 410,
    "y": 140,
    "wires": [
      [
        "4e24f8d1.8c5f58"
      ]
    ]
  },
  {
    "id": "4e24f8d1.8c5f58",
    "type": "change",
    "z": "3da984a3.27885c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "#:(storeInFile)::strike_adjustment",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 690,
    "y": 140,
    "wires": [
      [
        "1f068a9f.9d16b5"
      ]
    ]
  },
  {
    "id": "1f068a9f.9d16b5",
    "type": "link out",
    "z": "3da984a3.27885c",
    "name": "ramping_rate",
    "links": [
      "581f76fc.d6cce8"
    ],
    "x": 855,
    "y": 140,
    "wires": []
  },
  {
    "id": "8319c25a.54a4b",
    "type": "inject",
    "z": "3da984a3.27885c",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "#:(storeInFile)::mash_steps",
    "payloadType": "flow",
    "x": 130,
    "y": 240,
    "wires": [
      [
        "1631276b.6861c9"
      ]
    ]
  },
  {
    "id": "1631276b.6861c9",
    "type": "ui_dropdown",
    "z": "3da984a3.27885c",
    "name": "Mash steps",
    "label": "",
    "tooltip": "",
    "place": "",
    "group": "e010af88.2414c",
    "order": 9,
    "width": 8,
    "height": 1,
    "passthru": true,
    "multiple": false,
    "options": [
      {
        "label": "Disabled",
        "value": 0,
        "type": "num"
      },
      {
        "label": "1 step",
        "value": 1,
        "type": "num"
      },
      {
        "label": "2 steps",
        "value": 2,
        "type": "num"
      },
      {
        "label": "3 steps",
        "value": 3,
        "type": "num"
      },
      {
        "label": "4 steps",
        "value": 4,
        "type": "num"
      }
    ],
    "payload": "",
    "topic": "",
    "x": 330,
    "y": 260,
    "wires": [
      [
        "db71164a.92a1b8"
      ]
    ]
  },
  {
    "id": "72399970.c8c148",
    "type": "link in",
    "z": "3da984a3.27885c",
    "name": "brewfather mash steps link in",
    "links": [],
    "x": 215,
    "y": 280,
    "wires": [
      [
        "1631276b.6861c9"
      ]
    ]
  },
  {
    "id": "db71164a.92a1b8",
    "type": "change",
    "z": "3da984a3.27885c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "#:(storeInFile)::mash_steps",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 520,
    "y": 260,
    "wires": [
      [
        "1fa07a38.625bd6",
        "8ffd0a3f.234e28"
      ]
    ]
  },
  {
    "id": "1fa07a38.625bd6",
    "type": "function",
    "z": "3da984a3.27885c",
    "name": "Show/Hide rests",
    "func": "var mashStep1Msg = {enabled:false,payload:0};\nvar mashStep2Msg = {enabled:false, payload:0};\nvar mashStep3Msg = {enabled:false, payload:0};\nvar mashStep4Msg = {enabled:false, payload:0};\n\nif(flow.get('mash_steps', 'storeInFile') == 1){mashStep1Msg = {enabled:true};}\nif(flow.get('mash_steps', 'storeInFile') == 2){mashStep1Msg = {enabled:true};mashStep2Msg = {enabled:true};}\nif(flow.get('mash_steps', 'storeInFile') == 3){mashStep1Msg = {enabled:true};mashStep2Msg = {enabled:true};mashStep3Msg = {enabled:true};}\nif(flow.get('mash_steps', 'storeInFile') == 4){mashStep1Msg = {enabled:true};mashStep2Msg = {enabled:true};mashStep3Msg = {enabled:true};mashStep4Msg = {enabled:true};}\n\nif(flow.get('mash_steps', 'storeInFile') === 0){msg.payload = {group:{hide:[\"Mash_Schedule_Control1\", \"Mash_Schedule_Control3\", \"Mash_Schedule_Rest4\", \"Mash_Schedule_Rest3\", \"Mash_Schedule_Rest2\", \"Mash_Schedule_Rest1\", \"Mash_Schedule_Rest4b\", \"Mash_Schedule_Rest3b\", \"Mash_Schedule_Rest2b\", \"Mash_Schedule_Rest1b\"]}}}\nif(flow.get('mash_steps', 'storeInFile') == 1){msg.payload = {group:{hide:[\"Mash_Schedule_Rest4\", \"Mash_Schedule_Rest3\", \"Mash_Schedule_Rest2\", \"Mash_Schedule_Rest4b\", \"Mash_Schedule_Rest3b\", \"Mash_Schedule_Rest2b\", \"Mash_Schedule_Rest1b\"], show:[\"Mash_Schedule_Control1\", \"Mash_Schedule_Control3\", \"Mash_Schedule_Rest1\"]}}}\nif(flow.get('mash_steps', 'storeInFile') == 2){msg.payload = {group:{hide:[\"Mash_Schedule_Rest4\", \"Mash_Schedule_Rest3\", \"Mash_Schedule_Rest4b\", \"Mash_Schedule_Rest3b\", \"Mash_Schedule_Rest2b\", \"Mash_Schedule_Rest1b\"], show:[\"Mash_Schedule_Control1\", \"Mash_Schedule_Control3\", \"Mash_Schedule_Rest1\", \"Mash_Schedule_Rest2\"]}}}\nif(flow.get('mash_steps', 'storeInFile') == 3){msg.payload = {group:{hide:[\"Mash_Schedule_Rest4\", \"Mash_Schedule_Rest4b\", \"Mash_Schedule_Rest3b\", \"Mash_Schedule_Rest2b\", \"Mash_Schedule_Rest1b\"], show:[\"Mash_Schedule_Control1\", \"Mash_Schedule_Control3\", \"Mash_Schedule_Rest1\", \"Mash_Schedule_Rest2\", \"Mash_Schedule_Rest3\"]}}}\nif(flow.get('mash_steps', 'storeInFile') == 4){msg.payload = {group:{hide:[\"Mash_Schedule_Rest4b\", \"Mash_Schedule_Rest3b\", \"Mash_Schedule_Rest2b\", \"Mash_Schedule_Rest1b\"], show:[\"Mash_Schedule_Control1\", \"Mash_Schedule_Control3\", \"Mash_Schedule_Rest1\", \"Mash_Schedule_Rest2\", \"Mash_Schedule_Rest3\", \"Mash_Schedule_Rest4\"]}}}\n\nreturn [msg, mashStep1Msg, mashStep2Msg, mashStep3Msg, mashStep4Msg];\n",
    "outputs": 5,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 740,
    "y": 260,
    "wires": [
      [
        "df1f38a3.76ecb8"
      ],
      [
        "32da8e96.218f82",
        "921427f8.566638"
      ],
      [
        "8e765246.634ae",
        "8d075d34.c5f75"
      ],
      [
        "a9ce864.82cb178",
        "6071ddb.458aa24"
      ],
      [
        "bd535f7b.bdadd",
        "cd5f4a8c.f14078"
      ]
    ]
  },
  {
    "id": "df1f38a3.76ecb8",
    "type": "link out",
    "z": "3da984a3.27885c",
    "name": "ramping_rate",
    "links": [
      "d9f805ba.f62428"
    ],
    "x": 895,
    "y": 240,
    "wires": []
  },
  {
    "id": "e5a29414.e020e8",
    "type": "ui_numeric",
    "z": "3da984a3.27885c",
    "name": "Hours",
    "label": "",
    "tooltip": "",
    "group": "e010af88.2414c",
    "order": 11,
    "width": 4,
    "height": 1,
    "wrap": false,
    "passthru": true,
    "topic": "",
    "format": "{{value}}h",
    "min": 0,
    "max": "12",
    "step": 1,
    "x": 150,
    "y": 340,
    "wires": [
      []
    ]
  },
  {
    "id": "10d682f6.c923dd",
    "type": "ui_numeric",
    "z": "3da984a3.27885c",
    "name": "Minutes",
    "label": "",
    "tooltip": "",
    "group": "e010af88.2414c",
    "order": 12,
    "width": 4,
    "height": 1,
    "wrap": false,
    "passthru": true,
    "topic": "",
    "format": "{{value}}m",
    "min": 0,
    "max": "59",
    "step": 1,
    "x": 300,
    "y": 340,
    "wires": [
      []
    ]
  },
  {
    "id": "245f082f.377808",
    "type": "link in",
    "z": "3da984a3.27885c",
    "name": "Update schedule length",
    "links": [
      "8ffd0a3f.234e28",
      "2de4df6e.2c85c",
      "826d046a.3a0268",
      "af97cb5a.275ed8",
      "5f513d25.cff454",
      "c0301573.73fb98",
      "7842a85d.66db68",
      "1e8943b.6960cbc",
      "57c59879.e51308",
      "45e82faf.ecb83"
    ],
    "x": 175,
    "y": 840,
    "wires": [
      [
        "4e5c2463.c2c28c"
      ]
    ]
  },
  {
    "id": "4e5c2463.c2c28c",
    "type": "function",
    "z": "3da984a3.27885c",
    "name": "Schedule length",
    "func": "msg.payload = 0.0\n\nvar rampingRatePerMin = flow.get('ramping_rate_perMin', 'storeInFile');\n\nif(flow.get('mash_steps', 'storeInFile') >= 1){msg.payload += flow.get('rest1_length', 'storeInFile')}\nif(flow.get('mash_steps', 'storeInFile') >= 2){msg.payload += ((flow.get('rest2_temp', 'storeInFile')-flow.get('rest1_temp', 'storeInFile'))*rampingRatePerMin) + flow.get('rest2_length', 'storeInFile')}\nif(flow.get('mash_steps', 'storeInFile') >= 3){msg.payload += ((flow.get('rest3_temp', 'storeInFile')-flow.get('rest2_temp', 'storeInFile'))*rampingRatePerMin) + flow.get('rest3_length', 'storeInFile')}\n\nif(flow.get('mash_steps', 'storeInFile') >= 4){msg.payload += ((flow.get('rest4_temp', 'storeInFile')-flow.get('rest3_temp', 'storeInFile'))*rampingRatePerMin) + flow.get('rest4_length', 'storeInFile')}\n\nmsg.payload = parseFloat(msg.payload).toFixed(2);\n\nflow.set('schedule_length', msg.payload)\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 340,
    "y": 840,
    "wires": [
      [
        "4f4ee0a5.79f62"
      ]
    ]
  },
  {
    "id": "4f4ee0a5.79f62",
    "type": "ui_text",
    "z": "3da984a3.27885c",
    "group": "4871467d.3f6578",
    "order": 9,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Total schedule length",
    "format": "{{msg.payload}}m",
    "layout": "row-spread",
    "x": 560,
    "y": 840,
    "wires": []
  },
  {
    "id": "45825977.f3e148",
    "type": "ui_text",
    "z": "3da984a3.27885c",
    "group": "4871467d.3f6578",
    "order": 10,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Total schedule length also includes estimated ramping time between steps",
    "format": "",
    "layout": "row-spread",
    "x": 420,
    "y": 880,
    "wires": []
  },
  {
    "id": "8ffd0a3f.234e28",
    "type": "link out",
    "z": "3da984a3.27885c",
    "name": "",
    "links": [
      "245f082f.377808",
      "9c82b76e.289bb8"
    ],
    "x": 615,
    "y": 300,
    "wires": []
  },
  {
    "id": "5f513d25.cff454",
    "type": "link out",
    "z": "3da984a3.27885c",
    "name": "",
    "links": [
      "245f082f.377808",
      "51b78923.cf14c8"
    ],
    "x": 575,
    "y": 540,
    "wires": []
  },
  {
    "id": "af97cb5a.275ed8",
    "type": "link out",
    "z": "3da984a3.27885c",
    "name": "",
    "links": [
      "245f082f.377808",
      "fb487942.28eed8"
    ],
    "x": 575,
    "y": 640,
    "wires": []
  },
  {
    "id": "826d046a.3a0268",
    "type": "link out",
    "z": "3da984a3.27885c",
    "name": "",
    "links": [
      "245f082f.377808",
      "e2c5db91.b21a88"
    ],
    "x": 575,
    "y": 720,
    "wires": []
  },
  {
    "id": "2de4df6e.2c85c",
    "type": "link out",
    "z": "3da984a3.27885c",
    "name": "",
    "links": [
      "245f082f.377808",
      "646252be.fe410c"
    ],
    "x": 575,
    "y": 800,
    "wires": []
  },
  {
    "id": "57c59879.e51308",
    "type": "link out",
    "z": "3da984a3.27885c",
    "name": "",
    "links": [
      "245f082f.377808",
      "51b78923.cf14c8",
      "581f76fc.d6cce8"
    ],
    "x": 1255,
    "y": 560,
    "wires": []
  },
  {
    "id": "1e8943b.6960cbc",
    "type": "link out",
    "z": "3da984a3.27885c",
    "name": "",
    "links": [
      "245f082f.377808"
    ],
    "x": 1255,
    "y": 660,
    "wires": []
  },
  {
    "id": "7842a85d.66db68",
    "type": "link out",
    "z": "3da984a3.27885c",
    "name": "",
    "links": [
      "245f082f.377808",
      "e2c5db91.b21a88"
    ],
    "x": 1255,
    "y": 740,
    "wires": []
  },
  {
    "id": "c0301573.73fb98",
    "type": "link out",
    "z": "3da984a3.27885c",
    "name": "",
    "links": [
      "245f082f.377808",
      "646252be.fe410c"
    ],
    "x": 1255,
    "y": 820,
    "wires": []
  },
  {
    "id": "799388ce.e200a8",
    "type": "link in",
    "z": "3da984a3.27885c",
    "name": "Run button colour",
    "links": [
      "f77d5762.4fa548"
    ],
    "x": 75,
    "y": 983,
    "wires": [
      [
        "bd05ee3f.97c9e"
      ]
    ]
  },
  {
    "id": "bd05ee3f.97c9e",
    "type": "ui_button",
    "z": "3da984a3.27885c",
    "name": "",
    "group": "6c2dc2b5.3e20ac",
    "order": 3,
    "width": "8",
    "height": 1,
    "passthru": false,
    "label": "Ramp to strike",
    "tooltip": "",
    "color": "",
    "bgcolor": "{{colour}}",
    "icon": "",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 200,
    "y": 983,
    "wires": [
      [
        "dd59e3d8.a1487"
      ]
    ]
  },
  {
    "id": "dd59e3d8.a1487",
    "type": "switch",
    "z": "3da984a3.27885c",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 350,
    "y": 983,
    "wires": [
      [
        "c1ff0c90.09af"
      ],
      [
        "b2947df3.2afc9"
      ]
    ]
  },
  {
    "id": "37045c93.e3dd74",
    "type": "inject",
    "z": "3da984a3.27885c",
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "false",
    "payloadType": "bool",
    "x": 350,
    "y": 1023,
    "wires": [
      [
        "b2947df3.2afc9"
      ]
    ]
  },
  {
    "id": "b2947df3.2afc9",
    "type": "change",
    "z": "3da984a3.27885c",
    "name": "Switch off",
    "rules": [
      {
        "t": "set",
        "p": "scheduler",
        "pt": "global",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 500,
    "y": 1003,
    "wires": [
      [
        "ea96b7cd.e89278"
      ]
    ]
  },
  {
    "id": "c1ff0c90.09af",
    "type": "change",
    "z": "3da984a3.27885c",
    "name": "Switch on",
    "rules": [
      {
        "t": "set",
        "p": "#:(storeInFile)::BrewMode",
        "pt": "global",
        "to": "TriggerRampToStrike",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 500,
    "y": 963,
    "wires": [
      [
        "ea96b7cd.e89278"
      ]
    ]
  },
  {
    "id": "ea96b7cd.e89278",
    "type": "link out",
    "z": "3da984a3.27885c",
    "name": "",
    "links": [
      "1afde172.9dcecf",
      "ab24d9b7.c2ac88",
      "1c33b0b8.0bbddf"
    ],
    "x": 635,
    "y": 1003,
    "wires": []
  },
  {
    "id": "1c33b0b8.0bbddf",
    "type": "link in",
    "z": "3da984a3.27885c",
    "name": "Scheduler update",
    "links": [
      "ea96b7cd.e89278",
      "1e7696b3.a02b79"
    ],
    "x": 115,
    "y": 1080,
    "wires": [
      [
        "ccee596f.7eddb8"
      ]
    ]
  },
  {
    "id": "ccee596f.7eddb8",
    "type": "delay",
    "z": "3da984a3.27885c",
    "name": "delay",
    "pauseType": "delay",
    "timeout": "0.2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 210,
    "y": 1080,
    "wires": [
      [
        "ad4ad92c.8fc8a8"
      ]
    ]
  },
  {
    "id": "ad4ad92c.8fc8a8",
    "type": "switch",
    "z": "3da984a3.27885c",
    "name": "",
    "property": "#:(storeInFile)::BrewMode",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "TriggerRampToStrike",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 330,
    "y": 1080,
    "wires": [
      [
        "d961857c.e374a8"
      ],
      [
        "71edbedb.3592f"
      ]
    ]
  },
  {
    "id": "d961857c.e374a8",
    "type": "change",
    "z": "3da984a3.27885c",
    "name": "on colour",
    "rules": [
      {
        "t": "set",
        "p": "colour",
        "pt": "msg",
        "to": "#66cc00",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 480,
    "y": 1060,
    "wires": [
      [
        "f77d5762.4fa548"
      ]
    ]
  },
  {
    "id": "71edbedb.3592f",
    "type": "change",
    "z": "3da984a3.27885c",
    "name": "off colour",
    "rules": [
      {
        "t": "set",
        "p": "colour",
        "pt": "msg",
        "to": "grey",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 480,
    "y": 1100,
    "wires": [
      [
        "f77d5762.4fa548"
      ]
    ]
  },
  {
    "id": "f77d5762.4fa548",
    "type": "link out",
    "z": "3da984a3.27885c",
    "name": "Run button colour",
    "links": [
      "799388ce.e200a8"
    ],
    "x": 595,
    "y": 1080,
    "wires": []
  },
  {
    "id": "cc50c7f0.e40ed8",
    "type": "ui_text",
    "z": "3da984a3.27885c",
    "group": "6c2dc2b5.3e20ac",
    "order": 1,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Initial strike temperature",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 510,
    "y": 920,
    "wires": []
  },
  {
    "id": "241a49cb.421f06",
    "type": "inject",
    "z": "3da984a3.27885c",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "#:(storeInFile)::ramping_rate_perMin",
    "payloadType": "flow",
    "x": 150,
    "y": 180,
    "wires": [
      [
        "b7baf15e.e248a"
      ]
    ]
  },
  {
    "id": "b7baf15e.e248a",
    "type": "ui_numeric",
    "z": "3da984a3.27885c",
    "name": "",
    "label": "Ramp rate/min",
    "tooltip": "",
    "group": "e010af88.2414c",
    "order": 8,
    "width": 0,
    "height": 0,
    "wrap": false,
    "passthru": true,
    "topic": "",
    "format": "{{value}}°C",
    "min": 0,
    "max": "10",
    "step": "0.05",
    "x": 420,
    "y": 180,
    "wires": [
      [
        "ad41a87e.157078"
      ]
    ]
  },
  {
    "id": "ad41a87e.157078",
    "type": "change",
    "z": "3da984a3.27885c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "#:(storeInFile)::ramping_rate_perMin",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 670,
    "y": 180,
    "wires": [
      [
        "45e82faf.ecb83"
      ]
    ]
  },
  {
    "id": "581f76fc.d6cce8",
    "type": "link in",
    "z": "3da984a3.27885c",
    "name": "Calculate Start temp",
    "links": [
      "57c59879.e51308",
      "1f068a9f.9d16b5",
      "c00e7ea1.bee0a"
    ],
    "x": 215,
    "y": 920,
    "wires": [
      [
        "6a6c41e2.dc0ba"
      ]
    ]
  },
  {
    "id": "6a6c41e2.dc0ba",
    "type": "function",
    "z": "3da984a3.27885c",
    "name": "",
    "func": "\nvar strikeAdjustment = flow.get(\"strike_adjustment\", \"storeInFile\");\nvar mashStep1Temp = flow.get('rest1_temp', 'storeInFile');\n\nflow.set(\"strikeTemp\", strikeAdjustment + mashStep1Temp);\n\nmsg.payload = flow.get(\"strikeTemp\");\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 320,
    "y": 920,
    "wires": [
      [
        "cc50c7f0.e40ed8"
      ]
    ]
  },
  {
    "id": "45e82faf.ecb83",
    "type": "link out",
    "z": "3da984a3.27885c",
    "name": "ramping_rate",
    "links": [
      "245f082f.377808"
    ],
    "x": 855,
    "y": 180,
    "wires": []
  },
  {
    "id": "5dab15cf.55df1c",
    "type": "comment",
    "z": "3da984a3.27885c",
    "name": "Brew control section",
    "info": "",
    "x": 110,
    "y": 1680,
    "wires": []
  },
  {
    "id": "4954fe18.fbd2a",
    "type": "link in",
    "z": "3da984a3.27885c",
    "name": "",
    "links": [],
    "x": 275,
    "y": 1960,
    "wires": [
      [
        "78fd845d.cdc46c"
      ]
    ]
  },
  {
    "id": "78fd845d.cdc46c",
    "type": "switch",
    "z": "3da984a3.27885c",
    "name": "BrewMode",
    "property": "#:(storeInFile)::BrewMode",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "TriggerRampToStrike",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "RampToStrike",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "TriggerMashing",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 3,
    "x": 390,
    "y": 1960,
    "wires": [
      [
        "2ea7482.86e60b8",
        "68e39bf.fa4ab64",
        "bd931d81.a392f",
        "eaea5a38.4640a8"
      ],
      [
        "600f2b31.649314"
      ],
      [
        "7aa7ccc2.464f44",
        "8a2f51b6.88695",
        "a7b585f1.c31a38"
      ]
    ]
  },
  {
    "id": "ea4b9082.2b31a",
    "type": "change",
    "z": "3da984a3.27885c",
    "name": "clear global.BrewMode, and Status",
    "rules": [
      {
        "t": "set",
        "p": "#:(storeInFile)::BrewMode",
        "pt": "global",
        "to": "",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "Idle",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 320,
    "y": 1720,
    "wires": [
      [
        "12dd5b32.bb75c5"
      ]
    ]
  },
  {
    "id": "2ba3e452.5035bc",
    "type": "inject",
    "z": "3da984a3.27885c",
    "name": "initialise",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "x": 100,
    "y": 1720,
    "wires": [
      [
        "ea4b9082.2b31a",
        "626ba097.1350e"
      ]
    ]
  },
  {
    "id": "8639f608.473c98",
    "type": "link in",
    "z": "3da984a3.27885c",
    "name": "Run button colour",
    "links": [
      "aa0ea400.690bd8"
    ],
    "x": 75,
    "y": 1260,
    "wires": [
      [
        "5b3d35b6.5dc5bc"
      ]
    ]
  },
  {
    "id": "5b3d35b6.5dc5bc",
    "type": "ui_button",
    "z": "3da984a3.27885c",
    "name": "",
    "group": "6c2dc2b5.3e20ac",
    "order": 3,
    "width": "8",
    "height": 1,
    "passthru": false,
    "label": "Start mash",
    "tooltip": "",
    "color": "",
    "bgcolor": "{{colour}}",
    "icon": "",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 190,
    "y": 1260,
    "wires": [
      [
        "d23bb81e.abeeb8"
      ]
    ]
  },
  {
    "id": "d23bb81e.abeeb8",
    "type": "switch",
    "z": "3da984a3.27885c",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 350,
    "y": 1260,
    "wires": [
      [
        "1f220edf.b9f7e1",
        "ce8e7acf.782b58"
      ],
      [
        "52c2d745.9831d8"
      ]
    ]
  },
  {
    "id": "228c6d57.f2bc22",
    "type": "inject",
    "z": "3da984a3.27885c",
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "false",
    "payloadType": "bool",
    "x": 350,
    "y": 1300,
    "wires": [
      [
        "52c2d745.9831d8"
      ]
    ]
  },
  {
    "id": "52c2d745.9831d8",
    "type": "change",
    "z": "3da984a3.27885c",
    "name": "Switch off",
    "rules": [
      {
        "t": "set",
        "p": "scheduler",
        "pt": "global",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 500,
    "y": 1280,
    "wires": [
      [
        "f6459377.5492a"
      ]
    ]
  },
  {
    "id": "1f220edf.b9f7e1",
    "type": "change",
    "z": "3da984a3.27885c",
    "name": "Switch on",
    "rules": [
      {
        "t": "set",
        "p": "#:(storeInFile)::BrewMode",
        "pt": "global",
        "to": "TriggerMashing",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 500,
    "y": 1240,
    "wires": [
      [
        "f6459377.5492a"
      ]
    ]
  },
  {
    "id": "f6459377.5492a",
    "type": "link out",
    "z": "3da984a3.27885c",
    "name": "",
    "links": [
      "c1223250.ca94b"
    ],
    "x": 635,
    "y": 1260,
    "wires": []
  },
  {
    "id": "c1223250.ca94b",
    "type": "link in",
    "z": "3da984a3.27885c",
    "name": "Scheduler update",
    "links": [
      "f6459377.5492a"
    ],
    "x": 135,
    "y": 1340,
    "wires": [
      [
        "7c0aa297.5e25bc"
      ]
    ]
  },
  {
    "id": "7c0aa297.5e25bc",
    "type": "delay",
    "z": "3da984a3.27885c",
    "name": "delay",
    "pauseType": "delay",
    "timeout": "0.2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 230,
    "y": 1340,
    "wires": [
      [
        "b6a7ca17.6760e8"
      ]
    ]
  },
  {
    "id": "b6a7ca17.6760e8",
    "type": "switch",
    "z": "3da984a3.27885c",
    "name": "",
    "property": "#:(storeInFile)::BrewMode",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "TriggerMashing",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Mashing",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 3,
    "x": 350,
    "y": 1380,
    "wires": [
      [
        "ff9dd66a.621948"
      ],
      [
        "ff9dd66a.621948"
      ],
      [
        "559aaa39.eb8b14"
      ]
    ]
  },
  {
    "id": "ff9dd66a.621948",
    "type": "change",
    "z": "3da984a3.27885c",
    "name": "on colour",
    "rules": [
      {
        "t": "set",
        "p": "colour",
        "pt": "msg",
        "to": "#66cc00",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 500,
    "y": 1360,
    "wires": [
      [
        "aa0ea400.690bd8"
      ]
    ]
  },
  {
    "id": "559aaa39.eb8b14",
    "type": "change",
    "z": "3da984a3.27885c",
    "name": "off colour",
    "rules": [
      {
        "t": "set",
        "p": "colour",
        "pt": "msg",
        "to": "grey",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 500,
    "y": 1400,
    "wires": [
      [
        "aa0ea400.690bd8"
      ]
    ]
  },
  {
    "id": "aa0ea400.690bd8",
    "type": "link out",
    "z": "3da984a3.27885c",
    "name": "Run button colour",
    "links": [
      "8639f608.473c98"
    ],
    "x": 615,
    "y": 1380,
    "wires": []
  },
  {
    "id": "7aa7ccc2.464f44",
    "type": "change",
    "z": "3da984a3.27885c",
    "name": "Set mash step temp",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "#:(storeInFile)::rest1_temp",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 620,
    "y": 2040,
    "wires": [
      [
        "2d31cce6.ce7794"
      ]
    ]
  },
  {
    "id": "3e8bec3a.472474",
    "type": "link out",
    "z": "3da984a3.27885c",
    "name": "",
    "links": [
      "357ca3f0.b6706c"
    ],
    "x": 775,
    "y": 2080,
    "wires": []
  },
  {
    "id": "8a2f51b6.88695",
    "type": "change",
    "z": "3da984a3.27885c",
    "name": "Set mash step timer",
    "rules": [
      {
        "t": "set",
        "p": "#:(storeInFile)::BrewMode",
        "pt": "global",
        "to": "Mashing",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "#:(storeInFile)::ActiveMashStep",
        "pt": "flow",
        "to": "1",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "#:(storeInFile)::rest1_length",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 620,
    "y": 2080,
    "wires": [
      [
        "3e8bec3a.472474"
      ]
    ]
  },
  {
    "id": "ea080bb9.42ef98",
    "type": "link in",
    "z": "3da984a3.27885c",
    "name": "Run button colour",
    "links": [],
    "x": 115,
    "y": 1520,
    "wires": [
      [
        "79468927.b7eca8"
      ]
    ]
  },
  {
    "id": "79468927.b7eca8",
    "type": "ui_button",
    "z": "3da984a3.27885c",
    "name": "",
    "group": "6c2dc2b5.3e20ac",
    "order": 3,
    "width": "8",
    "height": 1,
    "passthru": false,
    "label": "Abandon",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "x": 220,
    "y": 1520,
    "wires": [
      [
        "559aaa39.eb8b14",
        "71edbedb.3592f",
        "2d17dc9a.6bb864"
      ]
    ]
  },
  {
    "id": "2d17dc9a.6bb864",
    "type": "change",
    "z": "3da984a3.27885c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "#:(storeInFile)::BrewMode",
        "pt": "global",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 460,
    "y": 1520,
    "wires": [
      [
        "72c34e6d.97577"
      ]
    ]
  },
  {
    "id": "72c34e6d.97577",
    "type": "link out",
    "z": "3da984a3.27885c",
    "name": "",
    "links": [
      "5cbd56e2.72cf08"
    ],
    "x": 635,
    "y": 1520,
    "wires": []
  },
  {
    "id": "2bcd27bc.b54168",
    "type": "inject",
    "z": "3da984a3.27885c",
    "name": "Brew Control loop",
    "props": [],
    "repeat": "1",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "x": 190,
    "y": 1920,
    "wires": [
      [
        "78fd845d.cdc46c"
      ]
    ]
  },
  {
    "id": "600f2b31.649314",
    "type": "switch",
    "z": "3da984a3.27885c",
    "name": "RampToStrike switch",
    "property": "temp-MLT",
    "propertyType": "global",
    "rules": [
      {
        "t": "gte",
        "v": "#:(storeInFile)::mlt_adjusted_target",
        "vt": "flow"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 1,
    "x": 620,
    "y": 1960,
    "wires": [
      [
        "3a1f5a57.a5d076"
      ]
    ]
  },
  {
    "id": "a1b43cfd.c7958",
    "type": "link out",
    "z": "3da984a3.27885c",
    "name": "",
    "links": [
      "395383f7.ad069c",
      "da29ca33.74a648"
    ],
    "x": 775,
    "y": 1880,
    "wires": []
  },
  {
    "id": "f3fef30.652ef1",
    "type": "link out",
    "z": "3da984a3.27885c",
    "name": "",
    "links": [
      "82b7a3f0.12d99"
    ],
    "x": 775,
    "y": 1840,
    "wires": []
  },
  {
    "id": "2ea7482.86e60b8",
    "type": "change",
    "z": "3da984a3.27885c",
    "name": "Trigger pump",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 650,
    "y": 1840,
    "wires": [
      [
        "f3fef30.652ef1"
      ]
    ]
  },
  {
    "id": "68e39bf.fa4ab64",
    "type": "change",
    "z": "3da984a3.27885c",
    "name": "Set strike temp",
    "rules": [
      {
        "t": "set",
        "p": "#:(storeInFile)::BrewMode",
        "pt": "global",
        "to": "RampToStrike",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "strikeTemp",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 660,
    "y": 1800,
    "wires": [
      [
        "80604b7c.de3de8"
      ]
    ]
  },
  {
    "id": "80604b7c.de3de8",
    "type": "link out",
    "z": "3da984a3.27885c",
    "name": "",
    "links": [
      "c76903b7.69cd1",
      "51913ee7.1c517",
      "72e960b.66f0ba"
    ],
    "x": 775,
    "y": 1800,
    "wires": []
  },
  {
    "id": "bd931d81.a392f",
    "type": "delay",
    "z": "3da984a3.27885c",
    "name": "",
    "pauseType": "delay",
    "timeout": "0.5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 650,
    "y": 1880,
    "wires": [
      [
        "a1b43cfd.c7958"
      ]
    ]
  },
  {
    "id": "2d31cce6.ce7794",
    "type": "link out",
    "z": "3da984a3.27885c",
    "name": "",
    "links": [
      "c76903b7.69cd1"
    ],
    "x": 775,
    "y": 2040,
    "wires": []
  },
  {
    "id": "3a1f5a57.a5d076",
    "type": "change",
    "z": "3da984a3.27885c",
    "name": "BrewMode=WaitingToMashIn",
    "rules": [
      {
        "t": "set",
        "p": "#:(storeInFile)::BrewMode",
        "pt": "global",
        "to": "WaitingToMashIn",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "Waiting for user to start mash",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 880,
    "y": 1960,
    "wires": [
      [
        "98c7f27b.deef2"
      ]
    ]
  },
  {
    "id": "5573b5c5.68664c",
    "type": "ui_template",
    "z": "3da984a3.27885c",
    "group": "867a95f.bdb8168",
    "name": "",
    "order": 0,
    "width": 0,
    "height": 0,
    "format": "<div style=\"text-align:center;\" ng-bind-html=\"msg.payload\">{msg.payload}</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 1320,
    "y": 1880,
    "wires": [
      []
    ]
  },
  {
    "id": "eaea5a38.4640a8",
    "type": "change",
    "z": "3da984a3.27885c",
    "name": "Template msg",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "Ramping to strike temp",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 660,
    "y": 1760,
    "wires": [
      [
        "a2eace52.d3a64"
      ]
    ]
  },
  {
    "id": "a2eace52.d3a64",
    "type": "link out",
    "z": "3da984a3.27885c",
    "name": "",
    "links": [
      "959da750.2a46a8"
    ],
    "x": 775,
    "y": 1760,
    "wires": []
  },
  {
    "id": "959da750.2a46a8",
    "type": "link in",
    "z": "3da984a3.27885c",
    "name": "",
    "links": [
      "a2eace52.d3a64",
      "98c7f27b.deef2",
      "bbd6ad4a.8b2ed",
      "cb8c4d03.92d6a",
      "aa57ae4f.a91e1",
      "8d3ea50b.2ba758",
      "cb9d14f1.7c2318",
      "b2b5cee6.25e58",
      "a2a0660a.811d48",
      "6d5336ac.01a0b8",
      "12dd5b32.bb75c5"
    ],
    "x": 1225,
    "y": 1880,
    "wires": [
      [
        "5573b5c5.68664c"
      ]
    ]
  },
  {
    "id": "98c7f27b.deef2",
    "type": "link out",
    "z": "3da984a3.27885c",
    "name": "",
    "links": [
      "959da750.2a46a8"
    ],
    "x": 1045,
    "y": 1960,
    "wires": []
  },
  {
    "id": "a7b585f1.c31a38",
    "type": "change",
    "z": "3da984a3.27885c",
    "name": "Template msg",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "Mash step 1 activated",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 600,
    "y": 2000,
    "wires": [
      [
        "bbd6ad4a.8b2ed"
      ]
    ]
  },
  {
    "id": "bbd6ad4a.8b2ed",
    "type": "link out",
    "z": "3da984a3.27885c",
    "name": "",
    "links": [
      "959da750.2a46a8"
    ],
    "x": 775,
    "y": 2000,
    "wires": []
  },
  {
    "id": "63c0c893.1ca098",
    "type": "link in",
    "z": "3da984a3.27885c",
    "name": "",
    "links": [
      "92dafeb8.6f5e2"
    ],
    "x": 75,
    "y": 2220,
    "wires": [
      [
        "312e766b.9fe9ca"
      ]
    ]
  },
  {
    "id": "5e031872.fa95f8",
    "type": "switch",
    "z": "3da984a3.27885c",
    "name": "Mash Step Switch",
    "property": "#:(storeInFile)::ActiveMashStep",
    "propertyType": "flow",
    "rules": [
      {
        "t": "eq",
        "v": "1",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "2",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "3",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "4",
        "vt": "num"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 4,
    "x": 430,
    "y": 2200,
    "wires": [
      [
        "b544a0a1.c8e31"
      ],
      [
        "cb7e4614.c6c778"
      ],
      [
        "742aa51a.5be74c"
      ],
      []
    ]
  },
  {
    "id": "b544a0a1.c8e31",
    "type": "switch",
    "z": "3da984a3.27885c",
    "name": "rest2_length!=0",
    "property": "#:(storeInFile)::rest2_length",
    "propertyType": "flow",
    "rules": [
      {
        "t": "neq",
        "v": "0",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 700,
    "y": 2200,
    "wires": [
      [
        "7ec31a18.fd8fb4"
      ],
      []
    ]
  },
  {
    "id": "7ec31a18.fd8fb4",
    "type": "switch",
    "z": "3da984a3.27885c",
    "name": "rest2_time!=0",
    "property": "#:(storeInFile)::rest2_time",
    "propertyType": "flow",
    "rules": [
      {
        "t": "neq",
        "v": "0",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 700,
    "y": 2140,
    "wires": [
      [
        "331a04da.37e2cc",
        "f645b466.49c0e8"
      ],
      []
    ]
  },
  {
    "id": "48fca837.ba4f98",
    "type": "link out",
    "z": "3da984a3.27885c",
    "name": "Set target temp",
    "links": [
      "c76903b7.69cd1",
      "51913ee7.1c517",
      "72e960b.66f0ba"
    ],
    "x": 1155,
    "y": 2280,
    "wires": []
  },
  {
    "id": "331a04da.37e2cc",
    "type": "change",
    "z": "3da984a3.27885c",
    "name": "Set rest2 values",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "#:(storeInFile)::rest2_temp",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "#:(storeInFile)::ActiveMashStep",
        "pt": "flow",
        "to": "2",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 960,
    "y": 2160,
    "wires": [
      [
        "48fca837.ba4f98",
        "a6a40ab8.032d38"
      ]
    ]
  },
  {
    "id": "cb7e4614.c6c778",
    "type": "switch",
    "z": "3da984a3.27885c",
    "name": "rest3_length!=0",
    "property": "#:(storeInFile)::rest3_length",
    "propertyType": "flow",
    "rules": [
      {
        "t": "neq",
        "v": "0",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 700,
    "y": 2320,
    "wires": [
      [
        "78d2b282.edb5ec"
      ],
      []
    ]
  },
  {
    "id": "78d2b282.edb5ec",
    "type": "switch",
    "z": "3da984a3.27885c",
    "name": "rest3_time!=0",
    "property": "#:(storeInFile)::rest3_time",
    "propertyType": "flow",
    "rules": [
      {
        "t": "neq",
        "v": "0",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 700,
    "y": 2260,
    "wires": [
      [
        "1bde75c0.0bffda",
        "8af146df.95a5c8"
      ],
      []
    ]
  },
  {
    "id": "1bde75c0.0bffda",
    "type": "change",
    "z": "3da984a3.27885c",
    "name": "Set rest3 values",
    "rules": [
      {
        "t": "set",
        "p": "#:(storeInFile)::ActiveMashStep",
        "pt": "flow",
        "to": "3",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "#:(storeInFile)::rest3_temp",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 960,
    "y": 2300,
    "wires": [
      [
        "48fca837.ba4f98",
        "a6a40ab8.032d38"
      ]
    ]
  },
  {
    "id": "742aa51a.5be74c",
    "type": "switch",
    "z": "3da984a3.27885c",
    "name": "rest4_length!=0",
    "property": "#:(storeInFile)::rest4_length",
    "propertyType": "flow",
    "rules": [
      {
        "t": "neq",
        "v": "0",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 700,
    "y": 2440,
    "wires": [
      [
        "606f0757.91ca98"
      ],
      []
    ]
  },
  {
    "id": "606f0757.91ca98",
    "type": "switch",
    "z": "3da984a3.27885c",
    "name": "rest4_time!=0",
    "property": "#:(storeInFile)::rest4_time",
    "propertyType": "flow",
    "rules": [
      {
        "t": "neq",
        "v": "0",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 700,
    "y": 2380,
    "wires": [
      [
        "ce5286be.2d3e08",
        "3e000874.61d0b8"
      ],
      []
    ]
  },
  {
    "id": "ce5286be.2d3e08",
    "type": "change",
    "z": "3da984a3.27885c",
    "name": "Set rest4 values",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "#:(storeInFile)::rest4_temp",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "#:(storeInFile)::ActiveMashStep",
        "pt": "flow",
        "to": "4",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 960,
    "y": 2380,
    "wires": [
      [
        "48fca837.ba4f98",
        "a6a40ab8.032d38"
      ]
    ]
  },
  {
    "id": "f645b466.49c0e8",
    "type": "change",
    "z": "3da984a3.27885c",
    "name": "Template msg",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "Ramping to mash step 2",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 960,
    "y": 2120,
    "wires": [
      [
        "cb8c4d03.92d6a"
      ]
    ]
  },
  {
    "id": "cb8c4d03.92d6a",
    "type": "link out",
    "z": "3da984a3.27885c",
    "name": "",
    "links": [
      "959da750.2a46a8"
    ],
    "x": 1075,
    "y": 2120,
    "wires": []
  },
  {
    "id": "94aeeb36.9bc418",
    "type": "change",
    "z": "3da984a3.27885c",
    "name": "Template msg",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "Mash completed",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 320,
    "y": 2300,
    "wires": [
      [
        "aa57ae4f.a91e1",
        "ddfd02b.ea0b6"
      ]
    ]
  },
  {
    "id": "aa57ae4f.a91e1",
    "type": "link out",
    "z": "3da984a3.27885c",
    "name": "",
    "links": [
      "959da750.2a46a8"
    ],
    "x": 455,
    "y": 2300,
    "wires": []
  },
  {
    "id": "312e766b.9fe9ca",
    "type": "switch",
    "z": "3da984a3.27885c",
    "name": "Mash steps check",
    "property": "#:(storeInFile)::ActiveMashStep",
    "propertyType": "flow",
    "rules": [
      {
        "t": "lt",
        "v": "#:(storeInFile)::mash_steps",
        "vt": "flow"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 210,
    "y": 2220,
    "wires": [
      [
        "5e031872.fa95f8"
      ],
      [
        "94aeeb36.9bc418"
      ]
    ]
  },
  {
    "id": "8af146df.95a5c8",
    "type": "change",
    "z": "3da984a3.27885c",
    "name": "Template msg",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "Ramping to mash step 3",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 960,
    "y": 2260,
    "wires": [
      [
        "8d3ea50b.2ba758"
      ]
    ]
  },
  {
    "id": "8d3ea50b.2ba758",
    "type": "link out",
    "z": "3da984a3.27885c",
    "name": "",
    "links": [
      "959da750.2a46a8"
    ],
    "x": 1075,
    "y": 2260,
    "wires": []
  },
  {
    "id": "3e000874.61d0b8",
    "type": "change",
    "z": "3da984a3.27885c",
    "name": "Template msg",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "Ramping to mash step 4",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 960,
    "y": 2420,
    "wires": [
      [
        "cb9d14f1.7c2318"
      ]
    ]
  },
  {
    "id": "cb9d14f1.7c2318",
    "type": "link out",
    "z": "3da984a3.27885c",
    "name": "",
    "links": [
      "959da750.2a46a8"
    ],
    "x": 1075,
    "y": 2420,
    "wires": []
  },
  {
    "id": "a6a40ab8.032d38",
    "type": "delay",
    "z": "3da984a3.27885c",
    "name": "",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 1320,
    "y": 2300,
    "wires": [
      [
        "eb34386f.794c08",
        "b00ce9b8.71e658"
      ]
    ]
  },
  {
    "id": "eb34386f.794c08",
    "type": "switch",
    "z": "3da984a3.27885c",
    "name": "Temp >= Target check",
    "property": "temp-MLT",
    "propertyType": "global",
    "rules": [
      {
        "t": "gte",
        "v": "#:(storeInFile)::mlt_adjusted_target",
        "vt": "flow"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 1400,
    "y": 2200,
    "wires": [
      [
        "56bba196.b545c"
      ],
      [
        "a6a40ab8.032d38"
      ]
    ]
  },
  {
    "id": "527a019a.9ca",
    "type": "change",
    "z": "3da984a3.27885c",
    "name": "Set mash step timer",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "#:(storeInFile)::rest2_length",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1900,
    "y": 2160,
    "wires": [
      [
        "82704aac.e7d888",
        "8eb95d9d.61f9"
      ]
    ]
  },
  {
    "id": "82704aac.e7d888",
    "type": "link out",
    "z": "3da984a3.27885c",
    "name": "",
    "links": [
      "357ca3f0.b6706c"
    ],
    "x": 2095,
    "y": 2200,
    "wires": []
  },
  {
    "id": "56bba196.b545c",
    "type": "switch",
    "z": "3da984a3.27885c",
    "name": "Mash Step Switch",
    "property": "#:(storeInFile)::ActiveMashStep",
    "propertyType": "flow",
    "rules": [
      {
        "t": "eq",
        "v": "2",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "3",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "4",
        "vt": "num"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 3,
    "x": 1650,
    "y": 2200,
    "wires": [
      [
        "527a019a.9ca",
        "2d787dd2.3b6ff2"
      ],
      [
        "56a9bf69.76909",
        "be09282a.4ad758"
      ],
      [
        "18544a2f.d34db6",
        "9a44350e.40a668"
      ]
    ]
  },
  {
    "id": "56a9bf69.76909",
    "type": "change",
    "z": "3da984a3.27885c",
    "name": "Set mash step timer",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "#:(storeInFile)::rest3_length",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1900,
    "y": 2200,
    "wires": [
      [
        "82704aac.e7d888",
        "8eb95d9d.61f9"
      ]
    ]
  },
  {
    "id": "18544a2f.d34db6",
    "type": "change",
    "z": "3da984a3.27885c",
    "name": "Set mash step timer",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "#:(storeInFile)::rest4_length",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1900,
    "y": 2280,
    "wires": [
      [
        "82704aac.e7d888",
        "8eb95d9d.61f9"
      ]
    ]
  },
  {
    "id": "2d787dd2.3b6ff2",
    "type": "change",
    "z": "3da984a3.27885c",
    "name": "Template msg",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "Mash step 2 activated",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1880,
    "y": 2120,
    "wires": [
      [
        "b2b5cee6.25e58"
      ]
    ]
  },
  {
    "id": "b2b5cee6.25e58",
    "type": "link out",
    "z": "3da984a3.27885c",
    "name": "",
    "links": [
      "959da750.2a46a8"
    ],
    "x": 1995,
    "y": 2120,
    "wires": []
  },
  {
    "id": "be09282a.4ad758",
    "type": "change",
    "z": "3da984a3.27885c",
    "name": "Template msg",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "Mash step 3 activated",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1880,
    "y": 2240,
    "wires": [
      [
        "a2a0660a.811d48"
      ]
    ]
  },
  {
    "id": "a2a0660a.811d48",
    "type": "link out",
    "z": "3da984a3.27885c",
    "name": "",
    "links": [
      "959da750.2a46a8"
    ],
    "x": 1995,
    "y": 2240,
    "wires": []
  },
  {
    "id": "9a44350e.40a668",
    "type": "change",
    "z": "3da984a3.27885c",
    "name": "Template msg",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "Mash step 4 activated",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1880,
    "y": 2320,
    "wires": [
      [
        "6d5336ac.01a0b8"
      ]
    ]
  },
  {
    "id": "6d5336ac.01a0b8",
    "type": "link out",
    "z": "3da984a3.27885c",
    "name": "",
    "links": [
      "959da750.2a46a8"
    ],
    "x": 1995,
    "y": 2320,
    "wires": []
  },
  {
    "id": "e4976c4f.d6322",
    "type": "inject",
    "z": "3da984a3.27885c",
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "#:(storeInFile)::activate_step_offset",
    "payloadType": "flow",
    "x": 150,
    "y": 100,
    "wires": [
      [
        "a4fa7b8c.772898"
      ]
    ]
  },
  {
    "id": "a4fa7b8c.772898",
    "type": "ui_numeric",
    "z": "3da984a3.27885c",
    "name": "",
    "label": "Activate Step Offset",
    "tooltip": "",
    "group": "e010af88.2414c",
    "order": 8,
    "width": 0,
    "height": 0,
    "wrap": false,
    "passthru": true,
    "topic": "",
    "format": "{{value}}°C",
    "min": "0",
    "max": "10",
    "step": "0.1",
    "x": 410,
    "y": 100,
    "wires": [
      [
        "344b3ae9.17cf26"
      ]
    ]
  },
  {
    "id": "344b3ae9.17cf26",
    "type": "change",
    "z": "3da984a3.27885c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "#:(storeInFile)::activate_step_offset",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 680,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "b00ce9b8.71e658",
    "type": "function",
    "z": "3da984a3.27885c",
    "name": "post delay from set values",
    "func": "\nnode.log(global.get(\"temp-MLT\") + \" > \" + flow.get(\"mlt_adjusted_target\", \"storeInFile\") + \"?\");\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1570,
    "y": 2300,
    "wires": [
      []
    ]
  },
  {
    "id": "b2f5c297.8be6f",
    "type": "function",
    "z": "3da984a3.27885c",
    "name": "Set mlt_adjusted_target",
    "func": "\nflow.set(\"mlt_adjusted_target\", global.get(\"mlt_target\", \"storeInFile\") - flow.get(\"activate_step_offset\", \"storeInFile\"), \"storeInFile\");\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1510,
    "y": 2020,
    "wires": [
      []
    ]
  },
  {
    "id": "51913ee7.1c517",
    "type": "link in",
    "z": "3da984a3.27885c",
    "name": "Set MLT adjusted Target link in",
    "links": [
      "80604b7c.de3de8",
      "48fca837.ba4f98"
    ],
    "x": 1195,
    "y": 2020,
    "wires": [
      [
        "17de17b9.570f18"
      ]
    ]
  },
  {
    "id": "17de17b9.570f18",
    "type": "delay",
    "z": "3da984a3.27885c",
    "name": "",
    "pauseType": "delay",
    "timeout": "0.5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 1310,
    "y": 2020,
    "wires": [
      [
        "b2f5c297.8be6f"
      ]
    ]
  },
  {
    "id": "12dd5b32.bb75c5",
    "type": "link out",
    "z": "3da984a3.27885c",
    "name": "",
    "links": [
      "959da750.2a46a8"
    ],
    "x": 495,
    "y": 1720,
    "wires": []
  },
  {
    "id": "24722a54.95dcd6",
    "type": "http request",
    "z": "3da984a3.27885c",
    "name": "Submit Mash Started to BC",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "body",
    "url": "http://192.168.0.27:51402/api/brewLogs/PostReading",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "bearer",
    "x": 720,
    "y": 1200,
    "wires": [
      []
    ]
  },
  {
    "id": "ce8e7acf.782b58",
    "type": "change",
    "z": "3da984a3.27885c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"BrewingLogId\":\"20201107101456444cf9b23234b84b3\",\"ReadingValue\":\"0.0\",\"DeviceTag\":\"Node-Red Brew3\",\"ReadingTypeId\":\"20171017195045668821F3029D234141\"}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 490,
    "y": 1200,
    "wires": [
      [
        "24722a54.95dcd6"
      ]
    ]
  },
  {
    "id": "ddfd02b.ea0b6",
    "type": "change",
    "z": "3da984a3.27885c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"BrewingLogId\":\"20201107101456444cf9b23234b84b3\",\"ReadingValue\":\"0.0\",\"DeviceTag\":\"Node-Red Brew3\",\"ReadingTypeId\":\"201710172140392965FE8AD130524078\"}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 140,
    "y": 2380,
    "wires": [
      [
        "d39ec004.ad38d"
      ]
    ]
  },
  {
    "id": "d39ec004.ad38d",
    "type": "http request",
    "z": "3da984a3.27885c",
    "name": "Submit Mash Started to BC",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "body",
    "url": "http://192.168.0.27:51402/api/brewLogs/PostReading",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "bearer",
    "x": 370,
    "y": 2380,
    "wires": [
      []
    ]
  },
  {
    "id": "626ba097.1350e",
    "type": "change",
    "z": "3da984a3.27885c",
    "name": "reset pump button",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 270,
    "y": 1760,
    "wires": [
      [
        "35c856bc.ac4daa"
      ]
    ]
  },
  {
    "id": "35c856bc.ac4daa",
    "type": "link out",
    "z": "3da984a3.27885c",
    "name": "",
    "links": [
      "82b7a3f0.12d99"
    ],
    "x": 395,
    "y": 1760,
    "wires": []
  },
  {
    "id": "3c8ee8ee.d85978",
    "type": "http request",
    "z": "3da984a3.27885c",
    "name": "Submit Mash Started to BC",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "body",
    "url": "http://192.168.0.27:51402/api/brewLogs/PostReading",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "bearer",
    "x": 2460,
    "y": 2260,
    "wires": [
      []
    ]
  },
  {
    "id": "8eb95d9d.61f9",
    "type": "function",
    "z": "3da984a3.27885c",
    "name": "Mash step started json",
    "func": "\nvar jsonValue = {\n    \"BrewingLogId\": \"20201107101456444cf9b23234b84b3\",\n    \"ReadingValue\": \"66.0\",\n    \"DeviceTag\": \"Node-Red Brew3\",\n    \"ReadingTypeId\": \"20171017222317423925FFEE0C464F8F\"\n}\n\nmsg.payload = jsonValue;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 2210,
    "y": 2260,
    "wires": [
      [
        "3c8ee8ee.d85978"
      ]
    ]
  }
]