flows/MLT Buttons.json
[
  {
    "id": "20e5f99d.45d096",
    "type": "tab",
    "label": "MLT Buttons",
    "disabled": false,
    "info": ""
  },
  {
    "id": "ca5a6e5d.69d96",
    "type": "ui_button",
    "z": "20e5f99d.45d096",
    "name": "",
    "group": "ea5e6691.a9d4b8",
    "order": 8,
    "width": "2",
    "height": "1",
    "passthru": false,
    "label": "PID",
    "tooltip": "",
    "color": "",
    "bgcolor": "{{colour}}",
    "icon": "",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 330,
    "y": 80,
    "wires": [
      [
        "4a5bf6be.6e1108"
      ]
    ]
  },
  {
    "id": "2ba783c9.c0a2dc",
    "type": "ui_button",
    "z": "20e5f99d.45d096",
    "name": "",
    "group": "ea5e6691.a9d4b8",
    "order": 9,
    "width": "2",
    "height": "1",
    "passthru": false,
    "label": "Manual",
    "tooltip": "",
    "color": "",
    "bgcolor": "{{colour}}",
    "icon": "",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 340,
    "y": 120,
    "wires": [
      [
        "fb7b2f6.88b6fd"
      ]
    ]
  },
  {
    "id": "3f2049be.7c8966",
    "type": "ui_button",
    "z": "20e5f99d.45d096",
    "name": "",
    "group": "ea5e6691.a9d4b8",
    "order": 10,
    "width": "2",
    "height": "1",
    "passthru": false,
    "label": "Off",
    "tooltip": "",
    "color": "",
    "bgcolor": "{{colour}}",
    "icon": "",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 330,
    "y": 160,
    "wires": [
      [
        "6498be43.85193"
      ]
    ]
  },
  {
    "id": "4a5bf6be.6e1108",
    "type": "link out",
    "z": "20e5f99d.45d096",
    "name": "MLT PID Button State",
    "links": [
      "b38eee23.f828",
      "c8bfabee.1f5718",
      "da29ca33.74a648",
      "f865cf26.9d866"
    ],
    "x": 475,
    "y": 80,
    "wires": []
  },
  {
    "id": "fb7b2f6.88b6fd",
    "type": "link out",
    "z": "20e5f99d.45d096",
    "name": "MLT Manual Button State",
    "links": [
      "a6dd2f13.0d289",
      "b38eee23.f828",
      "c8bfabee.1f5718",
      "de4b9fb6.c35af",
      "f865cf26.9d866"
    ],
    "x": 475,
    "y": 120,
    "wires": []
  },
  {
    "id": "6498be43.85193",
    "type": "link out",
    "z": "20e5f99d.45d096",
    "name": "MLT Off Button State",
    "links": [
      "16f4f7a.243c108",
      "ab05e41b.4e5e18",
      "f9e8571.11e75a8",
      "f865cf26.9d866",
      "c8bfabee.1f5718",
      "b38eee23.f828"
    ],
    "x": 475,
    "y": 160,
    "wires": []
  },
  {
    "id": "f865cf26.9d866",
    "type": "link in",
    "z": "20e5f99d.45d096",
    "name": "MLT PID Button State",
    "links": [
      "4a5bf6be.6e1108",
      "fb7b2f6.88b6fd",
      "6498be43.85193"
    ],
    "x": 235,
    "y": 340,
    "wires": [
      [
        "139a611f.bb220f"
      ]
    ]
  },
  {
    "id": "139a611f.bb220f",
    "type": "delay",
    "z": "20e5f99d.45d096",
    "name": "PID Delay",
    "pauseType": "delay",
    "timeout": "0.2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 340,
    "y": 340,
    "wires": [
      [
        "630b4f12.861e5"
      ]
    ]
  },
  {
    "id": "630b4f12.861e5",
    "type": "switch",
    "z": "20e5f99d.45d096",
    "name": "",
    "property": "mlt_on",
    "propertyType": "global",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "false"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 390,
    "y": 380,
    "wires": [
      [
        "37b3228f.0cb67e"
      ],
      [
        "b87b83b2.8b478"
      ]
    ]
  },
  {
    "id": "37b3228f.0cb67e",
    "type": "switch",
    "z": "20e5f99d.45d096",
    "name": "",
    "property": "mlt_pid",
    "propertyType": "global",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "false"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 550,
    "y": 360,
    "wires": [
      [
        "56e97005.4b862"
      ],
      [
        "b87b83b2.8b478"
      ]
    ]
  },
  {
    "id": "56e97005.4b862",
    "type": "change",
    "z": "20e5f99d.45d096",
    "name": "mlt PID on colour",
    "rules": [
      {
        "t": "set",
        "p": "colour",
        "pt": "msg",
        "to": "#424242",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 730,
    "y": 340,
    "wires": [
      [
        "afbbd682.a2e8c8"
      ]
    ]
  },
  {
    "id": "b87b83b2.8b478",
    "type": "change",
    "z": "20e5f99d.45d096",
    "name": "mlt PID off colour",
    "rules": [
      {
        "t": "set",
        "p": "colour",
        "pt": "msg",
        "to": "grey",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 730,
    "y": 380,
    "wires": [
      [
        "afbbd682.a2e8c8"
      ]
    ]
  },
  {
    "id": "afbbd682.a2e8c8",
    "type": "link out",
    "z": "20e5f99d.45d096",
    "name": "MLT PID button colour",
    "links": [
      "91f0690c.ce7f78"
    ],
    "x": 875,
    "y": 360,
    "wires": []
  },
  {
    "id": "91f0690c.ce7f78",
    "type": "link in",
    "z": "20e5f99d.45d096",
    "name": "MLT PID button colour",
    "links": [
      "afbbd682.a2e8c8"
    ],
    "x": 235,
    "y": 80,
    "wires": [
      [
        "ca5a6e5d.69d96"
      ]
    ]
  },
  {
    "id": "c8bfabee.1f5718",
    "type": "link in",
    "z": "20e5f99d.45d096",
    "name": "MLT Manual Button State",
    "links": [
      "4a5bf6be.6e1108",
      "fb7b2f6.88b6fd",
      "6498be43.85193"
    ],
    "x": 235,
    "y": 460,
    "wires": [
      [
        "1d4f3a88.e45ab5"
      ]
    ]
  },
  {
    "id": "1d4f3a88.e45ab5",
    "type": "delay",
    "z": "20e5f99d.45d096",
    "name": "Manual Delay",
    "pauseType": "delay",
    "timeout": "0.2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 370,
    "y": 460,
    "wires": [
      [
        "27f765e4.e7458a"
      ]
    ]
  },
  {
    "id": "27f765e4.e7458a",
    "type": "switch",
    "z": "20e5f99d.45d096",
    "name": "",
    "property": "mlt_on",
    "propertyType": "global",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "false"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 390,
    "y": 500,
    "wires": [
      [
        "3176a74.5b39258"
      ],
      [
        "9dc9920f.bb4a9"
      ]
    ]
  },
  {
    "id": "3176a74.5b39258",
    "type": "switch",
    "z": "20e5f99d.45d096",
    "name": "",
    "property": "mlt_pid",
    "propertyType": "global",
    "rules": [
      {
        "t": "false"
      },
      {
        "t": "true"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 550,
    "y": 480,
    "wires": [
      [
        "99723f7b.8ad2f"
      ],
      [
        "9dc9920f.bb4a9"
      ]
    ]
  },
  {
    "id": "99723f7b.8ad2f",
    "type": "change",
    "z": "20e5f99d.45d096",
    "name": "mlt manual on colour",
    "rules": [
      {
        "t": "set",
        "p": "colour",
        "pt": "msg",
        "to": "#424242",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 740,
    "y": 460,
    "wires": [
      [
        "3f92f677.131ffa"
      ]
    ]
  },
  {
    "id": "9dc9920f.bb4a9",
    "type": "change",
    "z": "20e5f99d.45d096",
    "name": "mlt manual off colour",
    "rules": [
      {
        "t": "set",
        "p": "colour",
        "pt": "msg",
        "to": "grey",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 740,
    "y": 500,
    "wires": [
      [
        "3f92f677.131ffa"
      ]
    ]
  },
  {
    "id": "3f92f677.131ffa",
    "type": "link out",
    "z": "20e5f99d.45d096",
    "name": "MLT Manual button colour",
    "links": [
      "fc11446f.e1f658"
    ],
    "x": 895,
    "y": 480,
    "wires": []
  },
  {
    "id": "b38eee23.f828",
    "type": "link in",
    "z": "20e5f99d.45d096",
    "name": "MLT Off Button State",
    "links": [
      "4a5bf6be.6e1108",
      "fb7b2f6.88b6fd",
      "6498be43.85193"
    ],
    "x": 235,
    "y": 560,
    "wires": [
      [
        "b3269c7e.c25d7"
      ]
    ]
  },
  {
    "id": "b3269c7e.c25d7",
    "type": "delay",
    "z": "20e5f99d.45d096",
    "name": "Off Delay",
    "pauseType": "delay",
    "timeout": "0.2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 350,
    "y": 560,
    "wires": [
      [
        "c8c7b191.16bfb"
      ]
    ]
  },
  {
    "id": "c8c7b191.16bfb",
    "type": "switch",
    "z": "20e5f99d.45d096",
    "name": "",
    "property": "mlt_on",
    "propertyType": "global",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "false"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 410,
    "y": 600,
    "wires": [
      [
        "28c2aca7.1eb664"
      ],
      [
        "e965c812.d7e488"
      ]
    ]
  },
  {
    "id": "28c2aca7.1eb664",
    "type": "change",
    "z": "20e5f99d.45d096",
    "name": "mlt Off on colour",
    "rules": [
      {
        "t": "set",
        "p": "colour",
        "pt": "msg",
        "to": "grey",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 580,
    "y": 580,
    "wires": [
      [
        "16cdf3af.bf21ec"
      ]
    ]
  },
  {
    "id": "e965c812.d7e488",
    "type": "change",
    "z": "20e5f99d.45d096",
    "name": "mlt Off off colour",
    "rules": [
      {
        "t": "set",
        "p": "colour",
        "pt": "msg",
        "to": "#424242",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 580,
    "y": 620,
    "wires": [
      [
        "16cdf3af.bf21ec"
      ]
    ]
  },
  {
    "id": "16cdf3af.bf21ec",
    "type": "link out",
    "z": "20e5f99d.45d096",
    "name": "MLT Off button colour",
    "links": [
      "7e5d833e.296d0c"
    ],
    "x": 715,
    "y": 600,
    "wires": []
  },
  {
    "id": "2c91b3a7.475ddc",
    "type": "ui_ui_control",
    "z": "20e5f99d.45d096",
    "name": "Dashboard connection",
    "events": "all",
    "x": 330,
    "y": 240,
    "wires": [
      [
        "3f4d200a.e3ad2"
      ]
    ]
  },
  {
    "id": "3f4d200a.e3ad2",
    "type": "link out",
    "z": "20e5f99d.45d096",
    "name": "Off button - initialization",
    "links": [
      "1c9f5264.4c070e",
      "d7617024.f5491",
      "fa4a67d3.33b0c8",
      "7f6b35be.9793fc"
    ],
    "x": 485,
    "y": 240,
    "wires": []
  },
  {
    "id": "fa4a67d3.33b0c8",
    "type": "link in",
    "z": "20e5f99d.45d096",
    "name": "MLT PID Button initialization",
    "links": [
      "3f4d200a.e3ad2"
    ],
    "x": 235,
    "y": 380,
    "wires": [
      [
        "630b4f12.861e5"
      ]
    ]
  },
  {
    "id": "d7617024.f5491",
    "type": "link in",
    "z": "20e5f99d.45d096",
    "name": "MLT Manual Button initialization",
    "links": [
      "3f4d200a.e3ad2"
    ],
    "x": 235,
    "y": 500,
    "wires": [
      [
        "27f765e4.e7458a"
      ]
    ]
  },
  {
    "id": "1c9f5264.4c070e",
    "type": "link in",
    "z": "20e5f99d.45d096",
    "name": "MLT Off Button initialization",
    "links": [
      "3f4d200a.e3ad2"
    ],
    "x": 235,
    "y": 600,
    "wires": [
      [
        "c8c7b191.16bfb"
      ]
    ]
  },
  {
    "id": "fc11446f.e1f658",
    "type": "link in",
    "z": "20e5f99d.45d096",
    "name": "HLT Manual button colour",
    "links": [
      "3f92f677.131ffa"
    ],
    "x": 235,
    "y": 120,
    "wires": [
      [
        "2ba783c9.c0a2dc"
      ]
    ]
  },
  {
    "id": "7e5d833e.296d0c",
    "type": "link in",
    "z": "20e5f99d.45d096",
    "name": "HLT Off button colour",
    "links": [
      "16cdf3af.bf21ec"
    ],
    "x": 235,
    "y": 160,
    "wires": [
      [
        "3f2049be.7c8966"
      ]
    ]
  },
  {
    "id": "395383f7.ad069c",
    "type": "link in",
    "z": "20e5f99d.45d096",
    "name": "Enable PID Button Process",
    "links": [
      "a1b43cfd.c7958"
    ],
    "x": 415,
    "y": 40,
    "wires": [
      [
        "4a5bf6be.6e1108"
      ]
    ]
  }
]