flows/Pump control.json
[
  {
    "id": "c68db1a2.68e94",
    "type": "tab",
    "label": "Pump control",
    "disabled": false,
    "info": ""
  },
  {
    "id": "27686659.80178a",
    "type": "link in",
    "z": "c68db1a2.68e94",
    "name": "HLT Pump button colour",
    "links": [
      "8035a98.dc55558"
    ],
    "x": 115,
    "y": 100,
    "wires": [
      [
        "37dfd73f.3deab8"
      ]
    ]
  },
  {
    "id": "e5eeeb09.8041e8",
    "type": "link in",
    "z": "c68db1a2.68e94",
    "name": "MLT Pump button colour",
    "links": [],
    "x": 115,
    "y": 320,
    "wires": [
      [
        "b73c6b10.f42fe8"
      ]
    ]
  },
  {
    "id": "8dd15a37.85cf18",
    "type": "link in",
    "z": "c68db1a2.68e94",
    "name": "BK Pump button colour",
    "links": [
      "b968206f.612c"
    ],
    "x": 115,
    "y": 400,
    "wires": [
      [
        "6d456b34.463524"
      ]
    ]
  },
  {
    "id": "82b7a3f0.12d99",
    "type": "link in",
    "z": "c68db1a2.68e94",
    "name": "HLT Pump manual fire",
    "links": [
      "f3fef30.652ef1",
      "35c856bc.ac4daa"
    ],
    "x": 115,
    "y": 280,
    "wires": [
      [
        "b73c6b10.f42fe8"
      ]
    ]
  },
  {
    "id": "b73c6b10.f42fe8",
    "type": "ui_switch",
    "z": "c68db1a2.68e94",
    "name": "",
    "label": "MLT Pump",
    "tooltip": "",
    "group": "ea5e6691.a9d4b8",
    "order": 11,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "x": 250,
    "y": 320,
    "wires": [
      [
        "3239dee7.fe3402"
      ]
    ]
  },
  {
    "id": "37dfd73f.3deab8",
    "type": "ui_switch",
    "z": "c68db1a2.68e94",
    "name": "",
    "label": "HLT Pump",
    "tooltip": "",
    "group": "a0e00a00.81b428",
    "order": 12,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "x": 250,
    "y": 100,
    "wires": [
      [
        "478a44f1.37ad3c"
      ]
    ]
  },
  {
    "id": "6d456b34.463524",
    "type": "ui_switch",
    "z": "c68db1a2.68e94",
    "name": "",
    "label": "BK Pump",
    "tooltip": "",
    "group": "9d59abb0.326b08",
    "order": 10,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "x": 240,
    "y": 400,
    "wires": [
      [
        "4cf55fa4.1de1e"
      ]
    ]
  },
  {
    "id": "478a44f1.37ad3c",
    "type": "rpi-gpio out",
    "z": "c68db1a2.68e94",
    "name": "HLT GPIO",
    "pin": "33",
    "set": true,
    "level": "0",
    "freq": "",
    "out": "out",
    "x": 450,
    "y": 100,
    "wires": []
  },
  {
    "id": "4cf55fa4.1de1e",
    "type": "rpi-gpio out",
    "z": "c68db1a2.68e94",
    "name": "BK GPIO",
    "pin": "38",
    "set": true,
    "level": "0",
    "freq": "",
    "out": "out",
    "x": 440,
    "y": 400,
    "wires": []
  },
  {
    "id": "3239dee7.fe3402",
    "type": "function",
    "z": "c68db1a2.68e94",
    "name": "GPIO python setup",
    "func": "\nif (msg.payload)\n    msg.payload = flow.get(\"mlt_pump_gpio\", \"storeInFile\") + \" 1 200\"\nelse\n    msg.payload = flow.get(\"mlt_pump_gpio\", \"storeInFile\") + \" 0 0\"\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 490,
    "y": 320,
    "wires": [
      [
        "c52363bc.90708",
        "87bf2eba.2a9a4"
      ]
    ]
  },
  {
    "id": "c52363bc.90708",
    "type": "exec",
    "z": "c68db1a2.68e94",
    "command": "sudo python /home/pi/.node-red/projects/brew3/gpio.py",
    "addpay": true,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "oldrc": false,
    "name": "gpio.py",
    "x": 700,
    "y": 320,
    "wires": [
      [
        "87bf2eba.2a9a4"
      ],
      [
        "87bf2eba.2a9a4"
      ],
      []
    ]
  },
  {
    "id": "e063efd8.3cfff",
    "type": "inject",
    "z": "c68db1a2.68e94",
    "name": "Load MLT Pump GPIO",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "#:(storeInFile)::mlt_pump_gpio",
    "payloadType": "flow",
    "x": 200,
    "y": 240,
    "wires": [
      [
        "fc217ff2.da25b"
      ]
    ]
  },
  {
    "id": "fc217ff2.da25b",
    "type": "ui_numeric",
    "z": "c68db1a2.68e94",
    "name": "",
    "label": "Pump GPIO",
    "tooltip": "",
    "group": "99bd808a.f2698",
    "order": 1,
    "width": 0,
    "height": 0,
    "wrap": false,
    "passthru": true,
    "topic": "",
    "format": "{{value}}",
    "min": 0,
    "max": "50",
    "step": "1",
    "x": 450,
    "y": 240,
    "wires": [
      [
        "5cd92e81.da883"
      ]
    ]
  },
  {
    "id": "5cd92e81.da883",
    "type": "change",
    "z": "c68db1a2.68e94",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "#:(storeInFile)::mlt_pump_gpio",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 710,
    "y": 240,
    "wires": [
      []
    ]
  },
  {
    "id": "87bf2eba.2a9a4",
    "type": "function",
    "z": "c68db1a2.68e94",
    "name": "pump gpio",
    "func": "node.log(msg.payload);\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 810,
    "y": 460,
    "wires": [
      []
    ]
  }
]