flows/Pump control.json
[
  {
    "id": "c68db1a2.68e94",
    "type": "tab",
    "label": "Pump control",
    "disabled": false,
    "info": ""
  },
  {
    "id": "56b2e364.a6c25c",
    "type": "inject",
    "z": "c68db1a2.68e94",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "0",
    "payloadType": "num",
    "x": 110,
    "y": 60,
    "wires": [
      [
        "cd8636d0.1e9e88",
        "d113a906.2a8268",
        "72d250dd.1cb08"
      ]
    ]
  },
  {
    "id": "cd8636d0.1e9e88",
    "type": "change",
    "z": "c68db1a2.68e94",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "hlt_pump",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 310,
    "y": 20,
    "wires": [
      []
    ]
  },
  {
    "id": "d113a906.2a8268",
    "type": "change",
    "z": "c68db1a2.68e94",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "mlt_pump",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 320,
    "y": 60,
    "wires": [
      []
    ]
  },
  {
    "id": "72d250dd.1cb08",
    "type": "change",
    "z": "c68db1a2.68e94",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "bk_pump",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 310,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "27686659.80178a",
    "type": "link in",
    "z": "c68db1a2.68e94",
    "name": "HLT Pump button colour",
    "links": [
      "8035a98.dc55558"
    ],
    "x": 115,
    "y": 200,
    "wires": [
      [
        "fdbc50fd.d084f"
      ]
    ]
  },
  {
    "id": "fdbc50fd.d084f",
    "type": "ui_button",
    "z": "c68db1a2.68e94",
    "name": "",
    "group": "a0e00a00.81b428",
    "order": 10,
    "width": "6",
    "height": "1",
    "passthru": false,
    "label": "HLT Pump",
    "tooltip": "",
    "color": "",
    "bgcolor": "{{colour}}",
    "icon": "",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 250,
    "y": 200,
    "wires": [
      [
        "f3add5fe.49fa48"
      ]
    ]
  },
  {
    "id": "f3add5fe.49fa48",
    "type": "switch",
    "z": "c68db1a2.68e94",
    "name": "Pump state",
    "property": "hlt_pump",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "0",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "1",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 460,
    "y": 200,
    "wires": [
      [
        "ded013a4.d2508"
      ],
      [
        "fe67cdef.63926"
      ]
    ]
  },
  {
    "id": "ded013a4.d2508",
    "type": "change",
    "z": "c68db1a2.68e94",
    "name": "Turn on",
    "rules": [
      {
        "t": "set",
        "p": "hlt_pump",
        "pt": "global",
        "to": "1",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 640,
    "y": 180,
    "wires": [
      [
        "9af9003d.8fff7"
      ]
    ]
  },
  {
    "id": "fe67cdef.63926",
    "type": "change",
    "z": "c68db1a2.68e94",
    "name": "Turn off",
    "rules": [
      {
        "t": "set",
        "p": "hlt_pump",
        "pt": "global",
        "to": "0",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 640,
    "y": 220,
    "wires": [
      [
        "9af9003d.8fff7"
      ]
    ]
  },
  {
    "id": "9af9003d.8fff7",
    "type": "link out",
    "z": "c68db1a2.68e94",
    "name": "HLT Pump update",
    "links": [
      "b076b774.fe6958",
      "7ab36cb1.2781f4"
    ],
    "x": 775,
    "y": 200,
    "wires": []
  },
  {
    "id": "b076b774.fe6958",
    "type": "link in",
    "z": "c68db1a2.68e94",
    "name": "HLT Pump update",
    "links": [
      "9af9003d.8fff7"
    ],
    "x": 235,
    "y": 440,
    "wires": [
      [
        "276da966.c865f6"
      ]
    ]
  },
  {
    "id": "276da966.c865f6",
    "type": "switch",
    "z": "c68db1a2.68e94",
    "name": "Pump state",
    "property": "hlt_pump",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "1",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "0",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 367,
    "y": 460,
    "wires": [
      [
        "b277c9ee.9c5cc8"
      ],
      [
        "4e0b4abc.cae114"
      ]
    ]
  },
  {
    "id": "b277c9ee.9c5cc8",
    "type": "change",
    "z": "c68db1a2.68e94",
    "name": "pump - on colour",
    "rules": [
      {
        "t": "set",
        "p": "colour",
        "pt": "msg",
        "to": "gold",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 587,
    "y": 460,
    "wires": [
      [
        "8035a98.dc55558"
      ]
    ]
  },
  {
    "id": "4e0b4abc.cae114",
    "type": "change",
    "z": "c68db1a2.68e94",
    "name": "pump - off colour",
    "rules": [
      {
        "t": "set",
        "p": "colour",
        "pt": "msg",
        "to": "grey",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 587,
    "y": 500,
    "wires": [
      [
        "8035a98.dc55558"
      ]
    ]
  },
  {
    "id": "8035a98.dc55558",
    "type": "link out",
    "z": "c68db1a2.68e94",
    "name": "HLT Pump button colour update",
    "links": [
      "27686659.80178a"
    ],
    "x": 752,
    "y": 480,
    "wires": []
  },
  {
    "id": "e33087f5.d4bbf8",
    "type": "inject",
    "z": "c68db1a2.68e94",
    "name": "button init",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "x": 190,
    "y": 500,
    "wires": [
      [
        "4e0b4abc.cae114"
      ]
    ]
  },
  {
    "id": "e5eeeb09.8041e8",
    "type": "link in",
    "z": "c68db1a2.68e94",
    "name": "MLT Pump button colour",
    "links": [
      "17f4fd5e.8612e3"
    ],
    "x": 115,
    "y": 280,
    "wires": [
      [
        "acf4009a.f0f7b"
      ]
    ]
  },
  {
    "id": "acf4009a.f0f7b",
    "type": "ui_button",
    "z": "c68db1a2.68e94",
    "name": "",
    "group": "ea5e6691.a9d4b8",
    "order": 10,
    "width": "6",
    "height": "1",
    "passthru": false,
    "label": "MLT Pump",
    "tooltip": "",
    "color": "",
    "bgcolor": "{{colour}}",
    "icon": "",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 250,
    "y": 280,
    "wires": [
      [
        "b51b2ff8.4ea66"
      ]
    ]
  },
  {
    "id": "b51b2ff8.4ea66",
    "type": "switch",
    "z": "c68db1a2.68e94",
    "name": "Pump state",
    "property": "mlt_pump",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "0",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "1",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 460,
    "y": 280,
    "wires": [
      [
        "bb14fd46.3ca8f"
      ],
      [
        "9342513b.07c7"
      ]
    ]
  },
  {
    "id": "bb14fd46.3ca8f",
    "type": "change",
    "z": "c68db1a2.68e94",
    "name": "Turn on",
    "rules": [
      {
        "t": "set",
        "p": "mlt_pump",
        "pt": "global",
        "to": "1",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 640,
    "y": 260,
    "wires": [
      [
        "3673343d.14a55c"
      ]
    ]
  },
  {
    "id": "9342513b.07c7",
    "type": "change",
    "z": "c68db1a2.68e94",
    "name": "Turn off",
    "rules": [
      {
        "t": "set",
        "p": "mlt_pump",
        "pt": "global",
        "to": "0",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 640,
    "y": 300,
    "wires": [
      [
        "3673343d.14a55c"
      ]
    ]
  },
  {
    "id": "3673343d.14a55c",
    "type": "link out",
    "z": "c68db1a2.68e94",
    "name": "MLT Pump update",
    "links": [
      "592e94b.be00e6c",
      "10c37f22.613e51"
    ],
    "x": 775,
    "y": 280,
    "wires": []
  },
  {
    "id": "592e94b.be00e6c",
    "type": "link in",
    "z": "c68db1a2.68e94",
    "name": "MLT Pump update",
    "links": [
      "3673343d.14a55c"
    ],
    "x": 235,
    "y": 540,
    "wires": [
      [
        "fb2cea17.e55d38"
      ]
    ]
  },
  {
    "id": "fb2cea17.e55d38",
    "type": "switch",
    "z": "c68db1a2.68e94",
    "name": "Pump state",
    "property": "mlt_pump",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "1",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "0",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 367,
    "y": 560,
    "wires": [
      [
        "a4f922b4.e9c3f"
      ],
      [
        "1dc28085.110d3f"
      ]
    ]
  },
  {
    "id": "a4f922b4.e9c3f",
    "type": "change",
    "z": "c68db1a2.68e94",
    "name": "pump - on colour",
    "rules": [
      {
        "t": "set",
        "p": "colour",
        "pt": "msg",
        "to": "gold",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 587,
    "y": 560,
    "wires": [
      [
        "17f4fd5e.8612e3"
      ]
    ]
  },
  {
    "id": "1dc28085.110d3f",
    "type": "change",
    "z": "c68db1a2.68e94",
    "name": "pump - off colour",
    "rules": [
      {
        "t": "set",
        "p": "colour",
        "pt": "msg",
        "to": "grey",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 587,
    "y": 600,
    "wires": [
      [
        "17f4fd5e.8612e3"
      ]
    ]
  },
  {
    "id": "17f4fd5e.8612e3",
    "type": "link out",
    "z": "c68db1a2.68e94",
    "name": "HLT Pump button colour update",
    "links": [
      "e5eeeb09.8041e8"
    ],
    "x": 752,
    "y": 580,
    "wires": []
  },
  {
    "id": "5bfbb2a4.3f990c",
    "type": "inject",
    "z": "c68db1a2.68e94",
    "name": "mlt pump button init",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "x": 160,
    "y": 600,
    "wires": [
      [
        "1dc28085.110d3f"
      ]
    ]
  },
  {
    "id": "8dd15a37.85cf18",
    "type": "link in",
    "z": "c68db1a2.68e94",
    "name": "BK Pump button colour",
    "links": [
      "b968206f.612c"
    ],
    "x": 115,
    "y": 360,
    "wires": [
      [
        "cf903b82.ca97e8"
      ]
    ]
  },
  {
    "id": "cf903b82.ca97e8",
    "type": "ui_button",
    "z": "c68db1a2.68e94",
    "name": "",
    "group": "9d59abb0.326b08",
    "order": 10,
    "width": "6",
    "height": "1",
    "passthru": false,
    "label": "BK Pump",
    "tooltip": "",
    "color": "",
    "bgcolor": "{{colour}}",
    "icon": "",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 240,
    "y": 360,
    "wires": [
      [
        "65536a4e.bf0264"
      ]
    ]
  },
  {
    "id": "65536a4e.bf0264",
    "type": "switch",
    "z": "c68db1a2.68e94",
    "name": "Pump state",
    "property": "bk_pump",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "0",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "1",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 460,
    "y": 360,
    "wires": [
      [
        "a6437a19.5ab9d8"
      ],
      [
        "6a977753.a375c8"
      ]
    ]
  },
  {
    "id": "a6437a19.5ab9d8",
    "type": "change",
    "z": "c68db1a2.68e94",
    "name": "Turn on",
    "rules": [
      {
        "t": "set",
        "p": "bk_pump",
        "pt": "global",
        "to": "1",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 640,
    "y": 340,
    "wires": [
      [
        "7308b380.46a7cc"
      ]
    ]
  },
  {
    "id": "6a977753.a375c8",
    "type": "change",
    "z": "c68db1a2.68e94",
    "name": "Turn off",
    "rules": [
      {
        "t": "set",
        "p": "bk_pump",
        "pt": "global",
        "to": "0",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 640,
    "y": 380,
    "wires": [
      [
        "7308b380.46a7cc"
      ]
    ]
  },
  {
    "id": "7308b380.46a7cc",
    "type": "link out",
    "z": "c68db1a2.68e94",
    "name": "BK Pump update",
    "links": [
      "d855aaf1.6596e8",
      "5e353869.2c0848"
    ],
    "x": 775,
    "y": 360,
    "wires": []
  },
  {
    "id": "d855aaf1.6596e8",
    "type": "link in",
    "z": "c68db1a2.68e94",
    "name": "BK Pump update",
    "links": [
      "7308b380.46a7cc"
    ],
    "x": 235,
    "y": 640,
    "wires": [
      [
        "6be8c2c1.91bbec"
      ]
    ]
  },
  {
    "id": "6be8c2c1.91bbec",
    "type": "switch",
    "z": "c68db1a2.68e94",
    "name": "Pump state",
    "property": "bk_pump",
    "propertyType": "global",
    "rules": [
      {
        "t": "eq",
        "v": "1",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "0",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 367,
    "y": 660,
    "wires": [
      [
        "d8b030d6.41521"
      ],
      [
        "56551dca.c51764"
      ]
    ]
  },
  {
    "id": "d8b030d6.41521",
    "type": "change",
    "z": "c68db1a2.68e94",
    "name": "pump - on colour",
    "rules": [
      {
        "t": "set",
        "p": "colour",
        "pt": "msg",
        "to": "gold",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 587,
    "y": 660,
    "wires": [
      [
        "b968206f.612c"
      ]
    ]
  },
  {
    "id": "56551dca.c51764",
    "type": "change",
    "z": "c68db1a2.68e94",
    "name": "pump - off colour",
    "rules": [
      {
        "t": "set",
        "p": "colour",
        "pt": "msg",
        "to": "grey",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 587,
    "y": 700,
    "wires": [
      [
        "b968206f.612c"
      ]
    ]
  },
  {
    "id": "b968206f.612c",
    "type": "link out",
    "z": "c68db1a2.68e94",
    "name": "BK Pump button colour update",
    "links": [
      "8dd15a37.85cf18"
    ],
    "x": 752,
    "y": 680,
    "wires": []
  },
  {
    "id": "75b3b735.a84688",
    "type": "inject",
    "z": "c68db1a2.68e94",
    "name": "bk pump button init",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "x": 150,
    "y": 700,
    "wires": [
      [
        "56551dca.c51764"
      ]
    ]
  },
  {
    "id": "7ab36cb1.2781f4",
    "type": "link in",
    "z": "c68db1a2.68e94",
    "name": "HLT Pump update",
    "links": [
      "9af9003d.8fff7"
    ],
    "x": 135,
    "y": 800,
    "wires": [
      [
        "d290d08a.e77ae"
      ]
    ]
  },
  {
    "id": "10c37f22.613e51",
    "type": "link in",
    "z": "c68db1a2.68e94",
    "name": "MLT Pump update",
    "links": [
      "3673343d.14a55c"
    ],
    "x": 135,
    "y": 840,
    "wires": [
      [
        "9977bcdc.871a2"
      ]
    ]
  },
  {
    "id": "5e353869.2c0848",
    "type": "link in",
    "z": "c68db1a2.68e94",
    "name": "BK Pump update",
    "links": [
      "7308b380.46a7cc"
    ],
    "x": 135,
    "y": 880,
    "wires": [
      [
        "f3f3809d.be14"
      ]
    ]
  },
  {
    "id": "d290d08a.e77ae",
    "type": "change",
    "z": "c68db1a2.68e94",
    "name": "HLT Pump Update",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "hlt_pump",
        "tot": "global"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 270,
    "y": 800,
    "wires": [
      [
        "49e91a29.a5de34"
      ]
    ]
  },
  {
    "id": "9977bcdc.871a2",
    "type": "change",
    "z": "c68db1a2.68e94",
    "name": "MLT Pump Update",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "mlt_pump",
        "tot": "global"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 270,
    "y": 840,
    "wires": [
      [
        "500130b5.9f959"
      ]
    ]
  },
  {
    "id": "f3f3809d.be14",
    "type": "change",
    "z": "c68db1a2.68e94",
    "name": "BK Pump Update",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "bk_pump",
        "tot": "global"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 270,
    "y": 880,
    "wires": [
      [
        "ca1121c4.6132e"
      ]
    ]
  },
  {
    "id": "49e91a29.a5de34",
    "type": "rpi-gpio out",
    "z": "c68db1a2.68e94",
    "name": "HLT Pump GPIO",
    "pin": "40",
    "set": "",
    "level": "0",
    "freq": "",
    "out": "out",
    "x": 490,
    "y": 800,
    "wires": []
  },
  {
    "id": "500130b5.9f959",
    "type": "rpi-gpio out",
    "z": "c68db1a2.68e94",
    "name": "MLT Pump GPIO",
    "pin": "37",
    "set": "",
    "level": "0",
    "freq": "",
    "out": "out",
    "x": 490,
    "y": 840,
    "wires": []
  },
  {
    "id": "ca1121c4.6132e",
    "type": "rpi-gpio out",
    "z": "c68db1a2.68e94",
    "name": "BK Pump GPIO",
    "pin": "38",
    "set": "",
    "level": "0",
    "freq": "",
    "out": "out",
    "x": 480,
    "y": 880,
    "wires": []
  }
]