flows/Pump control.json
[
  {
    "id": "c68db1a2.68e94",
    "type": "tab",
    "label": "Pump control",
    "disabled": false,
    "info": ""
  },
  {
    "id": "27686659.80178a",
    "type": "link in",
    "z": "c68db1a2.68e94",
    "name": "HLT Pump button colour",
    "links": [
      "8035a98.dc55558"
    ],
    "x": 115,
    "y": 100,
    "wires": [
      [
        "37dfd73f.3deab8"
      ]
    ]
  },
  {
    "id": "f3add5fe.49fa48",
    "type": "switch",
    "z": "c68db1a2.68e94",
    "name": "Pump state",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "false"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 460,
    "y": 100,
    "wires": [
      [
        "ded013a4.d2508"
      ],
      [
        "fe67cdef.63926"
      ]
    ]
  },
  {
    "id": "ded013a4.d2508",
    "type": "change",
    "z": "c68db1a2.68e94",
    "name": "Turn on",
    "rules": [
      {
        "t": "set",
        "p": "hlt_pump",
        "pt": "global",
        "to": "1",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "1",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 640,
    "y": 80,
    "wires": [
      [
        "49e91a29.a5de34"
      ]
    ]
  },
  {
    "id": "fe67cdef.63926",
    "type": "change",
    "z": "c68db1a2.68e94",
    "name": "Turn off",
    "rules": [
      {
        "t": "set",
        "p": "hlt_pump",
        "pt": "global",
        "to": "0",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "0",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 640,
    "y": 120,
    "wires": [
      [
        "49e91a29.a5de34"
      ]
    ]
  },
  {
    "id": "e5eeeb09.8041e8",
    "type": "link in",
    "z": "c68db1a2.68e94",
    "name": "MLT Pump button colour",
    "links": [],
    "x": 115,
    "y": 180,
    "wires": [
      [
        "b73c6b10.f42fe8"
      ]
    ]
  },
  {
    "id": "b51b2ff8.4ea66",
    "type": "switch",
    "z": "c68db1a2.68e94",
    "name": "Pump state",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "false"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 460,
    "y": 180,
    "wires": [
      [
        "bb14fd46.3ca8f"
      ],
      [
        "9342513b.07c7"
      ]
    ]
  },
  {
    "id": "bb14fd46.3ca8f",
    "type": "change",
    "z": "c68db1a2.68e94",
    "name": "Turn on",
    "rules": [
      {
        "t": "set",
        "p": "mlt_pump",
        "pt": "global",
        "to": "1",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "1",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 640,
    "y": 160,
    "wires": [
      [
        "500130b5.9f959"
      ]
    ]
  },
  {
    "id": "9342513b.07c7",
    "type": "change",
    "z": "c68db1a2.68e94",
    "name": "Turn off",
    "rules": [
      {
        "t": "set",
        "p": "mlt_pump",
        "pt": "global",
        "to": "0",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "0",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 640,
    "y": 200,
    "wires": [
      [
        "500130b5.9f959"
      ]
    ]
  },
  {
    "id": "8dd15a37.85cf18",
    "type": "link in",
    "z": "c68db1a2.68e94",
    "name": "BK Pump button colour",
    "links": [
      "b968206f.612c"
    ],
    "x": 115,
    "y": 260,
    "wires": [
      [
        "6d456b34.463524"
      ]
    ]
  },
  {
    "id": "65536a4e.bf0264",
    "type": "switch",
    "z": "c68db1a2.68e94",
    "name": "Pump state",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "false"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 460,
    "y": 260,
    "wires": [
      [
        "a6437a19.5ab9d8"
      ],
      [
        "6a977753.a375c8"
      ]
    ]
  },
  {
    "id": "a6437a19.5ab9d8",
    "type": "change",
    "z": "c68db1a2.68e94",
    "name": "Turn on",
    "rules": [
      {
        "t": "set",
        "p": "bk_pump",
        "pt": "global",
        "to": "1",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "1",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 640,
    "y": 240,
    "wires": [
      [
        "ca1121c4.6132e"
      ]
    ]
  },
  {
    "id": "6a977753.a375c8",
    "type": "change",
    "z": "c68db1a2.68e94",
    "name": "Turn off",
    "rules": [
      {
        "t": "set",
        "p": "bk_pump",
        "pt": "global",
        "to": "0",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "0",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 640,
    "y": 280,
    "wires": [
      [
        "ca1121c4.6132e"
      ]
    ]
  },
  {
    "id": "49e91a29.a5de34",
    "type": "rpi-gpio out",
    "z": "c68db1a2.68e94",
    "name": "HLT Pump GPIO",
    "pin": "40",
    "set": true,
    "level": "0",
    "freq": "",
    "out": "out",
    "x": 870,
    "y": 100,
    "wires": []
  },
  {
    "id": "500130b5.9f959",
    "type": "rpi-gpio out",
    "z": "c68db1a2.68e94",
    "name": "MLT Pump GPIO",
    "pin": "37",
    "set": true,
    "level": "0",
    "freq": "",
    "out": "out",
    "x": 870,
    "y": 180,
    "wires": []
  },
  {
    "id": "ca1121c4.6132e",
    "type": "rpi-gpio out",
    "z": "c68db1a2.68e94",
    "name": "BK Pump GPIO",
    "pin": "38",
    "set": true,
    "level": "0",
    "freq": "",
    "out": "out",
    "x": 860,
    "y": 260,
    "wires": []
  },
  {
    "id": "82b7a3f0.12d99",
    "type": "link in",
    "z": "c68db1a2.68e94",
    "name": "HLT Pump manual fire",
    "links": [
      "f3fef30.652ef1",
      "35c856bc.ac4daa"
    ],
    "x": 115,
    "y": 140,
    "wires": [
      [
        "b73c6b10.f42fe8"
      ]
    ]
  },
  {
    "id": "b73c6b10.f42fe8",
    "type": "ui_switch",
    "z": "c68db1a2.68e94",
    "name": "",
    "label": "MLT Pump",
    "tooltip": "",
    "group": "ea5e6691.a9d4b8",
    "order": 11,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "x": 250,
    "y": 180,
    "wires": [
      [
        "b51b2ff8.4ea66"
      ]
    ]
  },
  {
    "id": "37dfd73f.3deab8",
    "type": "ui_switch",
    "z": "c68db1a2.68e94",
    "name": "",
    "label": "HLT Pump",
    "tooltip": "",
    "group": "a0e00a00.81b428",
    "order": 12,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "x": 250,
    "y": 100,
    "wires": [
      [
        "f3add5fe.49fa48"
      ]
    ]
  },
  {
    "id": "6d456b34.463524",
    "type": "ui_switch",
    "z": "c68db1a2.68e94",
    "name": "",
    "label": "BK Pump",
    "tooltip": "",
    "group": "9d59abb0.326b08",
    "order": 10,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "x": 240,
    "y": 260,
    "wires": [
      [
        "65536a4e.bf0264"
      ]
    ]
  }
]