flows/UI navigation and style.json
[
  {
    "id": "e58cd1d0.00b6",
    "type": "tab",
    "label": "UI navigation and style",
    "disabled": false,
    "info": ""
  },
  {
    "id": "7235ec4d.974334",
    "type": "ui_template",
    "z": "e58cd1d0.00b6",
    "group": "a0e00a00.81b428",
    "name": "Ensure dashboard is displayed as 1 or 2 columns",
    "order": 10,
    "width": 0,
    "height": 0,
    "format": "<style>\n@media only screen and (min-width: 1080px) { .masonry-container {\n    width: 1080px;\n}\n</style>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "global",
    "x": 250,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "f4df9cc7.b6648",
    "type": "ui_template",
    "z": "e58cd1d0.00b6",
    "group": "a0e00a00.81b428",
    "name": "Centre group titles",
    "order": 11,
    "width": 0,
    "height": 0,
    "format": "<style>\n.nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n    text-align: center;\n}\nbody {\n  overflow: hidden; /* Hide scrollbars */\n}\n</style>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "templateScope": "global",
    "x": 150,
    "y": 120,
    "wires": [
      []
    ]
  },
  {
    "id": "2c5906f6.9a581a",
    "type": "ui_ui_control",
    "z": "e58cd1d0.00b6",
    "name": "",
    "events": "all",
    "x": 590,
    "y": 300,
    "wires": [
      []
    ]
  },
  {
    "id": "e29c5322.5279c",
    "type": "ui_button",
    "z": "e58cd1d0.00b6",
    "name": "",
    "group": "ba76eae3.a07d28",
    "order": 1,
    "width": 6,
    "height": 1,
    "passthru": false,
    "label": "General",
    "tooltip": "",
    "color": "#757575",
    "bgcolor": "white",
    "icon": "",
    "payload": "7",
    "payloadType": "num",
    "topic": "",
    "x": 100,
    "y": 220,
    "wires": [
      [
        "2c5906f6.9a581a"
      ]
    ]
  },
  {
    "id": "2238fe8f.a012d2",
    "type": "ui_button",
    "z": "e58cd1d0.00b6",
    "name": "",
    "group": "226e9c90.894b14",
    "order": 7,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Back",
    "tooltip": "",
    "color": "#757575",
    "bgcolor": "#e0e0e0",
    "icon": "",
    "payload": "1",
    "payloadType": "num",
    "topic": "",
    "x": 110,
    "y": 260,
    "wires": [
      [
        "2c5906f6.9a581a"
      ]
    ]
  }
]